body {
  background-color: #AFB6BD;
  color: #3f3f3f;
  line-height: 1.5;
  font-size: 82%;
  font-family: helvetica neue, arial, sans-serif;
}

h3 {
  margin-bottom: 0.5em;
}

button {
  float: right;
  margin-bottom: 10px;
}

a {
  color: #1564c2;
  text-decoration: none;
}

a:hover {
  color: #1564c2;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.mono {
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
}

.mono-12px {
  font-size: 12px;
}

span.logo {
  float: left;
}

div > span.logo {
  float: left;
  margin-top: 8px;
}

p.error {
  color: #A22;
  font-weight: bold;
}

#copyButton, #copyConfirmation {
  float: left;
}

#copyConfirmation {
  display: none;
  margin-left: 1em;
  color: #2A2;
}

#startScreen {
  background-color: #FFF;
  margin: 100px 60px auto;
  padding: 1.5em;
  border: 1em solid #F5F5F5;
}

#pageContent {
  margin: 10px 60px 0 60px;
}

#pageContent h1 {
  margin: 0 0 5px;
  padding: 0;
  border-bottom: 1px solid #BABEC1;
  font-size: 180%;
  font-weight: normal;
}

#footer2 {
  margin-top: 1em;
  padding-top: .5em;
  border-top: 1px solid #BABEC1;
  text-align: center;
}

div.info-section {
  margin-left: 2em;
}

div.info-section p {
  margin: 0.3em 0;
}

.token-input {
  padding-right: 1em;
}

.token-input input {
  width: 100%;
}

.token-confirm {
  padding-right: 1em;
}

.note {
  font-size: 80%;
}

.exception-stack-trace {
  overflow: auto;
  padding: 0 1em;
  border: 1px solid #F5F5F5;
}