tr.agents td {
  vertical-align: middle;
  border-bottom: 1px dashed gray;
}

table.agentLines {
  height: 25px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 0;
}

table.agentLines td span {
  font-size: 10px;
  text-align: center;
}

table.agentLines td,
table.agentScale td {
  margin: 0;
  padding: 0;
  font-size: 0;
  border: none;
}

table.agentLines td.left {
  border-left: 1px dotted #eee;
}

table.agentLines td.right {
  border-right: 1px dotted #eee;
}

table.agentScale {
  height: 25px;
  margin-top: 0;
  margin-left: 1px;
  padding-top: 0;
  border: none;
  border-collapse: collapse;
  text-align: center;
  font-size: 0;
}

table.agentScale tr.rulerUp td {
  height: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

table.agentScale tr.rulerDown td {
  height: 5px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

table.agentScale td div {
  margin-left: 2px;
  font-size: 10px;
  text-align: left;
}

div.agents_scrollable {
  overflow: auto;
}

div.noData {
  margin: 0;
  padding: 0;
  font-size: 120%;
  text-align: center;
}

table.agentStatsFilter {
  width: 100%;
  background-color: #f5f5f5;
  border-collapse: collapse;
}

table.agentStatsFilter td {
  padding: 0.8em 0.6em 0.6em 0.8em;
}

table.agentStatsFilter td.dateFromLabel {
  width: 50px;
}

table.agentStatsFilter td.dateToLabel {
  width: 30px;
}

table.agentStatsFilter td.dateFromInput, table.agentStatsFilter td.dateToInput {
  width: 100px;
  padding-right: 10px;
}

table.agentStatsFilter input.textfield {
  width: 8em;
}

.agentStatistics {
  margin-top: 1em;
}

