#content {
  margin-top: 1em;
}

form label {
  cursor: pointer;
}

.fantom {
  display: none;
}

.hidden {
  visibility: hidden;
}

tr.hidden {
  display: none;
}

.pool-width {
  width: 90%;
  margin-left: 3px;
}

.pool-box {
  margin-top: 2ex;
  margin-bottom: 2ex;
  padding: 0;
}

.pool-box > .head-row {
  background-color: #F2F3F5;
  margin: 0;
  padding: 5px;
}

.pool-box .head-row p {
  margin: 0;
}

.pool-name-title {
  padding-left: 2px;
  font-size: larger;
  font-weight: bold;
}

.pool-numbers {
  padding-right: 1em;
  padding-left: 1em;
}

table.pool-layout-table {
  margin: 6px 0;
}

.pool-layout-table th, .pool-layout-table td {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: top;
}

.pool-layout-table table {
  border-collapse: collapse;
}

.pool-layout-header {
  padding: 2px;
  text-align: left;
}

.agents td, .agents .head-row {
  border-bottom: 1px solid #cacaca;
}

.agents div.head-row {
  min-height: 24px;
  padding: 6px 0 10px;
}

th.projects, td.projects {
  background-color: #F2F3F5;
  padding: 1em 0.7em 0.7em 0.7em;
}

td.projects div.head-row {
  margin: -7px 0 5px 0;
}

tr.agt-row > td {
  vertical-align: middle;
  padding-top: 1px;
  padding-bottom: 1px;
}

tr.agt-row td.agentNameRow {
  width: 20%;
  padding-left: 7px;
  white-space: nowrap;
}

tr.agt-row > td img {
  margin-top: 0;
  margin-bottom: 0;
}

tr.agt-row span.agent-name {
  padding-left: 5px;
  font-weight: bold;
}

.agt-row:hover {
  background-color: #F2F3F5;
}

.agt-row .agt-remove-link {
  visibility: hidden;
  padding-right: 7px;
}

.agt-row:hover .agt-remove-link {
  visibility: visible;
}

div.item-rect {
  display: inline-block;
  margin: 6px;
  vertical-align: middle;
}

div.item-rect.filtered-out {
  display: none;
}

div.agt.item-rect {
  overflow: hidden;
  width: 120px;
  height: 7ex;
  border: solid #CECECE 1pt;
  cursor: pointer;

  white-space: nowrap;

  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.agt.item-rect.existent {
  background: #FAFAFA;
}

div.agt.item-rect.selected {
  background: #99BFFF;
}

div.agt.item-rect p {
  height: 100%;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
}

div.agt.item-rect.vacant-place {
  border-style: dashed;
}

div.agt.item-rect.vacant-place.disabled {
  cursor: default;
}

div.pro.item-rect {
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.pro.item .bracket {
  color: gray;
}

.moved-here p {
  color: #1564C2;
  font-weight: bold;
}

.removed p {
  color: gray;
  text-decoration: line-through;
}

.associated span {
  color: #1564C2;
  font-weight: bold;
}

.gray {
  color: #808080;
}

.disabled {
  color: gray;
}

.dissociated span {
  color: gray;
  text-decoration: line-through;
}

.deleted-pool a, .disabled a {
  color: gray;
  text-decoration: none;
  cursor: default;
}

.pool-projects-dialog {
  width: 48em;
}

.dissociate-from-other-pools {
  float: left;
  margin-left: 9px;
}

#dissociateFromOtherPoolsLabel {
  cursor: pointer;
}

.pool-delete {
  float: right;
  padding: 0 5px 0 7px;
  border-left: 1px solid #ccc;
}

.pool-rename {
  float: right;
  padding-right: 7px;
}

span.agent-bad-status {
  color: #ED2C10;
}

.project-row td {
  padding: 3px 5px;
}

.project-row .project-name {
  white-space: nowrap;
}

.project-row:hover {
  background-color: white;
}

.project-row .project-remove-link {
  visibility: hidden;
  padding-right: 3px;
}

.project-row:hover .project-remove-link {
  visibility: visible;
}

.project-row .another-pools-span,
.project-row .another-pools-span a,
.project-row .another-pools-span a:hover {
  color: #888;
}
