/*
 * CSS for Standard tree layout
 * Copyright (C) 2005 SilverStripe Limited
 * Feel free to use this on your websites, but please leave this message in the fies
 * http://www.silverstripe.com/blog
 */

.tree {
  width: auto;
  margin: 0;
  padding: 0;
}

.tree, .tree ul {
  padding-left: 0;
}

.tree ul {
  margin-left: 16px;
}

.tree li.closed ul {
  display: none;
}

.tree li {
  background: url(../../img/tree/i-repeater.gif) 0 0 repeat-y;
  display: block;
  width: auto;
  list-style: none;
}

.tree li.last {
  background-image: none;
  list-style: none;
}

/* Span-A: I/L/I glpyhs */
.tree span.a {
  background: url(../../img/tree/t.gif) 0 50% no-repeat;
  display: block;
}

.tree span.a.last {
  background-image: url(../../img/tree/l.gif);
}

/* Span-B: Plus/Minus icon */
.tree span.b {
}

.tree span.a.children span.b {
  display: inline-block;
  background: url(../../img/tree/minus.gif) 0 50% no-repeat;
  cursor: pointer;
}

.tree li.closed span.a.children span.b {
  background-image: url(../../img/tree/plus.gif);
}

/* Span-C: Spacing and extending tree line below the icon */
.tree span.c {
  margin-left: 16px;
}

.tree span.a.children span.c {
  background: url(../../img/tree/i-bottom.gif) 0 50% no-repeat;
}

.tree span.a.spanClosed span.c {
  background-image: none;
}

/* Anchor tag: Page icon */
.tree a {
  white-space: nowrap;
  overflow: hidden;

  padding: 0 0 0 18px;

  background: url(../../img/tree/page-file.gif) 0 50% no-repeat;
}

.tree span.a.children a {
  background-image: url(../../img/tree/page-openfoldericon.gif);
}

.tree span.a.children.spanClosed a {
  background-image: url(../../img/tree/page-foldericon.gif);
}

/* Unformatted tree */
.tree.unformatted li {
  background-image: none;
  padding-left: 16px;
}

.tree.unformatted li li {
  background-image: none;
  padding-left: 0;
}

/*
 * Divs, by default store vertically aligned data
 */

.tree li div {
  float: right;
  clear: right;
  height: 1em;
  margin-top: -26px;
}

/* As inside DIVs should be treated normally */
.tree div a {
  padding: 0;
  background-image: none;
  height: auto;
}

.tree li A:link, .tree li A:hover, .tree li A:visited {
  color: #111111;
}

.tree li .over {
  background-color: pink;
}

.filesize {
  margin-left: 1em;
}

.treeTotals {
  margin: 4px 0 0 7px;
}
