/* Lazy tree selectors */

.lazy-tree {
  width: auto;
  margin: 0;
  padding: 0;
}

.lazy-tree a {
  color: #111;
  white-space: nowrap;
}

.lazy-tree, .lazy-tree .lazy-subtree {
  padding-left: 0;
}

.lazy-tree .lazy-subtree {
  margin-left: 16px;
}

.lazy-tree .leaf, .lazy-tree .open, .lazy-tree .closed {
  background: url(../../img/tree/i-repeater.gif) 0 0 repeat-y;
}

.lazy-tree .last {
  background-image: none;
}

.lazy-tree .open > span.a, .lazy-tree .closed > span.a {
  background: url(../../img/tree/l.gif) 0 -15px no-repeat;
}

.lazy-tree .open > span.a > span.b {
  background: url(../../img/tree/minus.gif) 0 -15px no-repeat;
}

.lazy-tree .open > span.a > span.b > span.c {
  background: url(../../img/tree/page-openfoldericon.gif) 16px 3px no-repeat;
  cursor: pointer;
  padding-left: 34px;
}

.lazy-tree .closed .lazy-subtree {
  display: none;
}

.lazy-tree .closed > span.a > span.b {
  background: url(../../img/tree/plus.gif) 0 -15px no-repeat;
}

.lazy-tree .closed > span.a > span.b > span.c {
  background: url(../../img/tree/page-foldericon.gif) 16px 3px no-repeat;
  padding-left: 34px;
  cursor: pointer;
}

.lazy-tree .leaf > span.a > span.b {
  background: url(../../img/tree/t.gif) 0 50% no-repeat;
}

.lazy-tree .leaf.last > span.a > span.b {
  background: url(../../img/tree/l.gif) 0 50% no-repeat;
}

.lazy-tree .leaf > span.a > span.b > span.c {
  background: url(../../img/tree/page-file.gif) 15px 50% no-repeat;
  overflow: hidden;
  padding-left: 32px;
}

/* TW-20880 */
.lazy-tree .leaf.last > span.a, .lazy-tree .leaf.last > span.a > span.b {
  display: block;
}

.lazy-tree .filesize {
  margin-left: 0.5em;
  color: #3F3F3F;
  font-size: 80%;
}

.lazy-tree .emptyMessage {
  font-style: italic;
  color: #888;
}

.lazy-tree .tree-error {
  color: red;
  padding-left: 16px;
}

/* Archives */

.lazy-tree .closed > span.a > span.b > span.c.archive {
  background: url(../../img/tree/archive.png) 16px 1px no-repeat;
}

.lazy-tree .open > span.a > span.b > span.c.archive {
  background: url(../../img/tree/openArchive.png) 16px 1px no-repeat;
}

/* File browse */

.fileBrowse {
  width: 70%;
}

.headMessage {
  margin: 0.6em 0;
}

.headMessage div.downloadLink {
  float: right;
}

.headMessage div.downloadLink a.downloadLink {
  float: none;
}

.fileBrowse .upload {
  margin-top: 1em;
}

.fileBrowse .fileName {
  font-weight: bold;
}

.fileBrowse .fileSize {
  color: #888888;
}

.fileBrowse .fileOperations {
  color: #999999;
  margin-left: 2em;
}

.fileBrowse .fileOperations a {
  margin: 0 2px;
}

.fileBrowse .fileOperations a.downloadLink {
  float: none;
}

.fileBrowse a.delete {
  background: url(../../img/close.gif) no-repeat;
  padding-left: 16px;
}

.fileBrowse pre {
  clear: both;
}

.uploadDialog input {
  margin-left: 1em;
}

.uploadDialog #fileName {
  width: 25em;
}

.uploadDialog #uploadError {
  color: #ED2C10;
  padding-left: 4.2em;
}

.vcsTreeHandle {
  position: relative;
  top: 3px;
}