/* UFD dropdown styled as a TC popup */
.ufd.popup {
  background: #FFF url(../../../../img/branch_dark.png) no-repeat 3px 3px;
  height: 22px;
  padding-left: 20px;
  border: 1px solid #CECECE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ufd.popup.disabled {
  background-color: #FCFCFC;
  background-image: url(../../../../img/branch.png);
  border: 1px solid #E6E6E6;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ufd.popup input {
  background-color: transparent;
  height: 20px;
  padding: 1px 3px;
  line-height: 20px !important;
  font-weight: bold;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ufd.popup input:focus {
  border: none;
  outline: none;
}

.ufd.popup input.disabled {
  background-color: #FCFCFC;
  color: #CACACA;
}

.ufd.popup button {
  background: url(../../../../img/popUpControl.gif) no-repeat left 3px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ufd.popup button.hover {
  background-image: url(../../../../img/popUpControl_dark.png);
}

.ufd.popup button.mouseDown {
  background-image: url(../../../../img/popUpControl_dark.png);
}

.ufd.popup button.disabled.hover {
  background-image: url(../../../../img/popUpControl.gif);
}

#ufd-container .popup div.list-scroll {
  border: 1px solid #CECECE;
  background-color: #FFF;
}

#ufd-container .popup li {
  padding-left: 5px;
  background-color: white;
}

#ufd-container .popup li em {
  font-weight: bold;
  font-style: normal;
}

#ufd-container .popup li.active {
  background-color: #3773C9;
  color: white;
}

#ufd-container .popup li.unfilterable.active {
  background: #FFF;
  color: #151515;
}

#ufd-container .popup li.optgroup {
  font-weight: bold;
}

#ufd-container .popup li.option {
  padding-left: 15px;
}

#ufd-container .default li.nogroup {
  padding-left: 5px;
}
