<c:set var="userBuildDetailsContent"><bs:trimWhitespace>

  <c:if test="${buildData.personal}">
    <div>
      <c:set var="myBuild" value="${currentUser.id == buildData.owner.id}"/>
      <bs:personalChangesIcon myChanges="${myBuild}"/>
      <bs:personalBuildPrefix buildPromotion="${buildData.buildPromotion}"/>:
      <bs:out><bs:personalBuildComment buildPromotion="${buildData.buildPromotion}"/></bs:out>
    </div>
  </c:if>

  <bs:buildCommentLong build="${buildData}"/>

  <c:if test="${buildData.pinned}">
    <c:set var="pintext_line1"><bs:_pinTextLine1 build="${buildData}"/></c:set>
    <c:set var="pintext_line2"><bs:_pinTextLine2 build="${buildData}"/></c:set>
    <bs:icon icon="../pinned.png"/>
    ${pintext_line1}
    ${pintext_line2}
    <authz:authorize projectId="${buildData.projectId}" allPermissions="PIN_UNPIN_BUILD">
      <bs:pinLink className="btn btn_mini" build="${buildData}" pin="false" onBuildPage="true">Unpin</bs:pinLink>
      <forms:saving id="progressIcon${buildId}" className="progressRingInline"/>
    </authz:authorize>
  </c:if>


  <c:if test="${not empty buildData.tags}">
    <div class="tags">
      <bs:icon icon="../tags.png"/>
      <tags:showTags tags="${buildData.tags}" buildTypeId="${buildData.buildTypeId}"/>
      <tags:editTagsLink className="btn btn_mini" build="${buildData}">Edit</tags:editTagsLink>
    </div>
  </c:if>


</bs:trimWhitespace></c:set>

<c:if test="${not empty userBuildDetailsContent}">
  <div id="userBuildDetails">
      ${userBuildDetailsContent}
  </div>
</c:if>
