/*colors: ['#FFE0E0', '#E0ECF8', '#F8ECE0', '#E0E0F8', '#F7F8E0',*/
         /*'#ECE0FF', '#ECF8E0', '#F8E0F7', '#E0F8E0', '#F8E0EC',*/
         /*'#E0F8EC', '#FAFAFA', '#E0F8F7', '#E0F2F7', '#FFE6E0',*/
         /*'#F7F2E0', '#E0E6F8', '#E6E0F8', '#F1F8E0', '#F2E0F7',*/
         /*'#E6F8E0', '#F8E0F1', '#E0F8E6', '#FFE0E6', '#E0F8F1'],*/

/*When updating colors number don't forget to update corresponding numbers in buildLogTree.js*/

.rTree .c0 {
  background-color: #FFE0E0;

  background: -webkit-gradient(linear, left top, right top, from(#FFE0E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #FFE0E0);
  background: -moz-linear-gradient(right, #FFF, #FFE0E0);
  background: -ms-linear-gradient(right, #FFF, #FFE0E0);
  background: -o-linear-gradient(right, #FFF, #FFE0E0);
  background: linear-gradient(right, #FFF, #FFE0E0);
}

.rTree .c1 {
  background-color: #E0ECF8;

  background: -webkit-gradient(linear, left top, right top, from(#E0ECF8), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0ECF8);
  background: -moz-linear-gradient(right, #FFF, #E0ECF8);
  background: -ms-linear-gradient(right, #FFF, #E0ECF8);
  background: -o-linear-gradient(right, #FFF, #E0ECF8);
  background: linear-gradient(right, #FFF, #E0ECF8);
}

.rTree .c2 {
  background-color: #F8ECE0;

  background: -webkit-gradient(linear, left top, right top, from(#F8ECE0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F8ECE0);
  background: -moz-linear-gradient(right, #FFF, #F8ECE0);
  background: -ms-linear-gradient(right, #FFF, #F8ECE0);
  background: -o-linear-gradient(right, #FFF, #F8ECE0);
  background: linear-gradient(right, #FFF, #F8ECE0);
}

.rTree .c3 {
  background-color: #E0E0F8;

  background: -webkit-gradient(linear, left top, right top, from(#E0E0F8), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0E0F8);
  background: -moz-linear-gradient(right, #FFF, #E0E0F8);
  background: -ms-linear-gradient(right, #FFF, #E0E0F8);
  background: -o-linear-gradient(right, #FFF, #E0E0F8);
  background: linear-gradient(right, #FFF, #E0E0F8);
}

.rTree .c4 {
  background-color: #F7F8E0;

  background: -webkit-gradient(linear, left top, right top, from(#F7F8E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F7F8E0);
  background: -moz-linear-gradient(right, #FFF, #F7F8E0);
  background: -ms-linear-gradient(right, #FFF, #F7F8E0);
  background: -o-linear-gradient(right, #FFF, #F7F8E0);
  background: linear-gradient(right, #FFF, #F7F8E0);
}

.rTree .c5 {
  background-color: #ECE0FF;

  background: -webkit-gradient(linear, left top, right top, from(#ECE0FF), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #ECE0FF);
  background: -moz-linear-gradient(right, #FFF, #ECE0FF);
  background: -ms-linear-gradient(right, #FFF, #ECE0FF);
  background: -o-linear-gradient(right, #FFF, #ECE0FF);
  background: linear-gradient(right, #FFF, #ECE0FF);
}

.rTree .c6 {
  background-color: #ECF8E0;

  background: -webkit-gradient(linear, left top, right top, from(#ECF8E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #ECF8E0);
  background: -moz-linear-gradient(right, #FFF, #ECF8E0);
  background: -ms-linear-gradient(right, #FFF, #ECF8E0);
  background: -o-linear-gradient(right, #FFF, #ECF8E0);
  background: linear-gradient(right, #FFF, #ECF8E0);
}

.rTree .c7 {
  background-color: #F8E0F7;

  background: -webkit-gradient(linear, left top, right top, from(#F8E0F7), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F8E0F7);
  background: -moz-linear-gradient(right, #FFF, #F8E0F7);
  background: -ms-linear-gradient(right, #FFF, #F8E0F7);
  background: -o-linear-gradient(right, #FFF, #F8E0F7);
  background: linear-gradient(right, #FFF, #F8E0F7);
}

.rTree .c8 {
  background-color: #E0F8E0;

  background: -webkit-gradient(linear, left top, right top, from(#E0F8E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0F8E0);
  background: -moz-linear-gradient(right, #FFF, #E0F8E0);
  background: -ms-linear-gradient(right, #FFF, #E0F8E0);
  background: -o-linear-gradient(right, #FFF, #E0F8E0);
  background: linear-gradient(right, #FFF, #E0F8E0);
}

.rTree .c9 {
  background-color: #F8E0EC;

  background: -webkit-gradient(linear, left top, right top, from(#F8E0EC), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F8E0EC);
  background: -moz-linear-gradient(right, #FFF, #F8E0EC);
  background: -ms-linear-gradient(right, #FFF, #F8E0EC);
  background: -o-linear-gradient(right, #FFF, #F8E0EC);
  background: linear-gradient(right, #FFF, #F8E0EC);
}

.rTree .c10 {
  background-color: #E0F8EC;

  background: -webkit-gradient(linear, left top, right top, from(#E0F8EC), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0F8EC);
  background: -moz-linear-gradient(right, #FFF, #E0F8EC);
  background: -ms-linear-gradient(right, #FFF, #E0F8EC);
  background: -o-linear-gradient(right, #FFF, #E0F8EC);
  background: linear-gradient(right, #FFF, #E0F8EC);
}

.rTree .c11 {
  background-color: #FAFAFA;

  background: -webkit-gradient(linear, left top, right top, from(#FAFAFA), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #FAFAFA);
  background: -moz-linear-gradient(right, #FFF, #FAFAFA);
  background: -ms-linear-gradient(right, #FFF, #FAFAFA);
  background: -o-linear-gradient(right, #FFF, #FAFAFA);
  background: linear-gradient(right, #FFF, #FAFAFA);
}

.rTree .c12 {
  background-color: #E0F8F7;

  background: -webkit-gradient(linear, left top, right top, from(#E0F8F7), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0F8F7);
  background: -moz-linear-gradient(right, #FFF, #E0F8F7);
  background: -ms-linear-gradient(right, #FFF, #E0F8F7);
  background: -o-linear-gradient(right, #FFF, #E0F8F7);
  background: linear-gradient(right, #FFF, #E0F8F7);
}

.rTree .c13 {
  background-color: #FFE6E0;

  background: -webkit-gradient(linear, left top, right top, from(#FFE6E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #FFE6E0);
  background: -moz-linear-gradient(right, #FFF, #FFE6E0);
  background: -ms-linear-gradient(right, #FFF, #FFE6E0);
  background: -o-linear-gradient(right, #FFF, #FFE6E0);
  background: linear-gradient(right, #FFF, #FFE6E0);
}

.rTree .c14 {
  background-color: #E0F2F7;

  background: -webkit-gradient(linear, left top, right top, from(#E0F2F7), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0F2F7);
  background: -moz-linear-gradient(right, #FFF, #E0F2F7);
  background: -ms-linear-gradient(right, #FFF, #E0F2F7);
  background: -o-linear-gradient(right, #FFF, #E0F2F7);
  background: linear-gradient(right, #FFF, #E0F2F7);
}

.rTree .c15 {
  background-color: #F7F2E0;

  background: -webkit-gradient(linear, left top, right top, from(#F7F2E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F7F2E0);
  background: -moz-linear-gradient(right, #FFF, #F7F2E0);
  background: -ms-linear-gradient(right, #FFF, #F7F2E0);
  background: -o-linear-gradient(right, #FFF, #F7F2E0);
  background: linear-gradient(right, #FFF, #F7F2E0);
}

.rTree .c16 {
  background-color: #E0E6F8;

  background: -webkit-gradient(linear, left top, right top, from(#E0E6F8), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0E6F8);
  background: -moz-linear-gradient(right, #FFF, #E0E6F8);
  background: -ms-linear-gradient(right, #FFF, #E0E6F8);
  background: -o-linear-gradient(right, #FFF, #E0E6F8);
  background: linear-gradient(right, #FFF, #E0E6F8);
}

.rTree .c17 {
  background-color: #E6E0F8;

  background: -webkit-gradient(linear, left top, right top, from(#E6E0F8), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E6E0F8);
  background: -moz-linear-gradient(right, #FFF, #E6E0F8);
  background: -ms-linear-gradient(right, #FFF, #E6E0F8);
  background: -o-linear-gradient(right, #FFF, #E6E0F8);
  background: linear-gradient(right, #FFF, #E6E0F8);
}

.rTree .c18 {
  background-color: #F1F8E0;

  background: -webkit-gradient(linear, left top, right top, from(#F1F8E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F1F8E0);
  background: -moz-linear-gradient(right, #FFF, #F1F8E0);
  background: -ms-linear-gradient(right, #FFF, #F1F8E0);
  background: -o-linear-gradient(right, #FFF, #F1F8E0);
  background: linear-gradient(right, #FFF, #F1F8E0);
}

.rTree .c19 {
  background-color: #F2E0F7;

  background: -webkit-gradient(linear, left top, right top, from(#F2E0F7), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F2E0F7);
  background: -moz-linear-gradient(right, #FFF, #F2E0F7);
  background: -ms-linear-gradient(right, #FFF, #F2E0F7);
  background: -o-linear-gradient(right, #FFF, #F2E0F7);
  background: linear-gradient(right, #FFF, #F2E0F7);
}

.rTree .c20 {
  background-color: #E6F8E0;

  background: -webkit-gradient(linear, left top, right top, from(#E6F8E0), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E6F8E0);
  background: -moz-linear-gradient(right, #FFF, #E6F8E0);
  background: -ms-linear-gradient(right, #FFF, #E6F8E0);
  background: -o-linear-gradient(right, #FFF, #E6F8E0);
  background: linear-gradient(right, #FFF, #E6F8E0);
}

.rTree .c21 {
  background-color: #F8E0F1;

  background: -webkit-gradient(linear, left top, right top, from(#F8E0F1), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #F8E0F1);
  background: -moz-linear-gradient(right, #FFF, #F8E0F1);
  background: -ms-linear-gradient(right, #FFF, #F8E0F1);
  background: -o-linear-gradient(right, #FFF, #F8E0F1);
  background: linear-gradient(right, #FFF, #F8E0F1);
}

.rTree .c22 {
  background-color: #E0F8E6;

  background: -webkit-gradient(linear, left top, right top, from(#E0F8E6), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0F8E6);
  background: -moz-linear-gradient(right, #FFF, #E0F8E6);
  background: -ms-linear-gradient(right, #FFF, #E0F8E6);
  background: -o-linear-gradient(right, #FFF, #E0F8E6);
  background: linear-gradient(right, #FFF, #E0F8E6);
}

.rTree .c23 {
  background-color: #FFE0E6;

  background: -webkit-gradient(linear, left top, right top, from(#FFE0E6), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #FFE0E6);
  background: -moz-linear-gradient(right, #FFF, #FFE0E6);
  background: -ms-linear-gradient(right, #FFF, #FFE0E6);
  background: -o-linear-gradient(right, #FFF, #FFE0E6);
  background: linear-gradient(right, #FFF, #FFE0E6);
}

.rTree .c24 {
  background-color: #E0F8F1;

  background: -webkit-gradient(linear, left top, right top, from(#E0F8F1), to(#FFF));
  background: -webkit-linear-gradient(right, #FFF, #E0F8F1);
  background: -moz-linear-gradient(right, #FFF, #E0F8F1);
  background: -ms-linear-gradient(right, #FFF, #E0F8F1);
  background: -o-linear-gradient(right, #FFF, #E0F8F1);
  background: linear-gradient(right, #FFF, #E0F8F1);
}

.rTree .hiddenHl {
  background: none;
}
