.rTree .open > .msg > .ts, .rTree .closed > .msg > .ts {
  background: no-repeat right -17px;
  cursor: pointer;
}

.rTree .open > .msg > .ts {
  background-image: url(../../img/tree/minus.gif);
}

.rTree .closed > .msg > .ts {
  background-image: url(../../img/tree/plus.gif);
}

.rTree .leaf > .msg > .ts, .rTree .emptyOpen > .msg > .ts, .rTree .emptyClosed > .msg > .ts {
  background: none;
}

.rTree .hover, .rTree .withPopup, .rTree .hover .mark {
  background-color: #F5F5F5;
  /*background: -webkit-gradient(linear, left top, right top, from(#F5F5F5), to(#FFF));*/
  /*background: -webkit-linear-gradient(right, #FFF, #F5F5F5);*/
  /*background: -moz-linear-gradient(right, #FFF, #F5F5F5);*/
  /*background: -ms-linear-gradient(right, #FFF, #F5F5F5);*/
  /*background: -o-linear-gradient(right, #FFF, #F5F5F5);*/
  /*background: linear-gradient(right, #FFF, #F5F5F5);*/
}

.rTree .focus, .rTree .focus .mark {
  background-color: #FFC;
  /*background: -webkit-gradient(linear, left top, right top, from(#FFC), to(#FFF));*/
  /*background: -webkit-linear-gradient(right, #FFF, #FFC);*/
  /*background: -moz-linear-gradient(right, #FFF, #FFC);*/
  /*background: -ms-linear-gradient(right, #FFF, #FFC);*/
  /*background: -o-linear-gradient(right, #FFF, #FFC);*/
  /*background: linear-gradient(right, #FFF, #FFC);*/
}

/* pC = popupContent */
.rTree .pC {
  display: none;
}

.rTree .flow {
  margin: 3px 0 3px 1em;
  display: none;
}

.messagePopup {
  padding: 2px;
}

.messagePopup .messages {
  margin: 5px;
  padding: 0;
  list-style: none;
}

.messagePopup .mToggle,
.messagePopup .mTime,
.messagePopup .mClipboard {
  margin-bottom: 5px;
}

.messagePopup .mClipboardLink {
  background: url(../../img/clipboard.png) no-repeat left top;
  padding-bottom: 1px;
  padding-left: 20px;
}
