.buildParameters {
  width: 80%;
  margin-top: 1em;
}

.buildParameters h2 {
  margin: 0 0 .2em 0;
}

.buildParameters .runnerFormTable {
  width: 40em;
  margin-bottom: 2em;
}

.buildParameters .runnerFormTable td, .buildParameters .runnerFormTable th {
  padding: 2px;
  border-right: none;
}

.buildParameters .runnerFormTable th.paramName {
  width: 20em;
}

.buildParameters .runnerFormTable th.paramValue {
  width: 20em;
}
