/*--------------------- styles for the message that shows in the All messages view */
.log .ts, .log .time, .log .ts_in {
  text-decoration: none;
}

.log .mark, .log .parent, .log .blockDescr {
  font-style: normal;
}

/* Used by MessagesPrinter */
.l0, .l1, .l2, .l3, .l4, .l5, .l6, .l7, .l8, .l9, .l10, .l11, .l12, .l13, .l14, .l15, .l16, .l17, .l18, .l19, .l20, .l21, .l22, .l23, .l24, .l25 {
  white-space: pre;
  color: #3f3f3f;
}

.buildResultsWrap .l0,
.buildResultsWrap .l1,
.buildResultsWrap .l2,
.buildResultsWrap .l3,
.buildResultsWrap .l4,
.buildResultsWrap .l5,
.buildResultsWrap .l6,
.buildResultsWrap .l7,
.buildResultsWrap .l8,
.buildResultsWrap .l9,
.buildResultsWrap .l10,
.buildResultsWrap .l11,
.buildResultsWrap .l12,
.buildResultsWrap .l13,
.buildResultsWrap .l14,
.buildResultsWrap .l15,
.buildResultsWrap .l16,
.buildResultsWrap .l17,
.buildResultsWrap .l18,
.buildResultsWrap .l19,
.buildResultsWrap .l20,
.buildResultsWrap .l21,
.buildResultsWrap .l22,
.buildResultsWrap .l23,
.buildResultsWrap .l24,
.buildResultsWrap .l25 {
  white-space: pre-wrap;
}

.multiline {
  display: block;
  white-space: pre;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
}

.buildResultsWrap .stacktrace {
  white-space: pre-wrap;
}

.l1 .ts {
  padding-right: 20px;
}

.l1 .multiline {
  margin-left: 90px;
}

.l2 .ts {
  padding-right: 40px;
}

.l2 .multiline {
  margin-left: 110px;
}

.l3 .ts {
  padding-right: 60px;
}

.l3 .multiline {
  margin-left: 130px;
}

.l4 .ts {
  padding-right: 80px;
}

.l4 .multiline {
  margin-left: 150px;
}

.l5 .ts {
  padding-right: 100px;
}

.l5 .multiline {
  margin-left: 170px;
}

.l6 .ts {
  padding-right: 120px;
}

.l6 .multiline {
  margin-left: 190px;
}

.l7 .ts {
  padding-right: 140px;
}

.l7 .multiline {
  margin-left: 210px;
}

.l8 .ts {
  padding-right: 160px;
}

.l8 .multiline {
  margin-left: 230px;
}

.l9 .ts {
  padding-right: 180px;
}

.l9 .multiline {
  margin-left: 250px;
}

.l10 .ts {
  padding-right: 200px;
}

.l10 .multiline {
  margin-left: 270px;
}

.l11 .ts {
  padding-right: 220px;
}

.l11 .multiline {
  margin-left: 290px;
}

.l12 .ts {
  padding-right: 240px;
}

.l12 .multiline {
  margin-left: 310px;
}

.l13 .ts {
  padding-right: 260px;
}

.l13 .multiline {
  margin-left: 330px;
}

.l14 .ts {
  padding-right: 280px;
}

.l14 .multiline {
  margin-left: 350px;
}

.l15 .ts {
  padding-right: 300px;
}

.l15 .multiline {
  margin-left: 370px;
}

.l16 .ts {
  padding-right: 320px;
}

.l16 .multiline {
  margin-left: 390px;
}

.l17 .ts {
  padding-right: 340px;
}

.l17 .multiline {
  margin-left: 410px;
}

.l18 .ts {
  padding-right: 360px;
}

.l18 .multiline {
  margin-left: 430px;
}

.l19 .ts {
  padding-right: 380px;
}

.l19 .multiline {
  margin-left: 450px;
}

.l20 .ts {
  padding-right: 400px;
}

.l20 .multiline {
  margin-left: 470px;
}

.l21 .ts {
  padding-right: 420px;
}

.l21 .multiline {
  margin-left: 490px;
}

.l22 .ts {
  padding-right: 440px;
}

.l22 .multiline {
  margin-left: 510px;
}

.l23 .ts {
  padding-right: 460px;
}

.l23 .multiline {
  margin-left: 530px;
}

.l24 .ts {
  padding-right: 480px;
}

.l24 .multiline {
  margin-left: 550px;
}

.l25 .ts {
  padding-right: 500px;
}

.l25 .multiline {
  margin-left: 570px;
}

/* Used by MessagesPrinter */
.time {
  padding-left: 0.5em;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  color: #888;
}

.progressMarkup {
  color: silver;
  background-color: #ffe4c4;
}

/*--------- general text styles --*/

.log {
  background-color: white;
  margin-top: .5em;
  line-height: 1.4em;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  font-size: 12px;
}

.block {
  margin: 0 0 0.5em 0;
}

.logReadingError {
  color: red;
  margin: 1em 0 0 0;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  font-size: 12px;
}