td.detailsPart {
  /* Disallow floating First Failed In block to flow far right for wide stacktraces in expanded state: */
  max-width: 1000px;
  overflow: visible;

  padding-left: 4.3em;
}

td.detailsPart .stamp {
  float: right;
}

p.blockHeader {
  font-size: 100%;
  font-weight: bold;
}

p.blockHeader, p.passedTestsBlock {
  margin-bottom: 0;
}

#failedTestsDl span.pc.testNamePopup {
  font-weight: bold;
}

#depsData {
  padding-top: 10px;
  padding-left: 40px;
}

#depsData table {
  width: 100%;
}

#depsData td {
  padding: 2px 5px;
}

#depsData td.buildNumber {
  white-space: nowrap;
  text-align: right;
}

#depsData tr.failedConfig td {
  border-top: 1px #E3E9EF solid;
  border-bottom: .5em white solid;
  background-color: #f5f5f5;
}

.failedTestsCaption {
  background-color: #E3E9EF;
  padding-left: 5px;
}

.package {
  color: #888;
  font-weight: normal;
  font-family: arial, sans-serif;
}

#mutedTestsDl div {
  margin: 0.3em 0 0.3em 13px;
}

#mutedTestsDl dd {
  min-height: 1em;
  margin-bottom: 0.6em;
}

.fullView {
  display: none;
  height: auto;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  font-size: 12px;
  color: darkred;
}

.fullView .hideStacktrace {
  display: block;
  padding: 3px;
}

/* Hide first link "hide details" on the grouped test view */
.testList .fullView a.hideStacktrace:first-child {
  display: none;
}

dd.full input {
  display: block;
  margin: 0.7em 0;
}

div.firstFailedWhenFixed {
  font-size: 80%;
}

span.showTrace {
  padding-left: 10px;
  border-left: 1px solid #eee;
  font-weight: normal;
}

/*----------- leftside navigation---*/

ul.compiler-errors {
  list-style: none;
  margin: 5px 0;
  padding-left: 0;
}

.compiler-error {
  padding-left: 27px;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  font-size: 12px;
  white-space: normal;
  color: #ed2c10;
}

/* Artifact dependencies table */

table.artifactsList {
  width: 60%;
  margin: 0 0 .8em 1em;
  border-bottom: solid 1px #eee;
}

table.artifactsList td {
  margin: 0;
  padding: 0 2px;
  text-align: left;
}

table.artifactsList td.right {
  text-align: right;
}

table.artifactsList .second_line {
  font-size: 85%;
  vertical-align: top;
}

table.artifactsList .second_line td {
  padding-bottom: .3em;
}

#dependencies p {
  margin-bottom: .5em;
  margin-left: 10px;
}

/* Styles for VCS revisions and labels section */
table.plain {
  width: 80%;
  margin: 10px 0 5px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

table.plain th {
  background-color: #f5f5f5;
}

table.plain td, table.plain th {
  padding: .2em .5em;
  text-align: left;
  border-right: 1px solid #ccc;
}

table.changeRevisionsTable {
  width: 100%;
  margin-left: 0;
}

.changeRevisionsTable td {
  vertical-align: top;
}

.changeRevisionsTable .vcsRoot {
  width: 50%;
  white-space: nowrap;
}

.changeRevisionsTable .revision {
  width: 35%;
}

.changeRevisionsTable .label {
  width: 15%;
}

.noteOnVcsRootInBuild {
  display: inline-block;
  margin-left: 1em;
  font-style: italic;
  color: #888;
}

.changeRevisionsActions {
  margin-bottom: 2em;
}

.changeRevisionsActions .right {
  float: right;
}

#buildResults .attentionComment {
  margin-top: 0.5em;
}

.testListSelected td,
.testRowSelected td {
  background-color: #f5f5f5
}

.testListSelected .testRelatedBuilds td {
  background-color: #fff;
}

.buildProblemsTable {
  border-collapse: collapse;
  margin: 5px 0 5px 24px;
}

.buildProblemsTable td {
  vertical-align: top;
}

.buildProblemsTable .buildProblem {
  white-space: normal;
  color: #ed2c10;
}

.buildProblemsTable .ignoredBuildProblem {
  color: #888;
}

.buildProblemsTable .ignoredInfo {
  color: #000;
}
