#testsInfo {
  margin-top: 10px;
}

.btSelector {
  width: 16em;
  margin-bottom: 0.5em;
}

a.permaLink {
  float: right;
  margin-left: 2em;
}

a.backLink {
  background-color: #1564C2;
  padding: 2px 4px;
  color: #f5f5f5;
  text-decoration: none;
}

a.backLink:hover {
  text-decoration: underline;
  color: white;
}

.testCountBlock label {
  display: inline-block;
  margin-left: 1.5em;
  margin-bottom: 2px;
}

.testCountBlock input {
  margin-top: 4px;
  margin-bottom: 0;
}

div.divSection {
  margin-top: 4px;
  margin-bottom: 4px;
}

#filterText {
  width: 15em;
  margin-right: .5em;
}

#foundBlock {
  padding-top: .5em;
}

.testCountBlock {
  float: right;
  margin: 4px 0;
}

.beforeTable {
  min-height: 1.5em;
  margin: 10px;
}

span.labelBlock, label.labelBlock {
  display: inline-block;
  width: 7em;
}

.foundText {
  float: right;
}

.newFailuresOnly {
  margin-left: 2em;
}

/**  Test list styles */

table.testList th {
  text-align: left;
  white-space: nowrap;
}

table.testList th.thFirstCell {
  width: 12%;
}

table.testList th.emptyCell {
  background: #fff none;
  width: 2px;
  padding: 0;
  border: none;
}

table.testList .test-status {
  width: 5.8em;
  padding-left: 20px;
  padding-right: 10px;
  white-space: nowrap;
}

table.testList td.nameT {
  /* To make "new" icon closer to test name */
  padding-left: 4px;
}

table.testList .failedNewTst td.test-status {
  background: url(../../img/star.gif) no-repeat 2px center;
}

table.testList .failedNewTst td.nameT {
  font-weight: bold;
}

table.dark th.buildInfoHeader {
  padding-left: 1em;
}

table.testList td.test-status a.failure {
  padding: 2px;
  color: #ed2c10;
  text-decoration: underline;
}

table.testList td.test-status a.failure:hover {
  background-color: #ed2c10;
  color: white;
  text-decoration: none;
}

table.testList td.test-status a.muted {
  padding: 2px;
  color: #aaaaaa;
  text-decoration: underline;
}

table.testList td.test-status a.muted:hover {
  background-color: #ccc;
  color: #333;
  text-decoration: none;
}

table.testList td.duration {
  padding-right: 10px;
  white-space: nowrap;
  text-align: right;
}

table.testList th.tests, table.testList td.tests {
  width: 8%;
  padding-left: 2em;
  white-space: nowrap;
  text-align: left;
}

table.testList th.duration {
  width: 8%;
  padding-right: 10px;
  text-align: right;
}

table.testList .orderNum {
  width: 8%;
  padding-right: .5em;
  text-align: right;
}

table.testList .startDate {
  padding-right: 5px !important;
}

table.testList .buildNumber {
  padding-left: 1.5em !important;
}

.groupHeader1 td {
  background-color: #E3E9EF;
  padding-left: 1em;
}

.groupHeader2 td {
  background-color: #E3E9EF;
  padding-left: 3em;
}

table.testList .groupHeader1 td.duration, table.testList .groupHeader2 td.duration {
  padding-right: 30px;
}

/**  Test duration popup styles */
#testDuration {
  position: static;
  display: block;
  width: 770px;
}

#testsDurationGraph {
  padding: 0;
}

#rangeFilterTestDuration {
  display: none;
}

#agentsFilterTestDuration {
  width: 230px;
}

#agentsFilterTestDuration .agentsFilterTable {
  border-collapse: collapse;
}

#testsInfo span.pc, #testsInfo span.pc.testNamePopup, #testsInfo span.pc.newTestFailure {
  background-image: none;
  padding-left: 0;
}