<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"
  %><%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"
  %><%@ taglib prefix="l" tagdir="/WEB-INF/tags/layout"
  %><%@ taglib prefix="profile" tagdir="/WEB-INF/tags/userProfile"
  %><%@ attribute name="adminMode" required="true"
  %><%@ attribute name="profileForm" rtexprvalue="true" type="jetbrains.buildServer.controllers.profile.ProfileForm" required="true" %>

<l:settingsBlock title="Version Control Username Settings">
  <c:if test="${fn:length(profileForm.vcsUsernames) == 0}">
    <div>There are no VCS usernames configured.</div>
  </c:if>
  <c:if test="${fn:length(profileForm.vcsUsernames) > 0}">
  <table width="99%" cellpadding="0" cellspacing="0">
    <c:forEach items="${profileForm.vcsUsernames}" var="vcsUsername">
      <tr>
        <td width="70%"><profile:vcsDisplayName vcsUsername="${vcsUsername}"/>:</td>
        <td><c:out value="${vcsUsername.username}"/></td>
      </tr>
    </c:forEach>
  </table>
  </c:if>

  <c:choose>
    <c:when test="${adminMode}">
      <a class="editNotifierSettingsLink btn" href="<c:url value='/admin/vcsSettings.html?init=1&userId=${profileForm.editee.id}'/>">Edit</a>
    </c:when>
    <c:otherwise>
      <a class="editNotifierSettingsLink btn" href="<c:url value='/vcsSettings.html?init=1'/>">Edit</a>
    </c:otherwise>
  </c:choose>
  <div class="clr"></div>
</l:settingsBlock>
