<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<c:if test="${param.useFilter == 'false'}">
  BS.ChangePageFilter.useFilter = false;
</c:if>
BS.ChangePageFilter.projectId = '';
<c:if test="${not empty param.projectId}">
  BS.ChangePageFilter.projectId = '${param.projectId}';
</c:if>
if (document.location.hash.length > 1) {
  BS.ChangePageFilter.projectId = document.location.hash.substring(1);
}

BS.ChangePageFilter.hasSkippedChanges = BS.ChangePageFilter.hasSkippedChanges || ${!!bean.hasSkippedChanges};