/* Agents section layout */
.agentsContent {
  clear: both;
}

/*------------------------- All agents table */

table.agents {
  table-layout: fixed;
  margin-bottom: 3em;
}

table.agents th.buildNumber, table.agents td.buildNumber {
  width: 1px;
}

table.agents .buildNumberInner {
  display: none;
}

table.agents th {
  padding: 2px 0 2px 0.5em;
  cursor: default;
}

table.agents td {
  background-color: #fff;
  padding: 0.4em 0 0.1em 0.5em;
  font-size: 90%;
  vertical-align: top;
}

table.agents tr.disabledAgent td {
  background-color: #f7f7f7;
}

/*------------ Inactive agents table */
table.agents th.lastActivity, table.agents td.lastActivity {
  min-width: 15em;
  width: 15em;
}

table.agents th.inactivityReason, table.agents td.inactivityReason {
  min-width: 17em;
  width: 17em;
}

/*------------ Active agents table */
table.agents th.cpuRank, table.agents td.cpuRank {
  min-width: 4em;
  width: 4em;
  padding-left: 1.3em;
}

table.agents th.buildName, table.agents td.buildName {
  min-width: 10em;
  max-width: 20em;
  padding-right: .5em;
}

table.agents th.agentStatus {
  width: 5em;
  min-width: 5em;
}

table.agents th.status, table.agents td.status {
  min-width: 10em;
  max-width: 50em;
  white-space: normal;
}

table.agents th.duration, table.agents td.duration {
  width: 10em;
}

table.agents th.stopBuild, table.agents td.stopBuild {
  width: 5em;
  padding-right: .5em;
  text-align: right;
}

table.agents th.buildAgentName, table.agents td.buildAgentName {
  width: 25em;
}

table.agents-grouped th.buildAgentName, table.agents-grouped td.buildAgentName {
  width: 15em;
}

table.agents td.buildAgentName .agentVersion {
  position: relative;
  top: 1px;
}

table.agents td.buildAgentName .osIcon {
  position: relative;
  top: 2px;
}

table.agents td.poolHeader {
  border-bottom: 1px solid #eee;
  padding: 0.4em 0 0.4em 0.5em;
}

table.agents .firstCell {
  width: 1.5em;
}

table.agents td.no-border {
  border: none;
}

td.poolHeader span.info {
  color: #959BA4;
}

#pool_actions_popup {
  vertical-align: text-top;
}

/*---- end*/

/* -------------------------------- Agent details */

#agentSummary > div.first, #agentTypeSummary > div.first {
  padding-top: 1em;
}

#agentSummary > div.last, #agentTypeSummary > div.last {
  border-bottom: none;
}

/*------- status as a text is either green or red; status as a link is blue or blue with line-trough text decoration */

#agentSummary .registered, #agentSummary .enabled, #agentSummary .authorized {
  color: green;
}

#agentSummary .unregistered, #agentSummary .disabled, #agentSummary .unauthorized {
  color: #ED2C10;
  text-decoration: none;
}

table.agents .registered {
  color: green;
}

table.agents .unregistered {
  color: #ED2C10;
  text-decoration: none;
}

.agent.disabled {
  text-decoration: line-through;
}

/*end*/

.normal {
  color: #3f3f3f;
}

ul.agentSummary {
  margin: 0;
  padding: 0;
}

ul.agentSummary li {
  list-style: none;
  line-height: 2em;
}

.agentSummary .action {
  font-size: 100%;
}

/*------------------------- compatible agents table modifications */

.agentsCompatibilityTable td.name, .agentsCompatibilityTable td.value {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.agentsCompatibilityTable td div.nothing {
  margin-left: 2em;
}

.buildTypeCompatibility {
  margin: 0 0 3px 0;
  padding-top: 1px;
  padding-right: 3px;
  padding-bottom: 1px;
}

.inactive a {
  color: gray !important;
}

/*----------------------- two column table for the agent details*/
.definitionTable {
  width: 100%;
}

.definitionTable th {
  width: 30%;
  vertical-align: top;
  font-weight: normal;
  text-align: left;
}

.definitionTable th, .definitionTable td {
  border-bottom: 1px dotted #ccc;
  margin: 0;
  padding: 5px;
}

/*--------------------------- Change Agent Status dialog message*/
p.enableAgentWarning {
  background: url("../img/attentionComment.gif") no-repeat left 3px;
  margin: 0 0 5px;
  padding-left: 20px;
}

/*--------------------------- Select Configurations dialog*/

.agentSelectConfigurationsDialog {
  width: 43em;
}

table.configurationList {
  width: 100%;
  border-bottom: 2px solid #E3E9EF;
  border-collapse: collapse;
}

table.configurationList th {
  background-color: #909090;
  padding: 2px;
  color: white;
  text-align: left;
}

table.configurationList .checkbox {
  width: 3em;
  padding-top: 0;
  vertical-align: top;
  text-align: center;
}

table.configurationList th.checkbox {
  vertical-align: middle;
}

.configurationListContainer {
  overflow: auto;
  width: 100%;
  height: auto;
  max-height: 20em;
  min-height: 5em;
}

.configurationListContainer table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: collapse;
}

.configurationListContainer table tr {
  border-bottom: 2px solid white;
}

.configurationListContainer table td.checkbox {
  padding-left: 2px;
}

table.overviewTypeTable td.buildTypeName {
  width: 5em;
  white-space: nowrap;
}
