.agentBlockHandle {
  cursor: pointer;
}

.agentPoolNameAsGroupHeader, a.agentPoolNameAsGroupHeader:hover {
  margin-left: 0;
  padding-left: 0;
  font-size: 115%;
  color: black;
}

div.inactive a, div.inactive .non-link-agent-name {
  color: gray;
}

.agentsToolbar {
  float: left;
  margin: 1em 1em 1em 0;
}

.agentDiv {
  padding: .33em 0 .33em 2.2em;
}
