/*---------------- Project popups */
#allProjectsPopup {
  background-color: #FFF;
  position: absolute;
  display: none;
  min-width: 25em;
  max-width: 40em;
  padding: 0;
  text-align: left;
  overflow-y: auto;
  z-index: 1000 !important;
}

div.archivedPopup {
  border-bottom: 1px solid #E3E9EF;
  background-color: #F5F5F5;
  font-size: 90%;
  padding: 5px 4px 4px 4px;
}

#archivedProjectsContent {
  min-width: 200px;
  z-index: 1001 !important;
}

/*---------------- All projects popup */

.projectsContainer {
  margin: 0;
  padding: 10px;
}

.projectsContainer .projectLink {
  overflow: hidden;
  display: block;
  max-width: 440px;
  vertical-align: middle;
  outline: none;
}

.projectsContainer .visibleProject .projectLink {
  font-weight: bold;
}

.projectsContainer .btCount {
  display: inline-block;
  padding: 0 5px;
}

.projectsContainer .btCountHighlighted {
  background-color: #FFC;
}

.projectsPopupTable {
  width: 100%;
}

.projectsPopupTable td {
  padding: 3px;
  border-bottom: 1px solid #E7E7E7;
}

.projectsPopupTable td.pin {
  text-align: right;
  width: 1em;
  padding-right: 0;
}

.projectsPopupTable td.bt {
  text-align: right;
  font-size: 90%;
  width: 5em;
  padding-left: 0;
}

.projectsPopupTable tr.selected {
  background-color: #FFC;
}

/*---------------- Build types popup */

.buildTypesPopup {
  z-index: 1001 !important;
}

.buildTypesPopup .menuItem.selected {
  background-color: #FFC;
}

.buildTypesPopup .menuItem.current,
.buildTypesPopup .menuItem.current a {
  font-weight: bold;
  color: #151515;
}

.buildTypesPopup .menuItem.menuItemSelected.current a,
.buildTypesPopup .menuItem.current a:hover {
  color: #FFF;
}
