/*autocompletion styles*/
.ui-autocomplete {
  max-height: 39ex;
  overflow-x: hidden;
  overflow-y: auto;

  /* Shadow+scrollbar is buggy in Chrome */
  /*-webkit-box-shadow: 5px 10px 15px 2px #CCC;*/
  -moz-box-shadow: 5px 10px 15px 2px #CCC;
  /*box-shadow: 5px 10px 15px 2px #CCC;*/
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 39ex;
}

.ui-autocomplete-nothing {
  margin-left: .8em;
  padding-left: .2em;
  line-height: 1.5;
  font-size: 82%;
  font-style: italic;
}

.ui-menu-item {
  font-family: tahoma, verdana, arial, sans-serif;
  font-size: 82%;
}

.ui-menu-separator {
  font: italic bold 82% tahoma, verdana, arial, sans-serif;
  line-height: 1.5;
}

.ui-autocomplete-matched-part {
  font-weight: bold;
}

.ui-autocomplete-meta-info {
  float: right;
  margin-left: 1em;
  font-size: 80%;
  font-style: italic;
}