@import url("settingsTable.css");

.buildTypeSettings {
  background-color: white;
  padding: 10px;
  text-align: left;
}

.parameterGroup {
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding-top: 0;
  padding-bottom: 0;

  font-size: 100%;
  color: #3f3f3f;
}

h2.groupTitle {
  background-color: #F0F5FB;
  position: relative;
  padding-left: 5px;
}

h2.groupTitle .editSettingsLink {
  display: inline-block;
  margin-left: 1em;
  font-size: 80%;
}

div.parameterGroup div.editParameterLink {
  float: right;
  padding-right: 5px;
}

.groupTitle2 {
  font-weight: bold;
}

.parameter {
  padding: 4px 0 0 5px;
}

.nestedParameter {
  padding-left: 2em;
}

#valuePopup {
  position: absolute;
  display: none;
  width: 500px;
  height: 220px;
  z-index: 1500;
}

#valuePopup textarea {
  width: 470px;
  height: 140px;
}

table.settings {
  width: 70%;
}

table.settings td {
  vertical-align: top;
}

table.settings th {
  background-color: #f5f5f5;
}

td.vcsRootName, th.vcsRootName {
  width: 40%;
}

td.vcsRootLabel, th.vcsRootLabel {
  width: 7%;
}

td.vcsRootLabel {
  text-align: center;
}
