.GraphContainer {
  margin-bottom: 1em;
}

.GraphContainer form {
  margin: 0;
  padding: 0;
}

.GraphContainer select {
  padding: 0;
  font-size: 0.9em;
}

.agentsFilter .all_none {
  margin-left: 5px;
  font-size: .85em;
}

.agentsFilterInner {
  overflow: auto;
  margin-bottom: 5px;
  padding: 0 3px;
  border: 1px solid #C0C0C0;
}

.GraphContainer table {
  border-collapse: collapse;
  border: 1px solid silver;
}

.GraphContainer .agentsFilterTable {
  border: none;
}

.GraphContainer .agentsList {
  position: relative;
  width: 230px;
  padding: 5px;
  vertical-align: top;
}

.GraphContainer .agentsList .agentsFilter {
  width: 220px;
}

.GraphContainer .agentsList .averageFilter {
  width: 220px;
  margin-bottom: 5px;
}

.GraphContainer .agentsList .rangeFilter {
  margin-right: 10px;
}

.GraphContainer .agentsList .statusFilter {
  white-space: nowrap;
}

.agentsListHelp {
  position: absolute;
  top: 5px;
  right: 0;
}
