#buildQueue {
  border: none;
  text-align: left;
}

.queueWrapper {
  margin-top: 1em;
}

.queueWrapper p {
  margin: 0;
  padding: 0;
}

.queueWrapper table {
  width: 100%;
  margin: 0;
  border: 0;
}

.queueActionMessages {
  float: left;
  width: 80%;
  margin-bottom: .5em;
}

.queueActionMessages .messagesHolder {
  margin: 0 0 0 1em;
}

.queueActionMessages .messagesHolder #savingData {
  background-position: 0 0;
}

.queueActionMessages .messagesHolder #dataSaved {
  padding: 3px;
}

.queueActions {
  float: right;
  margin-bottom: .5em;
}

/*------------------------  Queue table */
#queueTableRows {
  cursor: auto;
}

.buildQueueTableHeader {
  border-collapse: collapse;
}

.buildQueueTable {
  border-collapse: collapse;
}

.buildQueueTable .buildQueueTableHeader td {
  background-color: #959BA4;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: bold;
  color: #fff;
}

.buildQueueTable .buildQueueTableHeader .orderNum,
.buildQueueTable .buildQueueTableHeader .configurationName {
  padding-left: 2px;
}

.buildQueueTable td {
  padding: 0;
}

.buildQueueTable .moveTop {
  width: 1%;
  padding-right: 10px;
  padding-left: 35px;
}

.buildQueueTable .moveTopIcon {
  cursor: pointer;
}

.buildQueueTable .orderNum {
  width: 4%;
}

.buildQueueTable td.remaining {
  width: 9%;
  padding-right: 50px;
  text-align: right;
  cursor: default;
  white-space: nowrap;
}

.buildQueueTable td.remaining img {
  margin: 0 0 5px 3px;
}

.buildQueueTable .triggeredBy {
  width: 30%;
  padding-right: 1em;
  cursor: default;
}

.buildQueueTable .canRunOn {
  width: 9%;
  text-align: left;
}

.buildQueueTable .remove {
  width: 7%;
  padding-right: 4px;
  cursor: default;
  text-align: right;
  white-space: nowrap;
}

.buildQueueTable .remove .actionLink {
  padding: 0 0.2em;
  font-size: 90%;
}

.buildQueueTable td.branch.hasBranch {
  text-align: left;
  width: 8em;
  padding-right: 1em;
}

#queueTableRows .draggable {
  background: url("../img/dragAndDrop/dots.gif") no-repeat #f1f4f7 4px 50%;
  margin: 3px 0;
  padding-top: 4px;
  padding-bottom: 4px;

  border: 2px solid #e3e9ef;
  cursor: move;
}

.draggable a {
  cursor: pointer;
}

#queueTableRows .foreignPersonalBuild {
  color: #aaa;
}

#queueTableRows .foreignPersonalBuild .remove a.red {
  color: #f99;
}

#queueTableRows .foreignPersonalBuild .canRunOn a {
  color: #b0c4de;
}

#queueTableRows .notDraggable {
  margin: 3px 0;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: default;

  border: 2px solid #e3e9ef;
}

#queueTableRows div.selected {
  border: 2px solid darkorange /*rgb(237, 185, 78)*/;
}

#removeFromQueueDialog {
  position: absolute;
  top: 0;
  left: 0;
}

/* build type queued builds popup styles */
#queuedBuildsPopup {
  width: 860px;
  margin: 0;
  padding: 0 0.5em 0.3em 0.5em;
}

#queuedBuildsPopup .messagesHolder {
  margin: 0.5em 0;
}

#queuedBuildsPopup .buildQueueTable td,
#queuedBuildsPopup .buildQueueTable th {
  margin: 0;
  padding: 0;
  white-space: normal;
}

#queuedBuildsPopup .buildQueueTable .moveTop {
  width: 35px;
  padding-right: 0;
  padding-left: 35px;
}

#queuedBuildsPopup .buildQueueTable .orderNum {
  width: 35px;
}

#queuedBuildsPopup .buildQueueTable td.branch {
  width: 105px;
}

#queuedBuildsPopup .buildQueueTable td.remaining {
  width: 120px;
  padding-right: 20px;
}

#queuedBuildsPopup .buildQueueTable .triggeredBy {
  width: 270px;
}

#queuedBuildsPopup .buildQueueTable .canRunOn {
  width: 120px;
}

#queuedBuildsPopup .buildQueueTable .remove {
  width: 70px;
}

#queuedBuildsPopup .buildQueueTable .remove input {
  visibility: hidden;
}

#queuedBuildsPopup #queueActionsHolder {
  display: none;
}

#queuedBuildsPopup .buildQueueTable .buildQueueTableHeader td {
  background: #E2E9F1 url(../img/bgSidebar.gif) repeat-x 0 0;
  color: #3f3f3f;
}

#queuedBuildsPopup .buildQueueTable .buildQueueTableHeader .orderNum,
#queuedBuildsPopup .buildQueueTable .buildQueueTableHeader .configurationName {
  padding-left: 2px;
}
