.buildChainBlock {
  margin: 1em 0;
}

.buildChainBlock .blockHeader {
  margin-bottom: 1em;
  font-weight: normal;
}

.buildChainBlock .buildChainHeader {
  width: 100%;
  border-collapse: collapse;
}

.buildChainHeader td {
  padding: 0;
  vertical-align: top;
}

.buildChainHeader td.buildChainInfo {
  width: 15em;
}

.buildChainHeader td.buildChainStatus {
  width: 14em;
  padding-left: 1em;
}

.buildChainHeader td.branch.hasBranch {
  width: 7em;
  padding-right: 0.5em;
}

.buildChainHeader .buildChainName {
  padding-right: 1em;
}

.buildChainHeader td.startDate {
  width: 4em;
  text-align: right;
}

.buildChainHeader td.buildNumber {
  width: 8em;
  text-align: left;
}

.buildChainHeader td.status {
  width: 45em;
  text-align: left;
}