dl#buildDataStatus {
  height: 100%;
  margin: 0;
  padding: 0 0 0 13px;
  font-size: 90%;
}

dl#buildDataStatus dd {
  margin: 0 0 0 7.1em;
  padding: 3px 0;
}

dl#buildDataStatus dt {
  float: left;
  width: 8em;
  padding: 2px 0 0 0;
}

.cancelledInfo {
  padding-top: 0;
  padding-left: 0;
}

table.statusTable td.st {
  /* we use additional class here because we have to avoid restyling of nested table */
  padding: 3px 0 3px 20px;
  vertical-align: top;
}

table.statusTable td.fixed {
  width: 25%;
  padding-right: 5px;
  white-space: nowrap;
}

table.statusTable td.labels {
  width: 10%;
  white-space: nowrap;
}

#userBuildDetails {
  background: #E9F3FD;
  margin-top: 0.6em;
  padding: 5px 5px 5px 10px;
  border: 1px solid #BCE8F1;
  line-height: 2em;
}

.buildArtifacts #userBuildDetails {
  margin: 0 0 0.5em 0;
}

#userBuildDetails img {
  margin-right: .4em;
}

#userBuildDetails .tags .btn_mini {
  vertical-align: text-top;
}

#userBuildDetails .unselectedTag {
  background-color: #FFF;
  border-color: #D9D9D9;
}

#userBuildDetails .unselectedTag:hover {
  background-color: #EEE;
}

/** agent status style: */
.unregistered {
  color: #ED2C10;
}
