/**--------------- Page filter ----------------------*/
#showingAllBlock, #showingFilteredBlock {
  margin-bottom: 10px;
}

/**--------------- End Page filter ----------------------*/

#updatableChangesContainer {
  margin-top: 10px;
}

#updatableChangesContainer, #moreChangesContainer {
  clear: both;
  margin-left: 40px;
}

#carpetLegend {
  float: right;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

#loadingProgress {
  height: 1em;
  overflow: visible;
  position: relative;
  top: 4px;
}

/*  --------- NEW CARPET STYLES---------- */

.compilationError, .newTestsFailed, .notCriticalProblem, .criticalProblem, .successful, .pending, .cancelled {
  background-repeat: repeat;
  background-color: #fff;
}

.compilationError, .newTestsFailed, .criticalProblem {
  background-image: url("../img/changes/myProblemCarpet.gif");
}

.notCriticalProblem {
  background-image: url("../img/changes/problemCarpet.gif");
}

.successful {
  background-image: url("../img/changes/noProblemCarpet.gif");
}

.pending, .cancelled {
  background-image: url("../img/changes/unknownCarpet.gif");
}

.highlighted {
  background-color: #ffffcc;
}

/*---------------- carpetHelp styles (What these colors mean?) ------------------*/
.carpetHelp {
  min-width: 300px;
  margin: 3px;
  border: none;
}

.carpetHelp td.firstCell {
  width: 34px;
  min-width: 34px;
  height: 24px;
  padding: 0;
}

.carpetHelp td {
  padding: 0 0 0 1em;
  border-top: 1px solid #EEEEEE;
  white-space: nowrap;
}

.carpetHelp tr:first-child td {
  border-top: none;
}

.dateMarker {
  position: absolute;
  top: 2px;
  left: -40px;
  width: 3em;
  margin-top: 2px;
  padding: 0;
  font-size: 120%;
  color: #aaa;
  line-height: 1;
}

.dateMarkerMonth {
  font-size: 70%;
}

.noPadding {
  padding: 0;
}

/*---------------- joinedChangeTable styles ------------------*/
.joinedChange {
  position: relative;
}

.joinedChangeTable {
  width: 100%;
  table-layout: fixed; /* For IE8 to handle expand/collapse on My Changes page correctly */
  border-left: 7px solid white;
  border-right: 7px solid white;
}

.joinedChangeTable > tbody > tr > td {
  padding: 10px 0 6px 0;
  vertical-align: top;
}

.joinedChangeTable td.handle {
  width: 25px;
  cursor: pointer;
  text-align: center;
}

.joinedChangeTable td.commitText {
  padding-left: 5px;
  font-size: 120%;
}

.joinedChangeTable span.shortText {
  overflow: hidden;
  float: left;
  /*this is for span with ... text*/
  max-width: 93%;
  height: 1.3em;
  padding-right: 6px;
}

.joinedChangeTable span.fullText {
  padding-right: 6px;
}

.joinedChangeTable td.commitText i.pretestedStatus {
  padding-right: 5px;
  font-size: 85%;
}

.joinedChangeTable .testDetailsInline {
  margin-left: 0;
}

.joinedChangeTable td.revision {
  width: 15em;
  padding-right: 1.5em;
  text-align: right;
  white-space: nowrap;
}

.joinedChangeTable td.carpet {
  /* Width is calculated dynamically, in JavaScript in changes.js. See updateCarpetWidthsGlobally */
  width: 10px;
  padding: 6px 26px 3px 3px;
  cursor: pointer;
}

.joinedChangeTable td.carpet div.carpetTd {
  width: 100%;
  height: 26px;
}

.changeFailuresLink {
  font-size: 85%; /* the resulting font size should be 'normal' one */
  line-height: 1;
  white-space: nowrap;
}

.carpetTable {
  height: 26px;
  border-collapse: collapse;
}

.carpetTable a {
  height: 26px;
  display: block;
}

.joinedChangeTable .carpetTable td {
  width: 10px;
  padding: 0;
  border-collapse: collapse;
}

/*---------------- end joinedChangeTable styles ------------------*/

/*---------------- Border styles in table start ------------------*/
.joinedChangeTable > tbody > tr > td,
.joinedChangeTable tr.selectedTreeNode td.carpet {
  border-top: 1px solid #dbdbdb;
}

.joinedChangeTable tr td.expanded_view_container {
  border: none;
}

/*---------------- Border styles in table end ------------------*/

/* Selection in tree: */
tr.expandedBlock > td,
tr > td.expanded_view_container {
  background-color: #f5f5f5;
}

tr.selectedTreeNode > td {
  background-color: #E9F3FD;
}

tr.selectedTreeNode td.expanded_view_container .tabs .first-letter {
  text-decoration: underline;
}

/* End Selection in tree. */

#showMoreLinkDiv {
  width: 30%;
  margin: 10px auto;
}

#showMoreLinkDiv a {
  background-color: #F5F5F5;
  display: block;
  height: 2em;
  padding-top: 0.5em;
  text-align: center;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#showMoreLinkDiv a:hover {
  background-color: #eee;
  text-decoration: none;

  -webkit-box-shadow: 2px 2px 2px #DBDBDB;
  -moz-box-shadow: 2px 2px 2px #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
}

#showMoreLinkDiv a img {
  position: absolute; /* Avoid jumping when showing more link */
}

/*---------------- expanded view related styles ---------------- */
img.expandCollapse {
  cursor: pointer;
}

.expandedChange {
  background-color: white;
  margin: 0 26px 15px;
  padding: 1px 5px 0;
}

.joinedChangeTable > tbody > tr > td.expanded_view_container {
  padding-top: 0;
}

.sectionTitle {
  padding-left: 10px;
  font-weight: bold;
}

.sectionContent {
  position: relative;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.sectionContent .noBuilds, .sectionContent .moreBlock {
  padding-left: 10px;
}

.modificationBuilds {
  margin-bottom: 0.5em;
}

.moreBlock {
  margin-top: 0.5em;
}

table.testList td,
table.changedFiles td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

table.changedFiles {
  margin-top: 0;
  margin-left: 12px;
  font-size: 100%; /* override value in filePopup.css*/
}

.selectedTreeNode tr.highlightRow:hover {
  background-color: #fafafa;
}

tr.buildTypeProblem.highlightRow td {
  padding-right: 15px;
}

tr.buildTypeProblem.highlightRow td.name {
  padding-left: 15px;
}

/*---------------- end expanded view related styles ------------ */