/*------------- Change log page styles*/

.logTable {
  padding-top: 10px;
}

.captionRow {
  background-color: #e3e9ef;
  padding: 2px 0 3px 8px;
  font-size: 110%;
}

.logTable .captionRow .changeLogBuildRow {
  width: 100%;
  border-collapse: collapse;
}

.logTable .captionRow td {
  padding: 0;
  border: none!important;
}

.logTable .captionRow td.bt {
  width: 20em;
}

.logTable .captionRow td.branch {
  width: 0;
  padding-right: 0;
}

.logTable .captionRow td.buildNumber {
  width: 2.5em !important;
  padding-right: 0.5em;
}

.logTable .captionRow td.startDate {
  width: 7em;
  padding-right: 8px;
  text-align: right;
}

.logTable .captionRow td.status .outofseq {
  font-style: italic;
}

.changeLogTableInner {
  width: 100%;
  border-collapse: collapse;
}

.changeLogTableInner .graphTd, .changeLogTableInner .changeLogTd {
  vertical-align: top;
}

.changeLogTableInner .graphTd {
  width: 1%;
}

.changeLogToggle {
  margin-right: 1em;
}

.changeLogPermalink {
  float: right;
}

#changeLogTable {
  margin-top: 10px;
}

#changeLogTable table.overviewTypeTable {
  width: 100%;
  margin-bottom: 3px;
}

#changeLogTable table.overviewTypeTable .modification-row td {
  padding: 0.3em 5px;
}

#changeLogTable table.overviewTypeTable td.line .hr {
  background-color: #bfcfe2;
  overflow: hidden;
  height: 1px;
  margin: 0 10px 0 10px;
  padding: 0;
  font-size: 0;
  border-top: none;
}

#changeLogTable table.overviewTypeTable td.changeDescription {
  overflow: hidden;
  width: 50%;
  padding-left: 8px;
  font-weight: bold;
  line-height: 1.4em;
  text-overflow: ellipsis;
}

#changeLogTable table.overviewTypeTable td.artifactDescriptionCaption {
  font-weight: bold;
  padding-left: 25px;
  cursor: pointer;
  border-right: none;
  background-color: #FFF;
  background-position: 5px 6px;
}

#changeLogTable table.overviewTypeTable td.artifactDescription {
  overflow: hidden;
  width: 50%;
  padding-left: 20px;
  line-height: 1.4em;
  text-overflow: ellipsis;
}

.artifactDescriptionTable {
  width: 55em;
  border-collapse: collapse;
}

.artifactDescriptionTable td {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.artifactDescriptionTable .artifactDescriptionBuildType,
.artifactDescriptionTable .status {
  width: 20em;
}

.artifactDescriptionTable .status {
  white-space: nowrap;
}

#changeLogTable table.overviewTypeTable td.changedFiles {
  width: 9em;
  padding-right: 2em;
  text-align: right;
}

#changeLogTable table.overviewTypeTable td.changedFiles span.highlightChanges {
  left: 0;
}

#changeLogTable table.overviewTypeTable td.vcsChange {
  white-space: nowrap;
}

#changeLogTable table.overviewTypeTable td.vcsChange a {
  opacity: 0.5;

  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

#changeLogTable table.overviewTypeTable td.vcsChange a:hover {
  opacity: 0.99;
  text-decoration: none;
}

#changeLogTable table.overviewTypeTable td.vcsChange .vcsChangeType {
  text-transform: capitalize;
}

#changeLogTable table.overviewTypeTable td.vcsChange .vcsChangeNum {
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  font-size: 12px;
}

#changeLogTable table.overviewTypeTable td.vcsChangeDetails {
  white-space: nowrap;
}

#changeLogTable table.overviewTypeTable td.date {
  width: 8em;
}

#changeLogTable table.overviewTypeTable td.chainChangesIcon {
  width: 1.5em;
  text-align: right;
}

#changeLogTable tr.selectedCommitRow {
  background-color: #fafafa;
}

#changeLogTable .files-row-inner {
  padding-bottom: .6em;
}

.graph-tooltip {
  position: absolute;
  padding: 5px;
  font-size: 12px;
  z-index: 1;
}

.graph-tooltip-hidden {
  visibility: hidden;
}

.graph-tooltip-inner {
  background-color: #333;
  padding: 2px 8px 1px;
  color: #FFF;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.graph-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #333;
}

.graph-tooltip-arrow-s {
  border-top-color: #333;
}

.graph-tooltip-s .graph-tooltip-arrow {
  bottom: 0;
  left: 16px;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
