#compatibleChooser {
  width: 100%;
  margin: 5px 0;
  border-collapse: collapse;
}

#compatibleChooser td.chooser {
  width: 35em;
  padding-bottom: 0.5em;
}

#compatibleChooser td.actions .messagesHolder {
  float: right;
  margin-right: 1em;
}

.agentsCompatibilityTable {
  width: 100%;
}

.agentsCompatibilityTable th {
  text-align: left;
  border-bottom: 1px solid #999;
  background-color: #f5f5f5;
}

.agentsCompatibilityTable td.compatible, .agentsCompatibilityTable th.compatible,
.agentsCompatibilityTable td.incompatible, .agentsCompatibilityTable th.incompatible {
  padding: 0.5em 0.5em 0.5em 1em;
  font-size: 100%;
  vertical-align: top;
}

.agentsCompatibilityTable th.compatible {
  width: 38%;
}

.agentsCompatibilityTable th.empty, .agentsCompatibilityTable td.empty {
  width: 2%;
  border: none;
  background: none;
}

.agentsCompatibilityTable img {
  vertical-align: text-bottom;
}

.agentsCompatibilityTable td.incompatible.selected div.incompatible {
  margin-left: 35px;
}

.agentsCompatibilityTable div.project-handle a {
  margin-left: 0.5em;
}

.agentsCompatibilityTable div.content {
  padding-left: 3em;
}

.agentsCompatibilityTable div.content + div.project-handle {
  margin-top: 0.3em;
}

div.incompatible {
  padding-left: 2em;
}
div.incompatible:last-child {
  margin-bottom: 1em;
}

div.incompatible div.details {
  display: inline-block;
  margin: 0;
}

div.incompatible div.details.name {
  min-width: 10em;
  padding-right: 2em;
  vertical-align: top;
}

div.incompatible.runner div.details.name {
  padding-right: 1.8em;
}

div.incompatible div.details.value ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

div.incompatible .warn {
  padding-left: 5px;
  color: #ED2C10;
}

div.incompatible .mono {
  font-size: 12px;
}

div.incompatible .incompatibleValue {
  color: #ED2C10;
}

div.compatibilityDetailsToolbar {
  padding: 0.5em 0 1em 0;
}

div.compatibilityDetailsToolbar .expand-collapse {
  margin-right: 3em;
}

#compatibleDivider {
  background: #ffc;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0 0 0.5em 0;
}

#removeSelected {
  text-align: left;
  margin-top: 1ex;
}

#poolDetails {
  float: right;
}

#assignButtons {
  float: right;
  position: relative;
  top: -3px;
}
