HTML, BODY {
  overflow: hidden !important;
}

/* Header - filename, prev/next navigation, close button */
#fileName {
  background-color: #959ba4;
  position: relative;
  padding: 2px 0 3px 6px;
  border-bottom: 1px solid #FFF;
  font-weight: bold;
  color: #151515;
}

#fileName .closeWindow {
  position: absolute;
  top: 4px;
  right: 10px;
}

#fileName .prevNextContainer {
  position: relative;
  top: 2px;
  margin-right: 15px;
  line-height: 1px;
}

#fileName .prevNextContainer .prevNextDisabled {
  opacity: 0.5;
}

#fileName .prevNextContainer .prevNext {
  margin: 0 0 0 4px;
  padding: 0;
  color: #FFF;
  font-size: 24px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#fileName .prevNextContainer .prevNext:hover {
  text-decoration: none;
}

#fileName .prevNextContainer .prevNext img {
  vertical-align: middle;
}

#fileName .fileNamePopup {
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

/* Change description */
#desc {
  background-color: #f5f5f5;
  position: relative;
  padding: 3px 250px 3px 10px;
  border-bottom: 1px solid #E3E9EF;
  white-space: nowrap;
  font-size: 12px;
}

#desc .buttonbar {
  background: #F5F5F5;
  position: absolute;
  right: 0;
  padding-right: 10px;
}

#desc .buttonbar a {
  padding-left: 15px;
}

#desc .description {
  max-height: 10em;
  overflow: hidden;
}

/* Toolbar - prev/next change, copy to clipboard */
#toolbar {
  background-color: #F5F5F5;

  background-image: -khtml-gradient(linear, left top, left bottom, from(#F5F5F5), to(#EEE));
  background-image: -moz-linear-gradient(top, #F5F5F5, #EEE);
  background-image: -ms-linear-gradient(top, #F5F5F5, #EEE);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #EEE));
  background-image: -webkit-linear-gradient(top, #F5F5F5, #EEE);
  background-image: -o-linear-gradient(top, #F5F5F5, #EEE);
  background-image: linear-gradient(top, #F5F5F5, #EEE);

  padding: 3px 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #E3E9EF;
  font-size: 90%;
}

#toolbar .clipboard {
  background: url(../img/clipboard.png) no-repeat left 1px;
  display: inline-block;
  padding-left: 20px;
}

#toolbar .column-before {
  display: inline-block;
  margin-left: 46px;
  vertical-align: middle;
}

#toolbar .column-tools {
  display: inline-block;
  margin-left: -197px;
  padding-left: 50%;
}

#toolbar .column-after {
  display: inline-block;
  margin-left: 29px;
  vertical-align: middle;
}

/* Two-column layout */
#panels {
  position: relative;
  border-top: 1px solid #FFF;
}

#dbefore {
  overflow: auto;
  position: absolute;
}

#tbefore {
  position: absolute;
  top: 0;
  left: 0;
}

#dafter {
  overflow: auto;
  position: absolute;
  left: 50%;
  width: 50%;
}

#tafter {
  position: absolute;
  top: 0;
  left: 0;
}

#dbefore iframe, #dafter iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#dmap {
  background-color: #E3E9EF;
  position:absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.error {
  padding: 10px;
  color: #ED2C10 !important;
  font-weight: bold;
}

.personalBefore {
  background-color: #ffc;
  position: absolute;
  margin-left: 150px;
}

.changeL {
  background-color: #fcc;
  position: absolute;
  left: 1px;
  width: 18px;
  cursor: pointer;
  border: 1px solid #ED2C10;
  font-size: 1px;
}

.changeR {
  background-color: #cfc;
  position: absolute;
  left: 20px;
  width: 17px;
  cursor: pointer;
  border: 1px solid green;
  font-size: 1px;
}

.changeRemoved {
  background-color: #fcc;
}

.changeAdded {
  background-color: #cfc;
}

#mapWindow {
  background: #F0F8FF;
  position:absolute;
  overflow: hidden;
  width:38px;
  border: dotted 1px blue;
}

/* LISTING */
.source {
  background-color: #fff;
  color: #000;
  margin: 0;
}

.source .list {
  position: relative;
  counter-reset: list;
  margin: 0 0 1px 45px; /* 1px bottom margin seems to fix occasional Firefox scrolling */
  padding: 0;
  list-style: none;
  line-height: 1.4;
  font-size: 12px;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace !important;
  white-space: pre !important;
}

.source li:before {
  content: counter(list);
  counter-increment: list;
  background-color: #FFF;
  position: absolute;
  width: 40px;
  margin-left: -55px;
  color: #666;
  text-align: right;
}
