.has-ellipsis {
  overflow: hidden;
  position: relative;
  padding-right: 28px;
  height: 1.5em;
}

.ellipsis-expander {
  position: absolute;
  display: block;
  top: 0;
  right: 0;

  width: 24px;
  height: 15px;
  background: url(../img/more.png) no-repeat 0 3px;
}

.ellipsis-expander:hover {
  background-image: url(../img/moreHover.png);
  cursor: pointer;
}
