/*----- Files popup styles, see filesPopup.jsp --------*/
div#filesPopup {
  padding: 0;
}

table.changedFiles {
  margin: .5em .5em 0;
  font-size: 95%;
  border-collapse: collapse;
}

table.separatedWithLine table.changedFiles td {
  border-bottom: none;
}

table.changedFiles td.typeTD {
  width: 4.7em;
  padding: 0 0 0 2px;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
}

table.changedFiles td.fileTD {
  padding: .2em .5em;
  vertical-align: middle;
  white-space: nowrap;
}

table.changedFiles td.typeTD .edited,
table.changedFiles td.typeTD .added,
table.changedFiles td.typeTD .removed {
  padding: 2px 4px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
}

table.changedFiles td.typeTD .edited {
  background-color: #9ABDED;
}

table.changedFiles td.typeTD .added {
  background-color: #A9BA66;
}

table.changedFiles td.typeTD .removed {
  background-color: #D2D2D2;
}

table.changedFiles td.typeTD .commentIcon {
  margin-left: 3px;
}

table.changedFiles td.fileTD .excluded {
  color: #ED2C10;
}

.filesPopupHeader, .filesPopupFooter {
  font-size: 90%;
}

.filesPopupHeader {
  background-color: #f5f5f5;
  margin: 3px 4px;
  padding-left: 5px;
  white-space: nowrap;
  position: relative;
}

.filesPopupHeaderTitle {
  float: left;
  padding-right: 5em;
}

.filesPopupHeaderActions {
  position: absolute;
  right: 0;
}

.filesPopupHeaderActions img {
  margin: 3px 2px;
}

.filesPopupFooter {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
}

.activateFileLink {
  opacity: 0.5;

  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.activateFileLink:hover {
  opacity: 0.99;
  text-decoration: none;
}

.activateFileLink .activateFileIcon {
  vertical-align: middle;
}