/*-------------- error styles */
#errorMessage {
  display: none;
  margin-top: 15px;
  color: #ed2c10;
  font-weight: bold;
}

.errorField {
  border: 2px solid #ed2c10;
}

div.error, span.error {
  display: block;
  margin-top: 0;
  margin-left: 12.6em;
  color: #ed2c10;
}

.noCookiesEnabledMessage, .noJavaScriptEnabledMessage {
  color: #ed2c10;
}

/*--- general elements */

#sidebarAdmin {
  background-color: #fff;
  float: right;
  width: 230px;
  margin: 0;
  padding: 0;
}

div.divider {
  margin: 0 0 1em 0;
  border-bottom: 1px solid #CFCFD0;
}

h3.title {
  background-color: #F3F4F8;
  height: 100%;
  margin: 15px 0 10px 0;
  padding: .1em 1em;
  font-weight: bold;
  color: #26272B;
  border-bottom: #E6E7EB solid 2px;
}

/*------------- Useful links part of the Sidebar */
.usefulLinks {
  width: 100%;
  padding: 0;
  margin: 1em 0 0;
  border-collapse: collapse;
  border: 3px solid #E3E9EF;
}

.usefulLinks td {
  padding: 7px;
  border-bottom: 1px solid #E3E9EF;
  line-height: 1.2;
}

.usefulLinks td.homepage img {
  float: left;
}

.usefulLinks td.homepage a {
  display: block;
  margin-left: 22px;
}

.usefulLinks td.button {
  width: 50px;
  vertical-align: top;
}

.usefulLinks td.descr {
  font-size: 90%;
}

.usefulLinks td.descr span.smallNote {
  display: inline;
  margin: 0;
  padding: 0;
}

.usefulLinks ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.usefulLinks li {
  margin-bottom: .5em;
}

/*--------- end of useful links*/

label.rightLabel {
  margin-left: 0;
}

.textfield {
  width: 200px;
  margin-left: 0;
  padding-left: 0.1em;
}

input.longField, select.longField, textarea.longField {
  width: 31em;
  margin: 0;
  padding-left: 0.1em;
}

input.but {
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding-left: 0.1em;
}

.addNew {
  background: url("../img/add.gif") no-repeat left;
  padding-left: 1.5em;
  white-space: nowrap;
}

span.mandatoryAsterix {
  color: #ED2C10;
  font-size: 90%;
}

.grayNote, .smallNote, .smallNoteAttention {
  color: #888;
  font-size: 90%;
}

.smallNote, .smallNoteAttention {
  margin-top: 0;
  margin-left: 14.2em;
  padding-top: 0;
}

.smallNote kbd, .smallNoteAttention kbd {
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
}

.smallNoteAttention {
  background: #fff url("../img/attentionComment.gif") no-repeat left 3px;
  margin-left: 0;
  padding-left: 20px;
}

/*---------- Profile styles and User List styles*/
div.modifiedMessage {
  background-color: rgb(130, 130, 130); /* fallback */
  background-color: rgba(130, 130, 130, 0.5);

  display: none;
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 12px 0;

  font-weight: bold;
  text-align: center;
  color: #000;
  z-index: 4;

  opacity: 0.9;
}

.modifiedMessage .messageBody {
  background-color: #ffa;
  margin: 0 12px;
  padding: .5em 0;
  border: 1px solid #8a8d7f;
}

.modifiedMessage .messageText {
  position: relative;
  top: 2px;
}

.modifiedMessage .bulk-operations {
  font-weight: normal;
}

.modifiedMessage input {
  min-width: 4em;
  margin-top: 0.1em;
  margin-left: 1.5em;
  vertical-align: middle;
}

p.notificatorType {
  margin-top: 1em;
  margin-bottom: -1.5em;
  font-weight: bold;
}

p.notificatorType input, p.administratorStatus input {
  float: left;
  margin-right: 0.5em;
  margin-left: 0;
}

p.administratorStatus {
  margin-top: 0;
  margin-bottom: 1.5em;
}

p.createMoreUsers {
  width: 70%;
  margin-top: 0;
  margin-bottom: 0.5em;
  padding: 0 0 0 27px;
}

p.createMoreUsers input {
  float: left;
  margin-right: 0.5em;
}

label.right {
  width: 6.5em;
  margin-left: 1.5em;
}

#licenseInfo {
  width: auto;
  background-color: white;
}

#licenseInfo .groupBox {
  margin-top: 0;
  padding-bottom: 30px;
}

div.selectUserText {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 90%;
}

#licenseInfo .submitButton {
  float: right;
  margin-top: 1em;
  margin-left: 1.5em;
}

.licenseStatus {
  margin: 0;
  padding: 0;
}

#licenseInfo .usersSelector {
  width: 19em;
  margin: 0 5px;
}

/*----------------- Save or Cancel block*/
.saveButtonsBlock, .popupSaveButtonsBlock {
  height: 2.8em;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px dotted #ccc;
  zoom: 1;
}

/* Cross-browser clearfix */
.saveButtonsBlock:after, .popupSaveButtonsBlock:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.saveButtonsBlock, .popupSaveButtonsBlock {
  display: inline-block;
}
* html .saveButtonsBlock, * html .popupSaveButtonsBlock {
  height: 1%;
} /* Hides from IE-mac \*/
.saveButtonsBlock, .popupSaveButtonsBlock {
  display: block;
}

.saveButtonsBlock input, .saveButtonsBlock a, .popupSaveButtonsBlock input, .popupSaveButtonsBlock a {
  vertical-align: middle;
}

/* Remove default margin in WebKit to align buttons with the block border */
.saveButtonsBlock .btn, .popupSaveButtonsBlock .btn {
  margin-right: 0;
}

.ua-ie .saveButtonsBlock a, .ua-ie .popupSaveButtonsBlock a {
  line-height: 2em;
}

.progressRing {
  vertical-align: text-bottom;
}

.progressRingDefault {
  float: right;
  padding-top: 0.1em;
}

.progressRingInline {
  float: none;
}

.saveButtonsBlock .progressRing, .popupSaveButtonsBlock .progressRing {
  position: relative;
  top: 6px;
}

.popupSaveButtonsBlock {
  margin-top: 1em;
}

a.cancel, .btn.cancel {
  float: right;
  margin-left: 1.5em;
}

.submitButton {
  float: right;
  margin-left: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.shortButton {
  width: 5.5em;
}

/*---------- Modal dialogs*/
#overlappingDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.3;
}

.ua-ie #overlappingDiv {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}

.modalDialog {
  background-color: rgb(81, 82, 85); /* fallback */
  background-color: rgba(81, 82, 85, 0.5); /* for normal browsers */

  position: absolute;
  z-index: 100;
  display: none;
  width: 32em;
  min-height: 4em;
  margin: 0;
  padding: 0.9em;
  border: none;
}

.modalDialogFixed {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ua-ie .modalDialog {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f515255, endColorstr=#7f515255);       /* For IE 5.5 - 7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f515255, endColorstr=#7f515255)"; /* For IE 8 */
  background: transparent;
}

.modalDialog .dialogHeader {
  background-color: #ecedf1;
  position: relative;
  margin: 0;
  padding: 2px;
  border: 1px solid #5e5f62;
  border-bottom: none;
}

/* Almost entire dialog header is a drag handle, except for an area around the Close button */
.modalDialog .dialogHandle {
   margin-right: 3em;
}

.modalDialog .dialogTitle .addNew {
  background: none;
  padding: 0;
}

.closeWindow {
  position: absolute;
  top: 1.1em;
  right: .6em;
  padding: 0;
}

.closeWindow a:hover {
  text-decoration: none;
}

.modalDialog h3 {
  margin: 0;
  padding: 0.6em;
  font: bold 120% trebuchet ms, tahoma, sans-serif;
  color: black;
  cursor: default;
}

.modalDialogBody {
  background-color: white;
  margin: 0;
  padding: 10px;
  border: 1px solid #5e5f62;
  border-top: none;
}

/*--------------------- table layout for the project form, build type forms */
.runnerFormTable {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.runnerFormTable th, .runnerFormTable td {
  margin: 0;
  padding: 8px;
  border-top: 1px dotted #CCC;
}

.runnerFormTable tr:first-child th, .runnerFormTable tr:first-child td {
  border-top: none;
}

.runnerFormTable td {
  position: relative\9; /*IE 8 and below*/
}

.runnerFormTable td.at_top {
  vertical-align: top;
}

.runnerFormTable th.noBorder, .runnerFormTable td.noBorder {
  border-top: none;
}

.runnerFormTable th {
  width: 25%;
  vertical-align: top;
  text-align: left;
}

.runnerFormTable span.smallNote, .runnerFormTable td select {
  margin: 0;
  padding: 0;
}

.runnerFormTable tr.groupingTitle td {
  background-color: #f5f5f5;
  padding: .1em 0 .1em 8px;
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

.runnerFormTable td.forkModeOptions .forkModeOption {
  margin: 10px 0;
}

.runnerFormTable td span.smallNote, .runnerFormTable td span.error {
  display: block;
  margin: 0;
  padding: 0;
}

.runnerFormTable td span.smallNoteAttention {
  display: block;
  margin: 0;
}

/*------------------ styles for the Test Connection dialog*/
.testConnectionFailed, .testConnectionSuccess {
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 110%;
}

.testConnectionFailed {
  color: #ED2C10;
}

.testConnectionSuccess {
  color: green;
}

#testConnectionDetails {
  overflow-x: auto;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 12px;
}

textarea.expandable {
  overflow: hidden;
  padding: 0;
}