/*--------------- styles for the header*/
#header {
  margin: 0;
  padding: 0 1em 0 1.5em;
  background: #4c6da9 url(../img/bgHeaderHelp.gif) repeat-x 0 0;
}

#header h1 {
  margin: 0 0;
  padding: 1em 0;
  font-family: trebuchet ms, verdana, tahoma, arial, sans-serif;
  font-size: 210%;
  color: #fffaa8;
}

#header a.close {
  float: right;
  margin: 0;
  padding: 2.3em 0 0;
  color: #fff;
  text-decoration: none;
}

#header a.close:hover {
  text-decoration: underline;
}

/* end of header*/

/* ------------------- styles for the content*/
#content {
  margin: 0;
  padding: 2em 2.5em 2em 1.5em;
}

#content h2 {
  margin: 0;
  padding: 0 0 6px;
  font-family: trebuchet ms, verdana, tahoma, arial, sans-serif;
  font-size: 170%;
  font-weight: normal;
  color: #052863;
  border-bottom: solid 1px #aebccd;
}

#content p {
  margin: 1em 0;
  padding: 0;
}

span.tempMessage {
  background-color: #ffc;
  font-style: italic;
}

#content ul li {
  list-style: circle;
}

/* end of content*/
