/* Contains IE 7 specific fixes */

#userPanel .info,
.systemProblemsBar {
  display: inline;
  zoom: 1;
}

#userPanel .quickSearchQuery {
  width: 150px;
}

.modalDialog {
  width: 34em;
}