body {
  background-color: #afb6bd;
  margin: 0;
  padding: 0;
}

form table {
  width: 100%;
  margin: 0;
  padding: 0;
}

form table td, form table th {
  padding: 3px;
  vertical-align: top;
}

form table th {
  text-align: right;
  font-weight: normal;
}

/* Cross-browser clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
} /* Hides from IE-mac \*/
.clearfix {
  display: block;
}

.noAdministratorComment {
  background-color: #fff;
  width: 30em;
  margin: 1em auto;
  padding: 1em 2em;
}

.noAdministratorComment a {
  font-weight: bold;
}

.initialPage, .licensesPage {
  background: #e3e9ef url(../img/bgLogin.gif) repeat-x 0 0;
  position: relative;
  top: 150px;
  width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 1em;
  text-align: left;
  border: solid 1em #fff;
}

span.logo {
  float: left;
  width: 135px;
  margin: 2.5em 0 0;
  padding: 0;
  text-align: center;
}

#pageContent {
  margin: 3.8em 20px 0 150px;
  padding: 0;
}

.initialPage h1, .licensesPage h1 {
  margin: 0;
  padding: 0 0 0.4em;
  font-family: trebuchet ms, verdana, tahoma, arial, sans-serif;
  font-size: 220%;
  font-weight: normal;
  border-bottom: solid 1px #babec1;
}

#loginPage p#loginDescription {
  margin: 1em 0 -1em;
  font-weight: normal;
  color: #3f3f3f;
}

.initialPage p {
  margin: 1em 0 1.5em;
  padding: 0;
  font-weight: bold;
  color: #6f7275;
}

#loginPage p.registerUser {
  margin: 1.5em 0 0;
  padding-top: .2em;
  font-weight: normal;
  border-top: 1px solid #babec1;
}

.initialPage form {
  margin-top: 2em;
}

.initialPage form label {
  font-size: 18px;
  white-space: nowrap;
}

.initialPage form input.text {
  width: 240px;
  padding: 1px 0;
  font-size: 14px;
}

.initialPage form input.btn {
  padding: 5px 14px 6px;
}

.initialPage form label.rememberMe {
  font-size: 100%;
}

.initialPage .loginButton {
  display: none;
}

.ua-js .initialPage .loginButton {
  display: inline;
}

span.error {
  display: block;
  margin-top: 0;
  margin-left: 160px;
  color: #ed2c10;
}

#footer span.vWord {
  display: inline;
}
