/*--------------------- styles for the Install Agents / close link */

#installAgents {
  width: 25em;
}

#installAgents .contentWrapper {
  padding: 10px;
}

#installAgents ul {
  margin-top: 0;
  margin-left: 15px;
  padding-left: 0;
}

#installAgents ul li {
  list-style: disc;
  line-height: 1.5;
}

#installAgents div.closeWindow a, #installAgents div.closeWindow a:hover {
  color: #1564C2;
}
