/*
 * Copyright (c) 2006-2012, JetBrains, s.r.o. All Rights Reserved.
 */

.responsible span.responsibilityMessage {
  background-color: #ffc;
  display: inline-block;
}

.responsible .responsibleHighlight {
  font-style: italic;
}

.responsible .responsibleActions {
  margin-left: 1em;
}

/*

       ALSO see statusChangeLink.css

*/

/* Build type investigate dialog */

#investigationFormDialog {
  width: 575px;
}

#investigationFormDialog .list table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

#investigationFormDialog .list table td {
  vertical-align: top;
}

#investigationFormDialog .list table td.bt {
  width: 165px;
}

#investigationFormDialog .list table td:last-child {
  text-align: right;
}

#investigationFormDialog .list table td:last-child span {
  left: 0;
  padding: 0;
}

#investigationFormDialog .right {
  float: right;
}

#investigationFormDialog .configurations {
  padding-top: 4px;
}

#investigationFormDialog #bt-responsible,
#investigationFormDialog #bt-investigation-warning {
  width: 410px;
}

#investigationFormDialog table.inner th {
  width: 65px;
}

#investigationFormDialog #bt-remove-investigation {
  width: 341px;
}

#investigationFormDialog #bt-comment {
  width: 100%;
}

#bt-investigation-warning > div.attentionComment,
#test-investigation-warning > div.attentionComment {
  margin: 0.5em 0 0;
  padding-right: 0.5em;
}

#investigationFormDialog h3.dialogTitle span {
  padding: 0 0 0 20px;
}

#investigationFormDialog div.dialogBody {
  margin: 1em 0;
}

/* Investigations page */

select.wideUserDropDown {
  width: 24em;
}

#responsibilitiesTable h2 {
  margin: 0.5em 0 0 10px;
}

.responsibilitiesTable {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1em;
  border-collapse: collapse;
}

.responsibilitiesTable td,
.responsibilitiesTable th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
}

.responsibilitiesTable td {
  border-bottom: 1px dotted #DEDEDE;
}

.responsibilitiesTable .first {
  padding-left: 10px;
  white-space: nowrap;
}

#responsibilitiesTable .first,
#responsibilitiesTable .testNamePart,
#responsibilitiesTable .details,
#responsibilitiesTable .actions {
  vertical-align: top;
}

#responsibilitiesTable .testNamePart {
  width: 50%;
}

#responsibilitiesTable .details {
  padding-right: 1.5em;
  padding-left: 1.5em;
  width: 35%;
}

#responsibilitiesTable .actions {
  width: 15em;
  white-space: nowrap;
  text-align: right;
}

.testDetailsShownRow .details .testActionsLinks {
  display: none;
}

/* Bottom toolbar */

.bulk-operations-toolbar {
  text-align: center;
}

.bulk-operations-toolbar .bulk-operation-cancel {
  margin-left: 1em;
}

/* Investigate/Mute dialog */

.modalDialog.muteTestsFormDialog.wideDialog {
  width: 735px; /* The internal inputs are in pixel, so it's safer to have pixels here as well. */
}

.investigation-dialog .modifiedParam {
  background-color: #FFC !important;
}

.investigation-dialog .list {
  overflow: auto;
  max-height: 120px;
  margin: .5em .3em 0;
}

.investigation-dialog .list > div {
  padding: 0.1em;
}

.investigation-dialog .list .buildTypeIcon {
  vertical-align: text-bottom;
}

.investigation-dialog .blockHeader {
  background: #F5F5F5;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding: 0 0.3em;
  border-top: 1px dotted #CCC;
  border-bottom: 1px dotted #CCC;
  border-right: none;
  cursor: default;
  font: normal 1em helvetica neue, arial, sans-serif;
  line-height: 1.5em;
}

.investigation-dialog .collapsible-section {
  width: 100%;
  border-collapse: collapse;
}

.investigation-dialog .reset {
  display: none;
  float: right;
  font-weight: normal;
}

.investigation-dialog h3 input {
  display: none;
}

.investigation-dialog table.inner th {
  width: 70px;
  vertical-align: middle;
}

table.investigate-params th {
  width: 120px;
  height: 26px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

table.investigate-params td {
  padding: 0;
}

table.investigate-params .inner select {
  width: 490px;
}

table.mute-params {
  margin-top: 0.5em;
}

table.mute-params th {
  width: 120px;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

table.mute-params td textarea {
  width: 100%;
}

table.mute-params td input[type=text],
table.investigate-params td input[type=text] {
  width: 558px;
}

table.mute-params td select,
table.investigate-params td select {
  width: 564px;
}

table.mute-params table.inner {
  width: 100%;
  margin-top: 3px;
}

table.mute-params table.inner td {
  text-align: right;
}

table.mute-params .inner input[type=text] {
  width: 440px;
}

table.mute-params .inner select {
  width: 487px;
}

div.hr {
  height: 1px;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  border: none;
  border-top: 1px solid #aaaaaa;
}

.do-mute {
  margin-top: 1em;
  margin-left: 12px;
}

#mute-in-bt-list {
  overflow: auto;
  max-height: 200px;
  padding: 3px 5px;
  position: relative;
}

#muted-tests {
  width: 100%;
  border-collapse: collapse;
}

#muted-tests td {
  padding: 0.3em 0.6em;
}

#mute-dialog-container .error-msg {
  color: #ED2C10;
}

/* Popups */

div.name-value {
  padding: 4px;
}

div.name-value > table {
  width: 100%;
  max-width: 26em;
}

div.name-value > table th {
  padding-right: 0.4em;
}

div.name-value > table th,
div.name-value > table td {
  overflow: auto;
  vertical-align: top;
  text-align: left;
  white-space: nowrap;
}

div.name-value > table td.resp-comment,
div.name-value > table td.mute-comment {
  font-style: italic;
  white-space: normal;
  max-width: 400px;     /* Can grow very long in Chrome */
}

div.name-value + div.actions {
  background-color: #F6F6F6;
  padding: 5px 5px 5px 8px;
  border-top: 1px solid #D6D6D6;
}

/* Icons */

img.mute-icon, img.respIcon {
  vertical-align: middle;
}

img + img.mute-icon {
  margin-left: 2px;
}
