/* Issue popup */

.issueDetailsPopup {
  padding: 4px 4px 4px 0;
  margin-bottom: 0.5em;
}

.issueDetailsPopup span {
  margin-right: 1px;
}

.issueDetailsPopup .resolved {
  color: #676E75 !important;
}

.issueDetailsPopup .resolved td:first-child {
  text-decoration: line-through;
}

.issueDetailsPopup .main {
  margin-bottom: 0.3em;
}

.issueDetailsPopup td:first-child {
  padding-right: 21px;
}

.issueDetailsPopup .other {
  border-collapse: collapse;
}

.issueDetailsPopup .other td {
  text-align: center;
  border: none;
  border-left: solid 1px #D4D5D6;
  border-right: solid 1px #D4D5D6;
  min-width: 10em;
  padding: 0 0.2em;
}

.issueDetailsPopup .other td:last-child {
  border-right: none;
}

.issueDetailsPopup .type.feature {
  color: #64992C;
}

.issueDetailsPopup .other .priority div {
  color: #64992C;
}

.issueDetailsPopup .p0 div {
  border: 1px solid #C00;
  background: #FFE3E3;
  color: #C00 !important;
}

.issueDetailsPopup .p1 div {
  background: #FFE3E3;
  color: #C00 !important;
}

.issueDetailsPopup .p2 div {
  background: #F0F2F3;
  color: #C00 !important;
}

.issueDetailsPopup .p3 div {
  background: #EBF4DD;
  color: #64992C;
}

/* Issue log */

table.issues th {
  text-align: left;
}

table.issues td {
  padding: 0.5em 2px 0.3em 6px;
  font-size: 90%;
}

table.issues tr td.status span, span.resolvedStatus {
  padding: 3px 5px;
}

table.issues tr.fixed td.status span, span.resolvedStatus {
  background-color: #F1F4F7;
  font-weight: bold;
  color: green;
}

span.simpleStatus {
  background-color: #F1F4F7;
  padding: 3px 5px;
}

table.issueLogFilter {
  background-color: #F5F5F5;
  width: 100%;
  margin-bottom: 0.3em;
  border-collapse: collapse;
}

table.issueLogFilter td {
  padding: 4px;
}

table.issueLogFilter td.fromLabel, table.issueLogFilter td.recordsPerPage {
  width: 13%;
  white-space: nowrap;
}

table.issueLogFilter td .submitButton {
  float: none;
  width: 5.5em;
}

table.issueLogFilter input {
  width: 8em;
}

table.issueLogTable {
  background-color: #fff;
  width: 100%;
}

table.issueLogTable td {
  margin: 0;
  padding: 0.3em 0;
  text-align: left;
  vertical-align: top;
}

table.issueLogTable td.id {
  width: 10%;
  padding-left: 0.5em;
}

table.issueLogTable td.summary {
  width: 50%;
  padding-right: 5px;
  padding-left: 25px;
  font-weight: bold;
}

table.issueLogTable td.state {
  width: 15%;
}

table.issueLogTable td .retrievingNote {
  color: #888;
}

table#providers {
  margin-top: 8px;
}

table#providers th, table#providers td {
  padding: 3px 3px 3px 0.5em;
  text-align: left;
}

table#providers th {
  background-color: #F5F5F5;
}

.providerSummary {
  color: #888;
}

table.editProviderTable th {
  vertical-align: top;
}

table.editProviderTable td, table.editProviderTable th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px dotted #CCC;
}

table.editProviderTable tr:last-child td, table.editProviderTable tr:last-child th {
  border-bottom: none;
}

table.editProviderTable label.shortLabel {
  display: inline-block;
  width: 10em;
  white-space: nowrap;
}

table.editProviderTable td span.error {
  margin: 0;
  padding: 0;
}

.fieldExplanation {
  display: inline-block;
  color: #888;
  font-size: 90%;
}

.testConnectionDialog {
  width: 25em;
}

.testConnectionDialog table th {
  text-align: left;
}

#issueDetails {
  overflow: auto;
  margin-top: 0.5em;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  font-size: 12px;
  white-space: normal;
}

#issueDetails .err, table.issueLogTable .err, #buildIssuesTable .err {
  color: #ED2C10;
  font-weight: normal;
}
