.layeredGraph {
  position: absolute;
  top: 0;
  left: 0;
}

.layeredGraph .depNode, .layeredGraph .fakeNode {
  position: absolute;
  top: 0;
  left: 0;
}

.layeredGraph .depNode {
  border: 1px solid #aaa;
  padding: 3px 3px 3px 7px;
  margin: 0 0 5px 0;
  min-width: 15em;
}

.layeredGraph .fakeNode {
  height: 1px;
  width: 0;
}

.layeredGraph .buildConf {
  margin-right: 16px;
}

.layeredGraph .buildConfRun {
  padding-right: 65px;
}

