div.licensesPage {
  background-color: #fff;
  margin: 0;
}

div.licensesPage h5 {
  font-size: 100%;
}

/*-------------- borders for adding new licenses area */
div.newLicense {
  margin-top: 20px;
}

.newLicense ul {
  padding: 0;
  list-style: none;
}

.newLicense li {
  margin-top: 1em;
}

span.expired, span.maximumReached {
  color: #ED2C10;
}

#verificationStatus {
  margin-top: 0;
}

.verificationResults {
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 90%;
}

.invalidKey {
  color: #ED2C10;
}

.inUseKey, .validKey {
  color: green;
}

#saving {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 90%;
}

.licenseAgreement {
  background-color: white;
  overflow: auto;
  width: 100%;
  height: 560px;
  margin: 2em 0 2.5em;
  padding: 5px 5px 5px 5px;
}

table.licensesTable {
  width: 100%;
}

table.licensesTable th, table.licensesTable td {
  white-space: nowrap;
}

table.licensesTable th.name {
  padding-left: .5em;
}

.inactiveLicensesContainer {
  width: 80%;
}

.inactiveLicenses {
  color: darkgray;
}

.inactiveLicenses h3 {
  color: darkgray;
}

table.inactiveLicensesTable {
  margin-top: 1em;
}

table.inactiveLicensesTable td, table.inactiveLicensesTable th {
  white-space: nowrap;
}

table.licensesTable td.licenseType {
  width: 15%;
}

table.licensesTable td.licenseKey {
  width: 20%;
}

table.licensesTable th.generationDate, table.licensesTable td.generationDate {
  width: 12%;
}

table.licensesTable th.subscriptionDate, table.licensesTable td.subscriptionDate {
  width: 15%;
}

table.licensesTable th.expirationDate, table.licensesTable td.expirationDate {
  width: 18%;
}
