body {
  font-size: 60%;
  width: 300px;
  min-width: 200px;
  max-width: none;
}

#loginPage h1 {
  display: none;
}

#loginPage {
  width: 300px;
  margin: 10px;
}

#pageContent {
  margin: 0 0 0 5px;
}

#loginPage span.logo, #loginPage img {
  display: none;
}

#loginPage form input.text {
  width: 140px;
}

input.textfield {
  width: 140px;
}

input.but {
  font-size: 100%;
}

.registerUser {
  display: none;
}

.guestLogin {
  display: none;
}

.noAdministratorComment {
  display: none;
}