/*----------- basic layout */
html {
  overflow-y: scroll;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: helvetica neue, arial, sans-serif;
  font-size: 82%;
  line-height: 1.5em;
  color: #151515;
  text-rendering: optimizeLegibility;
}

body.pageBG {
  background: #fff url("../img/eluruDesign/bgToolbar.gif") repeat-x 0 45px;
}

input, select, button {
  font: normal 100% helvetica neue, arial, sans-serif;
}

textarea {
  font: normal 12px 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
}

img {
  border: none;
}

/* For browsers that have relative font weight (bolder) defined for the strong tag */
strong {
  font-weight: bold;
}

a {
  color: #1564c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #1564c2;
}

h2 {
  margin: 0;
  padding: 0.2em 1em 0.2em 0;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0;
  color: #151515;
}

h3 {
  font-size: 100%;
}

/* Normalize styling of form elements */
form {
  margin: 0;
  padding: 0;
}

input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

optgroup {
  font-style: normal;
  font-weight: bold;
}

optgroup:disabled {
  color: #7F7F7F;
}

input[type='text'], input[type='password'], input[type='search'], textarea, select[multiple] {
  min-height: 20px !important;
  margin: 0;
  padding: 0;
  line-height: 1.5em;

  border: 1px solid;
  border-color: #888 #CCC #CCC;

  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type='checkbox'], input[type='radio'] {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

/* Custom buttons */
.btn {
  cursor: pointer;
  display: inline-block;

  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;

  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
  filter: none;

  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0;
}
.btn[disabled], .btn[disabled]:hover, .btn[disabled]:active {
  background-color: #e6e6e6;
  background-image: none;
  background-position: 0 0;
  filter: inherit;

  color: #666;

  -webkit-box-shadow: inherit;
  -moz-box-shadow: inherit;
  box-shadow: inherit;
}

.btn_primary {
  color: #FFF;

  background-color: #2d5fb3;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#438ed7), to(#2d5fb3));
  background-image: -moz-linear-gradient(top, #438ed7, #2d5fb3);
  background-image: -ms-linear-gradient(top, #438ed7, #2d5fb3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #438ed7), color-stop(100%, #2d5fb3));
  background-image: -webkit-linear-gradient(top, #438ed7, #2d5fb3);
  background-image: -o-linear-gradient(top, #438ed7, #2d5fb3);
  background-image: linear-gradient(top, #438ed7, #2d5fb3);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#438ed7', endColorstr='#2d5fb3', GradientType=0);*/
  filter: none;

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  border-color: #2d5fb3 #2d5fb3 #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn_primary:hover {
  color: #FFF;
}

.ua-ie .btn_primary:hover {
  background-color: #204480;
}

.btn_small {
  padding: 7px 9px 7px;
}

.btn_mini {
  padding: 0 .5em;
}

.btn_icon {
  padding: .2em .5em;
}

.btn_icon:focus {
  outline: none;
}

.btn_icon .btn_icon_inner {
  vertical-align: bottom;
}

/* Right part of the combo-button */
.btn_append {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  padding-left: 0;

  border-left-style: dotted;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* Custom checkbox */
.custom-checkbox {
  background: #9A9A9A;
  background-color: rgba(178, 178, 178, 0.8);
  background-image: url(../img/checkbox.svg);
  background: -webkit-linear-gradient(rgba(192, 192, 192, 0.5), rgba(49, 49, 49, 0.5));
  background: -moz-linear-gradient(top, rgba(192, 192, 192, 0.5), rgba(49, 49, 49, 0.5));
  background: -ms-linear-gradient(rgba(192, 192, 192, 0.5), rgba(49, 49, 49, 0.5));
  background: -o-linear-gradient(rgba(192, 192, 192, 0.5), rgba(49, 49, 49, 0.5));
  background: linear-gradient(rgba(192, 192, 192, 0.5), rgba(49, 49, 49, 0.5));
  -webkit-background-clip: padding;

  display: inline-block;
  font: 0/0 a;
  margin: 0 2px 1px;
  padding: 0;
  vertical-align: middle;

  cursor: default;
}

.custom-checkbox_focused {
  background: #072342;
  background-color: rgba(7, 34, 66, 0.8);
  background-image: url(../img/checkbox_focused.svg);
  background: -webkit-linear-gradient(rgba(21, 100, 194, 0.5), rgba(7, 34, 66, 0.5));
  background: -moz-linear-gradient(top, rgba(21, 100, 194, 0.5), rgba(7, 34, 66, 0.5));
  background: -ms-linear-gradient(rgba(21, 100, 194, 0.5), rgba(7, 34, 66, 0.5));
  background: -o-linear-gradient(rgba(21, 100, 194, 0.5), rgba(7, 34, 66, 0.5));
  background: linear-gradient(rgba(21, 100, 194, 0.5), rgba(7, 34, 66, 0.5));
}

.custom-checkbox_disabled {
  opacity: 0.4;
}

.custom-checkbox .custom-checkbox_input {
  background: none;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 1px 0 0;
  padding: 0;
  border: none;
  opacity: 0;
  outline: none;
  z-index: 4;

  /* IE */
  zoom: 1.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.custom-checkbox .custom-checkbox_bg {
  background: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(../img/checkbox_bg.svg);
  background: -webkit-linear-gradient(top, color-stop(10%, rgba(255, 255, 255, 0.95)), color-stop(60%, rgba(250, 250, 250, 0.85)), color-stop(80%, rgba(245, 245, 245, 0.80)), color-stop(100%, rgba(230, 230, 230, 0.70)));
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.95) 10%, rgba(250, 250, 250, 0.85) 60%, rgba(245, 245, 245, 0.80) 80%, rgba(230, 230, 230, 0.70) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.95) 10%, rgba(250, 250, 250, 0.85) 60%, rgba(245, 245, 245, 0.80) 80%, rgba(230, 230, 230, 0.70) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.95) 10%, rgba(250, 250, 250, 0.85) 60%, rgba(245, 245, 245, 0.80) 80%, rgba(230, 230, 230, 0.70) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0.95) 10%, rgba(250, 250, 250, 0.85) 60%, rgba(245, 245, 245, 0.80) 80%, rgba(230, 230, 230, 0.70) 100%);
  -webkit-background-clip: padding;

  display: inline-block;
  margin: 1px;
  padding: 0;
}

.custom-checkbox .custom-checkbox_tick {
  background: url(../img/checkbox_tick.gif) -9999px 50% no-repeat;

  width: 11px;
  height: 11px;

  display: inline-block;
  font: 0/0 a;
}

.custom-checkbox_checked .custom-checkbox_tick {
  background-position: 50% 50%;
}

.ua-mac .custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.ua-mac .custom-scroll::-webkit-scrollbar-track-piece {
  background-color: #FFF;
}

.ua-mac .custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204);
}

.ua-mac .custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(153, 153, 153);
}

.textarea {
  margin-bottom: .3em;
}

label.tableLabel {
  float: left;
  width: 12.5em;
}

div.fixedWidth {
  min-width: 990px;
  max-width: 1550px;  /* Probably be should be even greater... */
  margin: 0 auto;
  padding: 0 20px;
}

#bodyWrapper {
  min-height: 100%;
  position: relative;
}

#content {
  margin: 0;
}

#loadingWarning {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 12em;
  margin-left: -7.25em;
  margin-top: -2em;
  padding: 1em;
  text-align: center;
  background-color: #fff;
  border: .25em solid #c6c6c6;
  color: #868686;
  font: normal 20px tahoma, verdana, arial, sans-serif;
  z-index: 1000;
}

/*-------------------- content helpers */
pre, .revisionNum {
  font: normal 12px 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
}

.hidden {
  display: none;
}

.posRel {
  display: inline-block;
  position: relative;
}

.completionIconWrapper {
  position: relative;
}

/**
 * Forces long strings without spaces to break.
 * Works across all modern browsers, suitable for cases
 * where inserting soft hyphens is undesired.
 */
.longValue {
  display: inline-block;
  max-width: 50em;
  word-wrap: break-word;
  word-break: break-all;
}

/*-------------------- styles for the top navigation */
#topWrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

.headBG {
  min-width: 990px;
  height: 36px;
  padding: 5px 0;
}

.headerLogo {
  float: left;
  padding: 0 0 0 3px;
}

.headerLogoImg {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/icons/TeamCity32.png") no-repeat 50% 50%;
}

@media screen and (-webkit-device-pixel-ratio: 2) {
  .headerLogoImg {
    background-image: url("../img/icons/TeamCity128.png");
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
  }
}

#allPopupImg {
  background: url(../img/popUpControl.gif) no-repeat left bottom;
  float: left;
  width: 20px;
  padding: 2px 0;
}

#allPopupImg.hovered {
  background: url(../img/popUpControl_hover.gif) no-repeat left bottom;
}

p.note {
  margin: 0;
  padding-top: 1em;
  font-weight: normal;
}

img.handle {
  cursor: pointer;
}

span.versionTag {
  color: #888;
  font-size: 90%;
}

span.commentText {
  color: #888;
  font-weight: normal;
}

span.commentText.small {
  font-size: 80%;
}

.clr {
  clear: both;
  height: 0;
  font-size: 0;

  overflow: hidden;
}

/* Cross-browser clearfix */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
} /* Hides from IE-mac \*/
.clearfix {
  display: block;
}

/* -------------------------------------- links*/

a.red {
  color: #ED2C10;
}

a.red:visited {
  color: #ED2C10;
}

a.red:hover {
  background-color: #ED2C10;
  text-decoration: none;
  color: white;
}

a.expandable, a.collapsable {
  padding-right: 1.3em;
  padding-bottom: 0;
  text-decoration: none;
}

a.expandable:hover, a.collapsable:hover {
  background-color: white;
  border-bottom: none;
  color: #3356C0;
}

a.expandable:active, a.collapsable:active {
  background: none;
  border-bottom: none;
  color: #3356C0;
}

a.expandable {
  background: url("../img/arrowDownNew.png") no-repeat center right;
}

a.collapsable {
  background: url("../img/arrowUpNew.png") no-repeat center right;
}

/* ------------------------------------- images*/

img.icon {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: text-bottom;
}

/*---------------- Headers */

h3.title_underlined {
  margin-top: 2em;
  padding-bottom: 0.1em;
  border-bottom: #a6a6a6 1px solid;
  color: black;
}

.compat h3, .noncompat h3 {
  padding-left: 1.3em;
  white-space: nowrap;
  border: none;
}

.compat h3 {
  background: url("../img/compatible.gif") no-repeat left center;
}

.noncompat h3 {
  background: url("../img/noncompatible.gif") no-repeat left center;
}

h3.title_underlined {
  margin-top: 1.5em;
  border-bottom: #dbdbdb 1px solid;
  font-weight: bold;
}

a.noUnderline, a.noUnderline:hover {
  text-decoration: none;
}

/*----- Expand All || Collapse All */

.expandCollapseAllLeft {
  margin: 0;
  padding: 0 0 3px;
}

/*---------------- Collapsible blockHeaders*/
.blockHeader {
  background: #EBEDEF no-repeat 5px 5px;
  color: #3F3F3F;

  padding: 4px 4px 4px 25px;
  border-bottom: 1px solid #E3E9EF;
  border-right: 1px solid #E3E9EF;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
  font-weight: bold;
}

.blockHeader.expanded {
  background-image: url("../img/blockExpanded.gif");
}

.blockHeader.collapsed {
  background-image: url("../img/blockCollapsed.gif");
}

/* ----------- end*/

.comment {
  margin: 0.5em 0 0.2em 0;
  padding: 0 25px;
  font-size: 95%;
}

textarea.commentTextArea {
  width: 98%;
  color: #3f3f3f;
}

* html textarea.commentTextArea {
  /* hack for IE6: */
  width: 95%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td.action {
  text-align: center;
}

td.action input {
  width: 50px;
}

td.highlight {
  cursor: pointer;
}

input.action {
  min-width: 4.5em;
  padding: 0 4px;
  font-size: 9pt;
}

.error {
  color: #ed2c10;
}

.none {
  color: #888;
}

td.center {
  text-align: center;
}

/** Used when showing several user actions, like in popup with build comment + build change status */
p.userActionBlock {
  margin: 0;
  padding: 0.25em;

  border-bottom: 1px solid #dbdbdb;
}

p.userActionBlock:last-child {
  border-bottom: none;
}

/*---------- pop-up windows*/

.tooltipDiv {
  background-color: #ffe;
  display: none;
  position: absolute;
  width: auto;
  padding: 3px 5px;
  border: black 1px solid;
  z-index: 200;
}

/* ---------------- Overview page toolbar */
#toolbar {
  padding: 0.8em 0 0 0;
}

div.toolbar-left {
  float: left;
  margin-top: 0;
  margin-bottom: 0.2em;
}

div.toolbar-right {
  float: right;
}

/*----------- footer styles */
#footer {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 1000px;
  height: 8.5em;
  background-color: #FFF;
}

#footer .footerMainContainer {
  width: 100%;
  min-width: 1000px;
  margin: 2em 0 0;
  border-top: solid 1px #A0A0A0;
}

#footer .footerMain {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer .column1, #footer .column2, #footer .column3 {
  float: left;
  width: 33%;
}

#footer .column2 {
  width: 34%;
  text-align: center;
}

#footer .column3 {
  text-align: right;
}

#footer .columnContent {
  margin: 0 24px;
}

#footer .feedbackLink {
  background: url("../img/footerPostfeedback.gif") no-repeat left center;
  padding: 0 0 2px 20px;
}

#footer .helpLink {
  background: url("../img/helpLink.gif") no-repeat left center;
  margin-right: 20px;
  padding: 0 0 2px 18px;
}

#footer .newVersionLink {
  background: url("../img/newVersion.gif") no-repeat;
  margin-left: 20px;
  padding: 0 0 2px 18px;
  white-space: nowrap;
}

#footer .expirationWarning {
  color: #ED2C10;
}

#footer span.vWord {
  display: none;
}

/*------------------------- error messages*/
div.errors {
  background-color: white;
  width: 500px;
  margin: 2em auto;
  border: 2px solid #ED2C10;
  text-align: center;
  font-size: 120%;
}

/*-------- Styles for the 'success message' -- shown after successful edits*/

.successMessage {
  background-color: #ffc;
  margin: 1em 0;
  padding: 2px 20px;
  font-size: 90%;
  text-align: center;
  font-weight: bold;
}

/* -------- Used on my settings page and on the user notifier settings page and on build configuration pages---------------- */
.attentionComment, .attentionRed {
  background: #ffc url("../img/attentionComment.gif") no-repeat 5px 8px;
  margin-bottom: 5px;
  padding: 5px 25px;
  border: 1px solid darkorange;
  color: #222;
}

.attentionRed {
  background-image: url("../img/attentionCommentRed.gif");
}

.messagePrompt {
  background: #E9F3FD;
  margin-top: 1em;
  padding: 10px 15px 15px;
  border: 1px solid #BCE8F1;
}

.messagePromptButtons {
  margin-bottom: 0;
}

/*--- end*/

/*-------------  Generic popups --------------*/
.popupDiv {
  background-color: white;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;

  overflow: hidden;
  position: absolute;
  display: none;

  padding: 3px 0.5em;

  border: 1px solid;
  border-color: #ccc #666 #666 #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  text-align: left;
  z-index: 100;
}

.popupDiv.quickLinksMenuPopup {
  width: auto;
  min-width: 25em;
}

.popupDiv.popupLoading {
  background-color: #FFF;
  padding: 5px !important;
}

#warningPopup {
  background-color: #ffc;
}

a.actionLinkNew {
  background-color: #fff;
  padding: 3px 10px 3px;
}

a.actionLinkNew:hover, a.actionLinkNewHover {
  background-color: #e3e9ef;
}

/*-------------  Changes popup --------------*/
#changesPopup {
  width: 42em;
  padding: 0;
  z-index: 80;
}

#changesPopup .changesContainer {
  margin: 0;
  padding: 5px 10px;
}

#changesPopup .userChangesHeader {
  background-color: #F0F5FB;
  padding: 2px 5px;
  font-size: 95%;
  font-weight: bold;
  border: none;
}

#changesPopup .userChangesHeader.highlightChanges {
  background-color: #FFC;
}

#changesPopup .userChangeComment {
  overflow-x: hidden;
  margin-right: .5em;
  padding: 0;
  font-size: 90%;
  line-height: 1.5em;
}

#changesPopup .userChangeFiles {
  float: right;
  min-width: 6em;
  font-size: 85%;
  text-align: right;
}

#changesPopup .userChangeFiles span.highlightChanges {
  left: 0;
}

#changesPopup .userChanges {
  border: none;
}

#changesPopup .userChange {
  clear: both;
  padding: 5px 0 5px 5px;
  border: none;
  border-bottom: 1px solid #E3E9EF;
}

#changesPopup .artifactCommentTable {
  width: 100%;
}

#changesPopup .artifactCommentBuildType {
  width: 30%;
  vertical-align: top;
}

#changesPopup .buildChangesHeader {
  font-weight: normal;
}

#changesPopup .buildStartDate {
  float: right;
  font-size: 90%;
}

#changesPopup a.expandIcon {
  background: url("../img/dropDownPopupLink.gif") no-repeat;
  padding: 0 8px 4px 8px;
}

#changesPopup a.expandIcon:hover {
  background: url("../img/dropDownPopupLink_nb_hover.gif") no-repeat;
  text-decoration: none;
}

#changesPopup .buildChanges {
  width: 100%;
}

#changesPopup .buildChanges td.username {
  width: 30%;
  font-weight: bold;
  font-size: 90%;
}

#changesPopup .buildChanges td.userChange {
  width: 70%;
}

#changesPopup .changesPopupTable {
  width: 100%;
}

#changesPopup .changesPopupTable th {
  padding-right: 1em;
}

#changesPopup .changesPopupTable td.files {
  text-align: right;
}

#changesPopup .changesPopupTable td.user {
  padding-right: 1.5em;
  text-align: right;
}

#changesPopup .changesPopupTable .date {
  padding-right: 1.5em;
}

#changesPopup .changesPopupTable td, #changesPopup .changesPopupTable th {
  vertical-align: top;
  font-size: 90%;
  border-bottom: 1px solid #E3E9EF;
}

#changesPopup .simpleTabs .tabs {
  margin: 5px 0 0 10px;
  overflow: auto;
}

#changesPopup table.buildChanges {
  border-collapse: collapse;
}

#changesPopup table.buildChanges td.username, #changesPopup table.buildChanges td.userChangeTD {
  border-bottom: 1px solid #E3E9EF;
}

#changesPopup table.buildChanges div.userChange {
  border: none;
}

#changesPopup .ellipsis, span.textExpandArrow {
  background: url(../img/more.png) no-repeat 0 3px;
  display: inline-block;
  width: 24px;
  height: 15px;
  margin-left: 2px;
  text-indent: -9999px;
}

#changesPopup .ellipsis:hover, span.textExpandArrow:hover {
  background: url(../img/moreHover.png) no-repeat 0 3px;
}

#changesPopup .historyBuildNote {
  margin-bottom: 4px;
}

#changesPopup .changePopupHeader, #changesPopup .changesPopupFooter {
  background-color: #f5f5f5;
  padding: 4px;
  font-size: 90%;
}

#changesPopup .changePopupHeader {
  margin-bottom: 6px;
  border-bottom: 1px solid #E3E9EF;
}

#changesPopup .changePopupFooter {
  margin-top: 6px;
}

#changesPopup .userChangeComment td.status, #changesPopup .userChangeComment td.buildNumber {
  vertical-align: top;
}

#changesPopup .userChangeComment td.buildNumber {
  width: 10%;
}

#changesPopup .artifactsChangeHeader {
  background-position: 5px 3px;
  padding-left: 25px;
}

span.changeName {
  font-size: 90%;
}

div.dependencyRelationIcon {
  float: right;
}

img.dependencyRelationIcon {
  vertical-align: middle;
}

/* ----------------------------------- Style for the context help popup   */
#contextHelpPopup, #togglePopup, .name-value-popup {
  padding: 0;
  border: 1px solid #D6D6D6;
}

.helpPopupContent {
  font-size: 95%;
}

.helpPopupBody {
  margin: 0;
  padding: 0;
}

.helpPopupFooter {
  background-color: #F5F5F5;
  padding: 5px;
  text-align: center;
}

/* ----------------------------------- Style for the help icon (that contains link)   */
a.helpIcon img {
  vertical-align: top;
}

a.helpIcon:hover {
  background-color: transparent;
  text-decoration: none;
}

.stopping, a.stopping:hover {
  color: #ED2C10;
}

/*------------------------------- styles used in tags */
.iconLink {
  background-position: 0 2px;
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-left: 20px;
}

form.runBuildTag {
  display: inline;
  padding-right: 0.7em;
}

.activationPanel {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 70px;
  height: 7px;
  background: white;
}

.activationPanel .activationIndicator {
  float: left;
  width: 5px;
  height: 5px;
  margin: 1px 0 1px 1px;
  background: yellow;
}

.messagesHolder {
  margin-top: 0;
  margin-bottom: .5em;
}

.messagesHolder #savingData {
  background: #fff url("../img/ajax-loader.gif") no-repeat 0 2px;
  display: none;
  padding-left: 20px;
}

.messagesHolder #dataSaved {
  background-color: #ffc;
  display: none;
  margin: auto;
  font-size: 90%;
  text-align: center;
  font-weight: bold;
}

/* -------------- Choose an agent to run a build pop-up*/

.buttonWrapper {
  display: block;
  position: relative;
  width: 62px;
}

.buttonWrapper input, .buttonWrapper .btn {
  width: 50px;
  text-align: left;
}

.buttonWrapper .btn {
  width: 58px;
  padding-left: 5px;
}

.buttonWrapper .btn_main {
  position: absolute;
  top: 0;
  left: 0;
}

.buttonWrapper .btn_append {
  width: 20px;
  padding: 0;
  text-align: center;
}

.buttonWrapper img {
  position: absolute;
  top: 2px;
  right: 0;
  cursor: pointer;
}

#chooseAgentPopup {
  padding: 0;
}

#chooseAgentPopup .noAgents {
  width: 150px;
  padding: 3px 5px;
  font-size: 90%;
  text-align: center;
}

#chooseAgentPopup div.header {
  background-color: #E3E9EF;
  margin: 0;
  padding: 4px 0 4px 10px;
  font-weight: bold;
  white-space: nowrap;
  font-size: 90%;
}

.menuList {
  background-color: #fff;
  margin: 5px;
  padding: 0;
}

.menuList li {
  margin: 2px 0;
  padding: 0 5px;
  list-style: none;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px dotted #E7E7E7;
}

.menuList li a {
  display: block;
}

.menuList .menuItemLinkContent {
  line-height: 2;
}

.menuList .menuItemLinkContent a {
  display: inline;
}

.menuListGrouped li {
  border-bottom: none;
}

.menuListGrouped .menuListSeparator {
  padding: 0;
  border-bottom: 1px solid #E7E7E7;
}

.menuList .menuItemSelected,
.menuList .menuItemSelected a,
.menuList li:hover,
.menuList li:hover a {
  background-color: #3773C9;
  color: white;
  text-decoration: underline;
}

.menuListFilterable {
  overflow: hidden;
}

.menuListFilterable .menuItemSelected,
.menuListFilterable .menuItemSelected a {
  background-color: #FFC;
  color: #1564C2;
}


/*  ----------------------------- Common VCS problems styles */
#systemProblemDetails {
  width: 50em;
  padding: 0;
}

.systemProblemsBar {
  background-color: #FFC5C4;

  display: inline-block;
  width: auto;
  margin-right: .5em;
  padding: 0 .5em;

  font-weight: normal;
  color: #C00;
  font-size: 90%;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  text-indent: 0;
}

.systemProblemsBarText {
  display: inline-block;
  padding-right: 1em;
}

.systemProblemsBarLink, .systemProblemsBarLink:hover {
  padding: 0 .5em;
  border-left: 1px solid #FFF;
  color: #C00;
}

.systemProblemsContainer {
  background-color: #fff;
  padding: 1em;
}

.systemProblemHead {
  margin: 1.5em 0 .5em;
}

.systemProblemHead:first-child {
  margin-top: 0;
}

.systemProblemsContainer .systemProblem {
  padding: 0.5em 0.5em 0.5em 1em;
  border: 1px solid #ccc;
}

.systemProblem .problemMessage {
  color: #C00;
  font-size: 12px;
}

.systemProblem .problemDetails {
  overflow: auto;
  height: auto !important;
  height: 15em;
  max-height: 15em;
  margin-top: 5px;
  font-size: 80%;
}

/* ------------------------------------------------ */
/* Table with dark header styles, sortable table, other common table styles  */
table.dark {
  width: 100%;
  margin: 0;
  padding: 0;
}

table.dark th {
  background-color: #959BA4;
  margin: 0;
  padding: 2px 6px;
  color: #FFF;
  text-align: left;
}

table.dark th.emptyCell, table.dark td.emptyCell {
  background: #fff none !important;
  width: 2px;
  padding: 0;
  border: none;
}

table.dark td {
  margin: 0;
  padding: 2px 6px;
  text-align: left;
}

table.dark td.center {
  text-align: center;
}

table.dark td.idle {
  padding-right: .5em;
  color: #888;
  text-align: right;
}

table.sortable th {
  font-weight: normal;
}

table.sortable th.sortable {
  font-weight: bold;
  cursor: pointer;
}

table.sortable .sortedAsc {
  background: url("../img/sortUp.gif") no-repeat right;
  padding-right: 16px;
}

table.sortable .sortedDesc {
  background: url("../img/sortDown.gif") no-repeat right;
  padding-right: 16px;
}

table.borderBottom  td {
  border-bottom: #ccc 1px solid;
}

span.refreshMessage {
  background-color: #ffc;
  padding: 0.3em 5em;
  text-align: center;
  font-weight: bold;
  font-size: 90%;
}

/** ------------- Styles for toolbar items ------------------------ */
.spacing {
  height: 3px;
}

div.separator {
  background-color: #9BA9BA;
  float: left;
  width: 1px;
  height: 15px;
  margin-top: 3px;
  font-size: 1px;
}

/** To use with cases like <span class='separator'>|</span>
*/
span.separator {
  padding-right: 5px;
  padding-left: 5px;
  color: #9BA9BA;
}

.toolbarItem {
  float: left;
  margin-right: 12px;
}

/* Normally followed by some other element, but not in Guest mode */
.toolbarItem:last-child {
  margin-right: 0;
}

.toolbarItem input[type='checkbox'] {
  position: relative;
  top: -1px;
}

.ua-ie .toolbarItem input[type='checkbox'] {
  position: relative;
  top: 0;
}

.toolbarItem .buttonWrapper {
  margin-top: -2px;
  height: 1.5em;
}

.toolbarItem .pinLink {
  position: relative;
  top: -1px;
}

.ua-ie .toolbarItem .pinLink {
  position: relative;
  top: -3px;
}

/* ------------------------- Action bar styles */

.actionBar {
  background-color: #f5f5f5;
  margin: 0 0 .3em;
  padding: .6em 10px;
  line-height: 2.2;
}

.actionBar label {
  margin-left: 1em;
  margin-right: 0.5em;
  line-height: 2em;
}

.actionBar .firstLabel {
  margin-left: 0;
}

.actionBar .nowrap {
  white-space: nowrap;
}

.actionBar .actionInput {
  margin-right: 1.2em;
}

.actionBar .ufd {
  top: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .actionBar .ufd {
    top: 0;
  }
}

.actionBar .farRight /*--- right side of the action bar */
{
  float: right;
  margin-left: 1em;
  white-space: nowrap;
}

/** ------------- END of styles for toolbar items ------------------------ */

/**  Popup control span popup style */
span.pc {
  padding: 1px 2px 2px 0;
  white-space: nowrap;
  text-decoration: none;
}

span.pc .toggle {
  width: 17px;
  height: 17px;
  vertical-align: middle;
  padding-left: 5px;
  cursor: pointer;
}

span.pc .resultsLink {
  white-space: normal;
}

/*
  Fix wrapping for links that exhibit problematic behavior in Chrome
  .summaryContainer - build results popup
  td.changesLink - build row
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .summaryContainer .testNamePart span.pc .resultsLink,
  td.changesLink span.pc .resultsLink {
    white-space: nowrap;
  }
}

span.pc.newTestFailure {
  background: url("../img/star.gif") no-repeat 0 center;
  padding-left: 18px;
  left: 0;
}

span.pc.highlightChanges {
  background-color: #FFC !important;
}

span.pc .fixed,
span.pc .fixed a {
  color: #888;
}

span.highlightChanges {
  background-color: #FFC;
  position: relative;
  left: -4px;
  padding-left: 4px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.highlightChanges {
  background-color: #FFC;
}

.mono {
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
}

.mono-12px {
  font-size: 12px;
}

/*--------------------------- STOP build styles ----------------*/
#reAddSection {
  margin-top: .5em;
}

#moreToStop {
  margin-top: .5em;
}

#moreToStopLoader {
  display: inline;
  float: none;
  margin-left: .2em;
}

#moreToStopFragment {
  overflow: auto;
  height: auto;
  max-height: 20em;
}

#stopBuildForm textarea {
  width: 98%;
}

.estimateDetails {
  font-size: 90%;
  margin-left: 43px;
}

#stopBuildForm input.checkboxPlaceholder {
  visibility: hidden;
}

/* build results summary popup */
#buildResultsSummary {
  /*width: 45em;*/
  padding-top: 0.5em;
}

.summaryContainer {
  padding: 0 0.2em;
  /*font-size: 90%;*/
}

.summaryContainer table {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

.summaryContainer table td {
  vertical-align: top;
}

.summaryContainer .popupHeader {
  margin: .5em 0;
  font-size: 120%;
}

.summaryContainer .header {
  background-color: #F0F5FB;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
  font-weight: bold;
}

.summaryContainer ul {
  margin: 0.5em 0;
  padding-top: 0;
  padding-left: 0;
}

.summaryContainer ul.bsLinks {
  min-width: 10.5em;
  min-height: 4.8em;
}

.summaryContainer ul li {
  padding: 0 .5em .15em 5px;
  list-style: none;
}

.summaryContainer .depsTable td {
  padding-right: 10px;
  padding-left: 25px;
  border-bottom: 1px solid #ececec;
}

.summaryContainer .info {
  padding-top: 0.2em;
  padding-left: 0.5em;
}

.summaryContainer .estimateDetails {
  margin-left: 20px;
}

.summaryContainer .changesTable {
  width: 100%;
  margin-top: 0.5em;
  border-collapse: collapse;
  font-size: 90%;
}

.summaryContainer .changesTable td {
  padding: 5px 1px;
  border-bottom: 1px solid #E3E9EF;
}

.summaryContainer .changesTable .changeUsername {
  width: 20%;
  padding-right: 10px;
  vertical-align: top;
  white-space: nowrap;
  font-weight: bold;
}

.summaryContainer .changesTable .changeComment {
  width: 70%;
  vertical-align: top;
}

.summaryContainer .changesTable .changedFiles {
  width: 10%;
  vertical-align: top;
  text-align: right;
}

#promoDetailsPopup {
  width: 40em;
}

#buildResultsSummary .failedTestsContainer {
}

#buildResultsSummary .statusChangeLink-failed {
  font-size: 105%;
}

/**--------------------------- Clean checkout dialog, for viewType.jsp and agentSummary.jsp */
#resetSourcesDialog {
  width: 32em;
}

.inplaceFilterDiv {
  width: 100%;
  padding: 2px 0 2px 0;
  font-size: 90%;
  text-align: right;
  vertical-align: top;
  border-bottom: 1px solid #eee;
}

.inplaceFilterDiv input {
  width: 100%;
  font-size: 90%;
}

td.artifactsLink {
  width: 7em;
  text-align: left;
}

td.status {
  padding-left: 0.5em;
}

/* ----------------------------------- Styles for the obsolete builds (shown on the Overview and BC homepage)   */
td.obsoleteRunningBuild {
  color: #888;
}

table.testActionsPopup {
  font-weight: normal;
}

table.testActionsPopup td {
  padding: 1px;
  border: none;
  white-space: nowrap;
}

img.actionPopupIcon {
  position: relative;
  top: 2px;
  padding-right: 3px;
}

/**-------- Right-most block near failed test on build results + similar block near change on build changes page */
div.stamp {
  background-color: #f5f5f5;
  float: right;
  min-width: 13.2em;
  padding: 0.7em;
  font-size: 90%;
  font-weight: normal;
  line-height: 1.4em;
}

div.stamp.stampMini {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

/*--------------- Link for Download build log / artifacts / server logs */
a.downloadLink {
  background: url('../img/artifacts.gif') no-repeat 0 center;
  float: right;
  padding-left: 17px;
}

/*-------------- Paused / suspended / disabled note */
div.pauseNote {
  background: #E9F3FD url("../img/buildStates/paused.png") no-repeat 10px 15px;
  padding: 10px 15px 10px 28px;
  border: 1px solid #BCE8F1;
  line-height: 2em;
}

/*--------------- Simple table row highlighting support  */
tr.highlightRow:hover td {
  background-color: #f5f5f5;
}

div.placeholder {
  position: absolute;
  padding-left: 3px;
  color: gray;
  font-size: 90%;
}

.dummyDialogClass {
  width: 36em;
}

/*--------------- Divs with headers */
.divsWithHeaders > div {
  padding: 0.6em 0 0.6em 0.3em;
  border-bottom: 1px solid #D6D6D6;
}

.divsWithHeaders > div.first {
  padding-top: 0;
}

.divsWithHeaders > div.last {
  padding-bottom: 1em;
}

.divsWithHeaders h2 {
  display: inline-block;
  margin-bottom: 0.2em;
}

.emptyValue {
  color: #888;
}

/*--------------- Refreshable */
.refreshable, .refreshableInner {
  margin: 0;
  padding: 0;
}

/*--------------- Agent line */
.osIcon {
  margin: 0 6px 0 3px;
}

/*--------------- Pin Build icon */
.pinLink {
  outline: none;
}

.pinLink.btn .pinLinkImage {
  opacity: 0.99;
}

.pinLink .pinLinkImage {
  opacity: 0.5;

  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.pinLink:hover .pinLinkImage {
  opacity: 0.99;
}

/*--------------- Static UI extensions  (header & footer) */
.staticUIExtension {
  background-color: #F9F9F9;
  width: 100%;
  margin-top: 1em;
  padding: 10px;
  border: 1px solid #DDD;
  font-size: 14px;
}

/*
 * @media screen and (max-device-width: 480px) = iPhone < 4
 * @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 960px) = iPhone >= 4
 * @media screen and (min-device-width: 768px) and (max-device-width: 1024px) = iPad
*/
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 960px), screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .runTable .btn_mini {
    padding: 5px 9px 5px;
  }

  .runTable .buttonWrapper {
    width: 66px;
  }

  .runTable .buttonWrapper .btn {
    width: 62px;
  }

  .runTable .buttonWrapper .btn_append {
    width: 24px;
    padding-left: 5px;
  }
}

/* Branch names. See also overviewTable.css */

.branch .branchName {
  padding: 2px 4px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  font-size: 11px;
  font-family: Verdana, sans-serif; /* Better legibility at small size */
  font-weight: normal;
  white-space: nowrap;
  line-height: 14px;
}

.branch.hasBranch .branchName {
  background: #e7f0f9;
}

.branch.default .branchName {
  background: #9DCBFA;
  color: #FFF;
}

/* The following blocks have a colored background, contrast is needed between them and the branch name */
.statusTable .branch.hasBranch .branchName,
.buildQueueTable .branch.hasBranch .branchName,
.buildChainHeader .branch.hasBranch .branchName {
  padding: 1px 3px;
  border: 1px solid #C6CDE2;
}

.statusTable .branch.default .branchName,
.buildQueueTable .branch.default .branchName,
.buildChainHeader .branch.default .branchName {
  padding: 1px 3px;
  border: 1px solid #BCE8F1;
}

.changeLogBuildRow .branch.hasBranch .branchName {
  padding: 1px 3px;
  border: 1px solid #F9F9F9;
}

.changeLogBuildRow .branch.default .branchName {
  padding: 2px 4px;
  border: none;
}
