/*------------ Styles for the upper part of the page */
.attentionCommentNotifier {
  width: 53em;
  margin: 0.5em 0 1em 0;
  font-size: 100%;
}

div.notifierSettings .submitButton {
  margin-right: 0;
}

/*---------- Styles for the Notification Rules part of the page*/
div#notificationRulesPage {
  width: 100%;
}

#notificationRulesPage h2 {
  margin: 0;
  border-bottom: none;
}

table.eventsTable {
  border: none;
}

table.eventsTable tr {
  border: none;
}

table.eventsTable td {
  border: none;
  padding-bottom: 0.3em;
}

table.eventsTable td.buildFailed {
  padding-bottom: 0;
}

table.eventsTable td.eventOption {
  padding-left: 1.5em;
}

div.rulesWrapper {
  background-color: white;
  width: 80%;
  padding: 0 0 15px;
}

div.rulesWrapper p {
  margin: 0;
  padding: 0;
}

table.rulesTable {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}

table.rulesTable tr.header {
  padding-top: 3px;
  font-weight: bold;
  color: #fff;
}

table.rulesTable th, table.rulesTable td {
  vertical-align: top;
}

table.rulesTable td.dragHandle, table.rulesTable th.dragHandle {
  width: 1%;
}

table.rulesTable td.dragHandle {
  background: url("../img/dragAndDrop/dots2.gif") repeat-y 4px 3px;
  height: 24px;
  padding: 0 0 0 26px;
}

table.rulesTable th.dragHandle {
  padding-left: 4px;
}

table.rulesTable td.moveTop, table.rulesTable th.moveTop {
  width: 1%;
  padding-right: 5px;
  padding-left: 3px;
}

table.rulesTable td.builds, table.rulesTable th.builds {
  width: 33%;
  text-align: left;
}

table.rulesTable td.condition, table.rulesTable th.condition {
  width: 64%;
  text-align: left;
}

table.rulesTable th.edit, table.rulesTable td.edit {
  width: 1%;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-weight: normal;
  text-align: center;
  font-size: 100%;
}

table.rulesTable td.remove, table.rulesTable th.remove {
  width: 1%;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-weight: normal;
  text-align: center;
}

ul.elementList {
  margin: 0;
  padding-left: 0;
}

ul.elementList li {
  list-style: none;
}

.notificationsNotSent {
  margin: 0;
  color: #999;
}

ul.notificatorsList {
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-left: 2px;
}

ul.notificatorsList li {
  list-style: none;
}

#watchTypeBuildConfigurations, #watchTypeCommitter, #watchTypeProject {
  margin: 0 4px 0 0;
  padding: 0;
}

.watchTypeBuildConfigurations, .watchTypeCommitterContainer, .watchTypeProject, .watchTypeSystemWide {
  clear: both;
  margin-bottom: 0.5em;
}

.notifierSettings {
  background-color: #f5f5f5;
  width: 45em;
  margin: 1em 0 0;
  padding: 1em;
}

.notifierSettingControls {
  float: left;
  margin: 0;
  padding: 0;
}

.notifierSettingControls label {
  font-weight: bold;
}

p.notificationRulesMessage {
  width: 55em;
  margin: 0;
}

#notificationRuleForm {
  background-color: #f5f5f5;
  width: 78%;
  padding: 1%;
  border-top: 3px solid #E3E9EF;
}

/*----------- styles for the edit/create notification rule panel*/

.panelsContainer {
  overflow: auto;
}

.panelsContainer .leftPanel {
  float: left;
  width: 43em;
  margin-right: 5em;
}

.panelsContainer .rightPanel {
  float: left;
  width: 27em;
}

.leftPanel h3, .rightPanel h3 {
  margin-top: 0;
}

.projectSelector {
  width: 32em;
  margin-bottom: 1em;
  padding-left: 8em;
}

.projectSelector select {
  width: 100%;
}

.configurationSelector {
  width: 32em;
  margin-top: 0.5em;
  padding-left: 8em;
}

.configurationSelector select {
  width: 100%;
}

table.eventsTable td.endOfGroup {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}

table.eventsTable td.startOfGroup {
  padding-top: 0.5em;
  border-top: 1px solid #ccc;
}

div.draggable {
  background-color: #f1f4f7;
  margin: 3px 0;
  padding-top: 2px;
  padding-bottom: 4px;

  border: 2px solid #e3e9ef;
  cursor: move;
}

div.draggableEditingRow, div.draggableChangedRow {
  background-color: #ffc;
  margin: 3px 0;
  padding-top: 2px;
  padding-bottom: 4px;

  border: 2px solid #e3e9ef;
  cursor: move;
}

div.draggable a {
  cursor: pointer;
}

table.rulesTable .moveTopIcon {
  cursor: pointer;
}

.notifierChooser {
  margin-bottom: 1em;
}

table.readOnlyRules {
  width: 80%;
  margin: 0.5em 0;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

table.readOnlyRules td, table.readOnlyRules th {
  padding: 2px 2px 2px 4px;
  vertical-align: top;
  text-align: left;
  border: 1px solid #ccc;
}

div.sidebarNote {
  background: #FFF;
  clear: both;
  float: right;
  position: relative;
  width: 15%;
  padding: 0.2em 0.5em 0.2em 1em;
  border: 1px solid #EEE;
  z-index: 2;
}