/*
 * Copyright (c) 2006-2012, JetBrains, s.r.o. All Rights Reserved.
 */
.systemProblemsBar {
  font-family: helvetica neue, arial, sans-serif;
}

img.projectIcon {
  visibility: hidden;
  padding: 3px 2px 0 3px;
}

td.buildNumber {
  width: 5em;
}

/*--------------- hide link from the overview page */

a.noCompatibleAgentsLink {
  display: none;
}

/*--------------- Blank start page */

a.createProject {
  background: url("../img/arrow_createProject.gif") no-repeat right;
  display: block;
  width: 8.3em;
  margin-top: 0;
  padding: 10px 35px 10px 0;
  font-weight: bold;
  font-size: 120%;
}

ul.startPage {
  margin: 0;
  padding: 0;
}

ul.startPage li {
  list-style-type: circle;
  margin: 0 0 0 2em;
  padding: 5px 0 0;
}

span.addMessage {
  margin-right: .5em;
  color: #888;
}

#toolbar {
  height: 25px;
  text-align: center;
}

#new-projects, #overview-projects {
  background: #ffc;
  display: inline-block;
  min-width: 30em;
  margin: 0 auto;
  padding: 0.3em 1.5em;
  text-align: center;
}

#new-projects .middle-link {
  margin: 0 1.5em;
}

#new-projects-list {
  min-width: 25em;
}

#new-projects-list td {
  text-align: right;
}

#new-projects-list .project-link {
  text-align: left;
  color: #888;
}

#new-projects-list .project-link a {
  font-weight: bold;
}

#overview-projects .dismiss-link {
  margin-left: 1.5em;
}
