input.textfield {
  width: 200px;
}

p.note {
  margin: 0;
  padding: 0;
}

div.divider {
  border-color: #E3E9EF;
  margin: 5px 5px 0 5px;
}

#content {
  margin-top: 1em;
}

#profilePage {
  background-color: white;
  width: 84%;
  margin: 0.5em 0 0 0;
  padding: 0;
}

#modifiedMessage {
  float: none;
}

/*----------------- useful sidebar links block*/
#sidebar {
  float: right;
  width: 15%;
  margin: 0;
  padding: 0;
}

#sidebar ul {
  margin: 0;
  padding: 0 0 0 1em;
  list-style-type: circle;
}

#sidebar ul li {
  margin: 0 0 1em 0.5em;
  font-size: 100%;
}


/*---------------- sidebar styles */
div.blockAgents {
  margin: 0;
  padding: 0 0 1em 0;
  border: solid 2px #E3E9EF;
}

div.blockAgents h3 {
  background: #E3E9EF;
  margin: 0;
  padding: 0.4em 0.5em 0.4em 5px;
  font: normal 130% trebuchet ms, tahoma, arial, sans-serif;
  color: #000;
}

div.blockAgents p {
  margin: 0.8em;
  padding: 0;
  color: #2a2a2a;
}

div.blockAgents a {
  display: block;
  margin-left: 2.3em;
  margin-top: -.7em;
}

div.blockAgents p a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

div.blockAgents p a:hover {
  text-decoration: underline;
}

div.blockAgents p.toolTitle {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 1.9em;
}

p.idea {
  background: url("../img/ideaLogo.gif") no-repeat 2px 2px;
}

p.eclipsePlugin {
  background: url("../img/eclipsePlugin.gif") no-repeat 0 2px;
}

/* ------------- end*/

/*----------------- styles for the t2x2.tag */
table.userSettingsTable {
  width: 100%;
}

table.userSettingsTable td.t {
  width: 50%;
  padding-right: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

.notifierSection {
  margin-bottom: 1.7em;
}

.notifierSection .title_underlined {
  margin-top: 0;
  border-bottom: 2px solid #E3E9EF;
  text-transform: capitalize;
}

/*----------- end*/

a.editNotifierSettingsLink {
  float: right;
  margin-top: 2px;
}

.noRules {
  font-style: italic;
  color: #808080;
}

/*--------------- create user account table */

div.stayMessage {
  padding-top: 5px;
  padding-left: .5em;
  font-size: 90%;
}

.userGroupsContainer {
  width: 60%;
}

.userGroupsContainer table.userGroupsTable {
  width: 100%;
}

.userGroupsContainer table.userGroupsTable th {
  background-color: #f5f5f5;
  padding-left: 1em;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.userGroupsContainer table.userGroupsTable td {
  text-align: left;
}

.userGroupsContainer table.userGroupsTable th.unassign, .userGroupsContainer  table.userGroupsTable td.unassign {
  width: 12%;
  padding: 0;
  text-align: center;
}

.attentionCommentNotifier {
  width: auto;
}