.progress {
  background-color: #e5e5e5;
  position: relative;
  height: 1.3em;
  line-height: 1.3em;
  text-align: left;
}

.progress, .progressInner {
  max-width: 15.5em;
  margin: 0;
  padding: 0;
}

.progressInner {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: #eee;
}

#agentsTable div.progress {
  width: 10em;
}
