#projectDetails {
  background: #E9F3FD;
  margin-top: 6px;
  padding: 5px 5px 5px 10px;
  border: 1px solid #BCE8F1;
  line-height: 2em;
}

#projectDetails img {
  margin-right: 0.4em;
  vertical-align: text-bottom;
}

.project-page .tableCaption {
  margin-left: 0;
}

.project-page div.overviewTypeTableContainer {
  padding-left: 0;
  margin-left: 0;
}

#showFilter {
  margin: 0.5em 0 1em;
}
