/*------------------------ styles for the quickLinks - like popups*/

.quickLinksMenuPopup {
  width: 22em;
  padding: 0;
  overflow-y: auto;
  z-index: 30;
}

.popupWithTitle {
  padding: 0;
  z-index: 30;
}

.popupWithTitle .popupWithTitleHeader {
  background-color: #ECEDF1;
  margin: 0;
  padding: 4px 10px;
}

.popupWithTitle .closeWindow {
  top: .5em;
}

.quickLinksMenuPopup ul li {
  list-style: none;
  line-height: 2;
}

.quickLinksMenuPopup ul li a {
  padding-left: 1em;
  outline: none;
}

div.divider {
  margin: .5em 0;
  border-bottom: 1px solid #CFCFD0;
}