/* -------- styles for the Run Custom Build Dialog ---- */

#runBuildDialog {
  width: 54em;
}

#runCustomBuildDiv {
  overflow: auto;
  max-height: 500px;
  width: 99%;
}

#runCustomBuildContentDiv {
  overflow: auto;
  max-height: 450px;
  width: 99%;
}

#runBuild .runnerFormTable {
  margin-top: 1em;
}

#runBuild .runnerFormTable td, #runBuild .runnerFormTable th {
  padding: 4px;
}

#runBuild .runnerFormTable td.paramsCell {
  padding: 2px;
}

#runBuild table.plain {
  width: 95%;
}

#runBuild table.plain th {
  text-align: left;
}

#runBuild .buildParameters {
  width: 50em;
  margin: 1em 0 0.5em;
  padding: 0;
  border-collapse: collapse;
}

#runBuild .buildParameters td {
  padding: 4px;
  vertical-align: top;
  text-align: left;
}

#runBuild .buildParameters .paramName {
  width: 25%;
  padding-left: 2em;
  padding-right: 6px;
}

#runBuild .buildParameters .addRow td {
  padding-bottom: 1.5em;
}

#runBuild .buildParameters .paramName input {
  height: 1.25em;
}

#runBuild .buildParameters .paramValue {
  width: 65%;
  padding-right: 20px;
}

#runBuild .buildParameters .paramValue input {
  width: 100%;
}

/* Modified parameter - highlighted table row */
#runBuild .modifiedParam td {
  background: #FFC;
}

#computedRevisions input {
  width: 100%;
}

#runBuild td {
  white-space: normal;
}

#runBuild .buildParameters td.edit {
  width: 7em;
  font-size: 9pt;
  white-space: nowrap;
}

#runBuild .buildParameters td.edit a {
  display: inline-block;
  margin-left: .5em;
}

#runBuild .buildParameters td.noBorder {
  border-bottom: none;
}

/* Modified parameter - highlighted Parameters tab */
#runBuild li.modifiedParam {
  background-image: none;
  background-color: #ffc;
}

#runBuild li.modifiedParam.selected {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffcc), to(#ffffff));
  background-image: -webkit-linear-gradient(#ffffcc, #ffffff);
  background-image: -moz-linear-gradient(top, #ffffcc, #ffffff);
  background-image: -ms-linear-gradient(#ffffcc, #ffffff);
  background-image: -o-linear-gradient(#ffffcc, #ffffff);
  background-image: linear-gradient(#ffffcc, #ffffff);
}

#runBuild table.settings th {
  background-color: #f5f5f5;
}

#runBuild .note {
  white-space: normal;
  margin-bottom: 0.5em;
  font-style: italic;
}

#selectedChangeInfo {
  white-space: normal;
}

#runBuild .attentionComment {
  margin-top: 0.5em;
  white-space: normal;
}

#runBuild table.artifactBuildTypes td {
  padding: 5px 2px 5px 2px;
}

#runBuild .lastChangeTo {
  margin-bottom: .5em;
}

#runBuild #branchFilter select {
  width: 15em;
}

/* Build promotion */

table.promoteBuild {
  width: 100%;
  border-collapse: collapse;
}

table.promoteBuild td.runButton {
  width: 20%;
  padding-top: .6em;
}

table.promoteBuild td.runButton span {
  float: right;
  height: 2em;
}

table.promoteBuild td.header {
  font-weight: bold;
}

table.promoteBuild td.noBorder {
  border-bottom: none;
}
