/* ----------------------------------- Style for settingsBlock.tag (used on the My Settings page, Create/Edit User page and Usage Statistics page)  */
.settingsBlock {
  background-color: #E3E9EF;
  padding: 2px;
}

.settingsBlock p.sbTitle {
  margin: 0;
  padding: 2px 6px 6px 10px;
  font: normal 150% trebuchet ms, verdana, tahoma, arial, sans-serif;
}
