.statusBlockContainer {
  left: 0 !important;
  min-width: 990px;
  padding: 3px;
}

table.statusTable {
  width: 100%;
  padding: .35em 0;
}

.statusTable .takeResponsibility {
  position: relative;
  left: -3px;
}

.statusTable .responsible span.responsibilityMessage {
  padding: 0 4px;
  margin-bottom: 5px;
}

.failureStatusBlock {
  background-color: #FFF6FF;
  border: #FDA8A8 solid 3px;
}

.successStatusBlock {
  background-color: #F2FFEE;
  border: #A5DDAD solid 3px;
}

.unknownStatusBlock {
  background-color: #f5f5f5;
  border: #DDD solid 3px;
}
