/* Top-level tabs (header) */
#tabsContainer .tabs {
  margin: 0;
  padding: 0;
}

#tabsContainer .tabs li {
  float: left;
  height: 26px;
  margin: 3px 0 0 0;
  padding: 0 0 7px 0;
  list-style: none;
  font-size: 110%;
  font-weight: bold;
  border-bottom: 4px solid #fff;
}

#tabsContainer .tabs li.first {
  margin-left: 10px;
}

#tabsContainer .tabs li p {
  float: left;
  margin: 0;
  padding: 3px 10px;
}

#tabsContainer .tabs li.leftBorder p {
  border-left: 1px solid #ddd;
}

#tabsContainer .tabs li.selected {
  border-bottom: 4px solid #1564c2;
}

#tabsContainer .tabs #overview_Tab {
  padding-right: 5px;
}

#tabsContainer .tabs #overview_Tab p {
  width: auto;
  padding-right: 0;
}

#tabsContainer .tabs #overview_Tab p a {
  padding-right: 5px;
}

#tabsContainer .tabs #agents_Tab {
  width: auto;
  min-width: 115px; /* to avoid page jumping when mug is painted */
}

#tabsContainer .tabs #agents_Tab p {
  padding-right: 5px;
}

#tabsContainer .tabs #agents_Tab p a {
  margin-right: 0;
}

/* Agent busyness indicator */
.mug {
  float: left;
  position: relative;
  width: 12px;
  height: 16px;
  margin: 4px 10px 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;

  border: 1px solid #0062c5;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mugStuff {
  background-color: #0062c5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
}

div.mug + p, #allPopupImg + p {
  display: none; /* Fix strange bug in IE and Chrome when additional paragraph appears in the top */
}

/* Breadcrumb */
#main_navigation {
  visibility: hidden;
  clear: left;
  float: left;
  margin: 10px 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}

#main_navigation li {
  display: inline;
  margin: 0 .3em 0 0;
  padding: 0;
  font-size: 130%;
}

#main_navigation small {
  font-size: 100%;
  color: #888;
}

#main_navigation li a {
  background: url("../img/brcr.gif") no-repeat right;
  height: 100%;
  margin-right: 5px;
  padding-right: 14px;
  color: #888;
}

#main_navigation li.project a {
  padding-right: 16px;
}

#main_navigation li.buildType .siblingBuildTypes {
  background: url("../img/brcr.gif") no-repeat right;
  margin-right: 5px;
  padding-right: 14px;
}

#main_navigation li.selected a,
#main_navigation li.buildType a,
#main_navigation li.buildType.last .siblingBuildTypes {
  background: none;
  margin-right: 0;
  padding-right: 0;
}

#main_navigation li.selected,
#main_navigation li.selected a,
#main_navigation li a:hover {
  color: #3f3f3f;
}

#main_navigation li.buildType.failed a {
  color: #ED2C10;
}

/* Right-hand side links */
.quickLinks {
  clear: right;
  float: right;
  margin: 0;
  padding: 11px 0 0 0;
  white-space: nowrap;
  line-height: 1.7;
}

.quickLinksItem {
  margin-left: 1.5em;
}

.quickLinksControlLink {
  margin-left: 1.5em;
}


/*-------------------- styles for the user panel navigation */

#userPanel {
  clear: right;
  float: right;
  width: 45%;
  margin: 5px 0 0;
  padding: 0;
  color: #888;
  font-weight: normal;
  text-align: right;
}

#userPanel .info {
  display: inline-block;
  padding: 3px 0 9px 0;
  vertical-align: top;
}

#userPanel .info.selected {
  border-bottom: 4px solid #1564C2;
}

#userPanel .info p {
  display: inline-block;
  margin: 0;
  padding: 0 4px;
  white-space: nowrap;
}

#usernamePopupContent {
  padding: 0.2em;
  border: 1px solid #D6D6D6;
}

#usernamePopupContent div {
  padding: 0.2em 0.6em;
}

#usernamePopupContent div.settings {
  border-bottom: 1px solid #D6D6D6;
}

#usernamePopupContent div:hover, #usernamePopupContent div:hover a {
  background-color: #3773C9;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.oldInvestigations, .newInvestigations {
  float: left;
  margin-right: 5px;

  border: 1px solid #888;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.oldInvestigations a, .newInvestigations a {
  display: block;
  min-width: 13px;
  height: 13px;
  padding: 2px 3px;
  line-height: 12px;
  text-align: center;
}

.oldInvestigations a {
  color: #666;
}

.oldInvestigations a:hover {
  color: #1564C2;
  text-decoration: none;
}

.newInvestigations {
  background-color: #e58902;
  border: 1px solid #e58902;
}

.newInvestigations a {
  color: white;
  font-weight: bold;
}

.newInvestigations a:hover {
  color: white;
}

/*----------- Navigation for 3rd, 4th level ---*/

.simpleTabs .tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.simpleTabs .tabs li {
  float: left;
  margin: 4px 0 0;
  padding: 0 2px 0 0;
  cursor: pointer;
  border-bottom: 1px solid #CECECE;
  vertical-align: bottom;
  white-space: nowrap;
}
.simpleTabsWithSelector .tabs li { height: 2.1em }

.simpleTabs .tabs li.last {
  padding: 0 4px 0 0;
}

.simpleTabs .tabs li p {
  margin: 0;
  padding: 5px 10px 3px;
}

.simpleTabs .tabs li.selected {
  margin: 4px 0 0;
  padding: 0;

  border: 1px solid #CECECE;
  border-bottom: none;

  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;

  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), color-stop(15%, #ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(#e6e6e6, #ffffff 15%, #ffffff);
  background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff 15%, #ffffff);
  background-image: -ms-linear-gradient(#e6e6e6, #ffffff 15%, #ffffff);
  background-image: -o-linear-gradient(#e6e6e6, #ffffff 15%, #ffffff);
  background-image: linear-gradient(#e6e6e6, #ffffff 15%, #ffffff);
}

.simpleTabs .tabs li.selected a {
  position: relative;
  top: -1px;
  left: -1px;
  color: black;
  text-decoration: none;
}

.simpleTabs .tabs li.selected a:link, .simpleTabs .tabs li.selected a:hover {
  padding-bottom: 2px;
  color: #3f3f3f;
  text-decoration: none;
}

.simpleTabs .tabs li span.mandatoryAsterix {
  font-size: 100%;
}

.simpleTabs .tabs li p.branchNameSelector {
  padding-left: 0;
}

.simpleTabs .tabs li p.branchNameSelector #branchNameSelector,
.simpleTabs .tabs li p.branchNameSelector > span.ufd {
  position: relative;
  top: -5px;
  width: 15em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .simpleTabs .tabs li p.branchNameSelector #branchNameSelector,
  .simpleTabs .tabs li p.branchNameSelector > span.ufd {
    top: -8px;
  }
}

/*---- table for showing content beside the tabs */
.tabsTable {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.tabCounter {
  position: relative;
  top: -1px;
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0 8px;
  border-top: 1px solid #D1E0F3;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  background: #EFF5FB;
  color: #1564C2;

  font-size: 10px;
  line-height: 14px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.simpleTabs .tabs li.selected .tabCounter {
  left: -1px;
  top: -2px;
  border-top: 1px solid #DDD;

  background: #EFEFEF;
  color: #151515;
}

/* For when one level of tabs is not enough (Build Log, Dependencies) */
.subTabs {
  margin-top: 10px;
}

.subTabs .farRight {
  float: right;
  border-collapse: collapse;
}

