span.selectedTag, .unselectedTag {
  margin-right: 2px;
  padding: 1px 5px 2px;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  font-size: 11px;
  font-weight: bold;
}

span.selectedTag {
  background-color: #1564c2;
  color: white;
  border: 1px solid #1564c2;
}

.unselectedTag {
  border: 1px solid #eee;
}

.unselectedTag:hover {
  background-color: #eee;
  text-decoration: none;
}