/* Test grouping */

.tests-group .multi-select {
  vertical-align: middle;
}

.tests-group input.checkbox, .tests-group .custom-checkbox {
  margin-right: 10px;
}

.tests-group table.testList input.checkbox, .tests-group table.testList .custom-checkbox {
  position: relative;
  left: -27px;
}

.group-div table.testList {
  width: 100%;
  margin-bottom: 0.2em;
}

.expanded_view_container .group-div table.testList {
  table-layout: fixed;
}

.group-div table.testList td.testNamePart,
.group-div table.testList tr.testDetailsRow > td {
  padding-left: 27px;
  padding-right: 0;
}

.allFailedInOtherConfigs {
  font-style: italic;
  padding-left: 10px;
}

.subgroups {
  margin-left: 27px;
}

.tests-group .subgroups input.checkbox, .tests-group .subgroups .custom-checkbox {
  position: relative;
  left: -27px;
}
.tests-group .subgroups table.testList input.checkbox, .tests-group .subgroups table.testList .custom-checkbox {
  position: relative;
  left: -54px;
}

.tests-group img.handle {
  position: relative;
  top: 4px;
  margin-right: 10px;
}


.tests-group .marker {
  width: 2px;
  border: 1px solid #CCCCCC;
  border-right: none;
}

.tests-group > div {
  margin-left: .5em;
}

.tests-group .action-bar {
  background-color: #F5F5F5;
  margin-bottom: 0.3em;
  margin-left: 0;
  padding: 0.5em 8px;
  line-height: 2em;
}

.tests-group .action-bar .group-by-section {
  margin-left: 1em;
  margin-right: 0;
}

.tests-group .action-bar > span.select a {
  margin-left: 0.3em;
}

.tests-group .group-name {
  white-space: nowrap;
}

.tests-group table.bulk-toolbar {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

.tests-group table.bulk-toolbar td.testNamePart {
  padding-left: 0;
}

.group-div > .group-name {
  margin-top: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px dotted #DEDEDE;
}

.group-div > .group-name:first-of-type {
  border-top: none;
}

.by-bt span.title {
  font-weight: bold;
}

.tests-group .testCount {
  color: #888;
}

.failedInPopup {
  white-space: nowrap;
}

.tests-group .select-all {
  margin-top: 3px;
  margin-left: .3em;
}

.tests-group .select-all input.checkbox, .tests-group .select-all .custom-checkbox {
  position: relative;
  left: 3px;
  vertical-align: bottom;
}

.tests-group .select-all .custom-checkbox {
  margin-right: 10px;
}

.tests-group .by-nothing {
  margin-top: 5px;
}

#failedTestsDl .tests-group span.pc.testNamePopup {
  font-weight: normal;
}

.tests-group td.testNamePart {
  padding: 0;
  white-space: nowrap;
}


/** Styles for test details mode, when clicking on test name in test list */
/**=======================================================================*/
/**=======================================================================*/
.testDetailsShownRow > td {
  background-color: #f5f5f5;
}

.testDetailsShownRow span.pc.testNamePopup,
#failedTestsDl .tests-group .testDetailsShownRow span.pc.testNamePopup {
  font-weight: bold;
}

.testDetailsInline {
  margin-bottom: 0.5em;
  margin-left: 27px;
  overflow: visible;
}

.testDetailsInline .simpleTabs {
  margin-bottom: 5px;
}

.testDetailsInline .fullStacktrace {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.fullStacktrace, dd.full {
  padding: 3px 3px 0 3px;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Courier New', 'Courier', monospace;
  font-size: 12px;
  line-height: 1.2em;
  color: darkred;
}

.testDetailsInline .hideStacktrace {
  padding-top: .5em;
}

.testDetailsInline .testBlock {
  position: relative;
}

.testDetailsInline .rightBlock {
  background-color: #f5f5f5;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;

  float: right;
}

.testListSelected .testDetailsInline .rightBlock {
  background-color: #fff;
  border-left-color: #f5f5f5;
  border-bottom-color: #f5f5f5;
}

.testDetailsInline .collapser {
  cursor: pointer;
  float: right;

  padding-right: 15px;
  height: 2em;
}

.testDetailsInline .expandedDetails .collapser {
  background: no-repeat url("../img/arrowUpNew.png") 50% 5px;
}

.testDetailsInline .collapsedDetails .collapser {
  background: no-repeat url("../img/arrowDownNew.png") 99% 5px;
  padding-right: 25px;
  padding-left: 5px;
  line-height: 2em;
}

.testDetailsInline .relatedBuildsWrapper {
  border-right: solid white 3px;
  float: right;
}

.testListSelected .testDetailsInline .relatedBuildsWrapper {
  border-right-color: #f5f5f5;
}

.testDetailsInline .testRelatedBuilds {
  width: auto;
  margin: 5px;
}

.testDetailsInline .branchName {
  color:#3F3F3F;
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.testRelatedBuilds td {
  padding: 2px 5px;
  white-space: nowrap;
}

.testDetailsInline .testRunsNote {
  color: #888;
}

/** Stack trace switcher: */
.testRelatedBuilds .selector {
  padding-left: 2px;
  padding-right: 0;

  text-align: right;
}

/** Clickable cells for FFI: */
.testRelatedBuilds .clickable .selector,
.testRelatedBuilds .clickable .header {
  color: #222;
  cursor: pointer;
}

/** Non-clickable cells for current row: */
.testRelatedBuilds .clickable.selectedBuild .selector,
.testRelatedBuilds .clickable.selectedBuild .header {
  cursor: default;
}

.testRelatedBuilds .buildNumber,
.testRelatedBuilds .changes,
.testRelatedBuilds .date,
.testRelatedBuilds .agent {
  min-width: 8em;
}

.testRelatedBuilds .changes {
  white-space: normal;
}

.testDetailsRow .testLoading {
  margin-left: 27px;
}
