#authorityRolesContainer p.note {
  padding-top: 0;
}

.userRolesTable {
  width: 100%;
}

.userRolesTable th {
  text-align: left;
  padding-left: 1em;
}

.userRolesTable th.roleName {
  width: 40%;
}

.userRolesTable td.roleName {
  vertical-align: top;
}

.userRolesTable td.roleProjects {
  width: 48%;
  vertical-align: top;
}

.userRolesTable th.unassign, .userRolesTable td.unassign {
  width: 12%;
  padding: 0;
  text-align: center;
}

#assignRoleDialog {
  width: 33em;
}

#roleTitle {
  border-bottom: #dbdbdb 1px solid;
  font-weight: bold;
}

#rolePermissions {
  background-color: #ededed;
  overflow: auto;
  width: 19em;
  height: 9em;
  margin-top: 0.3em;
  padding: 3px;
}

#rolePermissions ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#rolePermissions ul li {
  font-size: 85%;
  white-space: nowrap;
}

.assignRoleDialogTable td {
  padding: 3px;
}

.groupHeader {
  margin-top: 1.5em;
  margin-bottom: 0.7em;
}

.groupHeader .rolesDescription {
  float: right;
}

/*  user roles popup styles */
#authorityRolesPopup {
  width: 40em;
}

.authorityRolesPopup table {
  clear: both;
}

.authorityRolesPopup table.settings {
  border: none;
}

.authorityRolesPopup table.settings td {
  padding: 2px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.authorityRolesPopup table.settings td {
  border-bottom: 1px solid #ccc;
}

.authorityRolesPopup .groupHeader {
  margin-top: 1.3em;
  margin-bottom: 0.3em;
}

.assignUnassignRoleDialogTable label {
  white-space: nowrap;
}

.assignUnassignRoleDialogTable td.header {
  width: 6em;
}