table.modificationBuilds {
  width: 100%;
  border-collapse: collapse;
}

table.modificationBuilds td {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
}

table.modificationBuilds td.name {
  width: 20%;
  white-space: nowrap;
}

table.modificationBuilds .buildTypeProblem {
  padding-left: .5em;
  border-bottom: #dbdbdb 1px solid;
  line-height: 2em;
}

table.modificationBuilds .buildTypeProblem td.name {
  border-right: none;
}

table.modificationBuilds .buildTypeProblem div.right {
  float: right;
  text-align: right;
}

table.modificationBuilds .buildTypeProblem div.right span.date {
  display: inline-block;
  width: 8em;
  margin-left: 2em;
}

table.modificationBuilds .buildTypeProblem div.right span.highlightChanges {
  left: 0;
}

table.modificationBuilds.hasBranches .branch {
  display: inline-block;
  width: 6.5em;
  padding-right: 0.5em;
}

table.statusTable {
  margin-bottom: 10px;
}

.statusTable td {
  padding-bottom: .75em;
  padding-left: .5em;
  vertical-align: top;
}

.statusTable .changeComment {
  font-weight: bold;
}

.statusTable .caption {
  width: 6%;
  white-space: nowrap;
}

.statusTable .caption.right {
  padding-right: .5em;
  text-align: right;
}

tr.header td {
  vertical-align: top;
}

tr.header td div {
  background-color: #f5f5f5;
  padding: 0 .5em .2em .5em;
  line-height: 2.2em;
}

tr.header td.first div {
  width: 90%;
}

#helperSection {
  float: right;
  position: relative;
  top: -1px;
  padding: .3em 10px;
}

.changeHeader {
  display: none;
}

#helperSection .changeHeader {
  display: block;
}

div.buildPrefix {
  float: left;
  width: 5em;
}

/* TW-11046. See also myChanges.css */
div.vcsModificationTabContainer .new {
  background-image: none;
  margin-left: 5px;
  font-weight: normal;
}

td.pendingRow {
  padding: 3px;
  border-bottom: 1px solid #E7E7E7;
}

.newTestsInfo, .noNewTests {
  clear: both;
  margin: 10px 10px 0;
}

div.vcsModificationTabContainer .vcsModificationFilesList {
  max-width: 85%;
}

div.vcsModificationTabContainer .vcsModificationFilesList table.changedFiles td.fileTD {
  white-space: normal;
}

/* Style for highlighting the current root if modification was detected in several roots */
span.currentVcsRoot {
  font-weight: bold;
}

p#oldTests {
  margin-top: .5em;
}

.hideSuccessfulBlock {
  margin: 10px 10px 0;
}
