#buildTypeStatusDiv {
  padding-top: 10px;
}

#buildTypeStatusDiv .overviewTypeTableContainer {
  margin: 0;
}

#buildTypeStatusDiv .tableCaption {
  margin: 0;
}

#buildTypeStatusDiv h2 {
  width: 150px;
}

#buildTypeStatusDiv .responsible {
  display: inline;
}

#buildTypeStatusDiv .takeResponsibility {
  position: relative;
  left: -1px;
  margin-left: 170px;
}

#buildTypeStatusDiv .takeResponsibility:first-child {
  display: inline;
  margin-left: 0;
}

#buildTypeStatusDiv #branchName {
  width: 20em;
}

* html #buildTypeStatusDiv {
  /* IE hack */
  padding-top: 5px;
}

.permalinks a {
  padding: 0 1.5em 0 0;
}

.systemProblemsBar {
  /*Commented due to TW-23685*/
  /*max-width: 40em;*/
  margin-left: 0.5em;
}

.branch-header .branch {
  min-width: 18em;
  display: inline-block;
}

/*-------------- run section on the viewType page*/

.runningTableContainer {
  margin-top: 5px;
}

table.running {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

table.running.overviewTypeTable tr td {
  vertical-align: top;
}

td.buildNumber, table.running.overviewTypeTable td.buildNumber {
  width: 6em;
  padding-left: 1em;
  text-align: left;
}

table.running.overviewTypeTable td.branch {
  width: 168px !important;
  padding-right: 5px !important;
}

table.running.overviewTypeTable td.buildNumber {
  padding-left: 0;
}

table.running.overviewTypeTable td.duration {
  padding-left: 3em;
}

table.running.overviewTypeTable td.stopBuild {
  text-align: center;
}

form.pauseResume {
  display: none;
}

/*------------ compatibility agents table ----------*/

table.compatibilityList {
  border-bottom: #ccc 1px solid;
}

table.compatibilityList tr.header td {
  border-top: #ccc 1px solid;
  border-bottom: #ccc 1px solid;
}

table.compatibilityList td {
  padding: 2px 3px;
}

.successMessage {
  clear: right;
}

div.divider {
  margin: .5em 0;
}

table.running td.duration p {
  font-size: 72%;
}

.permalinksList {
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
}

/*------------ styles for short history on build configuration page ----------*/

#filterAboveTable {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
}

#filterByTags {
  padding-top: 10px;
  padding-bottom: 10px;
}

#historyFilter {
  margin: 0;
  padding: 0;
}

#historyTable #savingFilter {
  display: none;
  float: right;
  margin-right: 100px;
}

.historyFilterTable {
  width: 100%;
  margin-bottom: 7px;
  border-collapse: collapse;
}

.historyFilterTable .column1 {
  white-space: nowrap;
}

.historyFilterTable .column2 {
  width: 20%;
  vertical-align: bottom;
  white-space: nowrap;
}

.historyFilterTable .column3 {
  vertical-align: bottom;
  text-align: right;
}

.testDetails table.plain {
  width: 60%;
  margin: 10px 0 5px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.testDetails table.plain th {
  background-color: #f5f5f5;
  padding-left: .5em;
  text-align: left;
  font-weight: bold;
  border-right: 1px solid #ccc;
}

.testDetails table.plain td {
  padding-left: .5em;
  text-align: left;
  border-right: 1px solid #ccc;
}

.package {
  color: #888;
  font-weight: normal;
  font-family: arial, sans-serif;
}

table.historyList tr:last-child > td {
  border-bottom: none;
}