/*--------- visible projects dialog styles*/
.projects_visibleFormDialog, .bt_visibleFormDialog {
  width: 50em;
}

.arrowButtons {
  vertical-align: middle;
}

.arrowImg {
  vertical-align: text-bottom;
}

.visibleProjects, .hiddenProjects {
  width: 45%;
  padding-left: 7px;
  vertical-align: top;
}

.projects_visibleFormDialog option.strong, .bt_visibleFormDialog option.strong {
  font-weight: bold;
}
