/* --------------- clouds table -- */
div.right_info_pane {
  clear: right;
  float: right;
  width: 20%;
  margin-bottom: 1ex;
  padding: 7px;
  border: 1px solid #eee;
}

p.profileHeader {
  width: 75%;
  margin-bottom: 0.5em;
}

div.cloudProfile {
  width: 75%;
}

p.profileHeader span.profileRunning {
  float: right;
  margin-right: 6em;
}

div.cloudAdminProfile table tr td span.profileRunning {
  float: right;
  margin-right: 1em;
}

div.cloudProfileContent span.error {
  margin-left: 0;
}

table.cloudSettings {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;

  margin-top: 1em;
  margin-bottom: 1ex;
}

table.cloudSettings tr.header {
  background-color: #f5f5f5;
}

table.cloudSettings td, table.cloudSettings th {
  padding: 3px 3px 3px 0.5em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: left;
}

table.cloudSettings td.edit {
  text-align: center;
}

table.cloudSettings td.buttons {
  width: 13%;
  text-align: right;
}

table.cloudSettings td.buttons input {
  width: 4em;
}

table.cloudSettings td.buttons a {
  padding-right: 1.5em;
}

table.cloudSettings tr.image,
table.cloudSettings tr.adminHeader {
  background-color: #f5f5f5;
  margin-top: 3px;
  font-weight: bold;
}

table.cloudSettings tr.instance,
table.cloudSettings tr.noInstance {
  font-weight: normal;
}

table.cloudSettings td.instanceName {
  padding-left: 2em;
}

table.cloudSettings td.instanceNameGrayed {
  color: #888;
}

table.cloudSettings td.instanceName span.selected {
  text-decoration: underline;
}

span.cloud_error {
  float: none;
}

table.cloudSettings td.noRightBorder {
  border-right: none;
}

div#cloudErrorsPopup {
  overflow: auto;
  width: 30em;
  max-height: 20em;
}

div#cloudErrorsPopup div.spacer {
  width: 30em;
}

div#cloudErrorsPopupDetails {
  padding-top: 5px;
}

div#cloudErrorsPopup div.cloudHeader {
  clear: both;
  font-weight: bold;
}

div.newProfileFormDialog {
  width: 40em;
}

div.newProfileFormDialog table .textProperty {
  width: 23em;
}

div.newProfileFormDialog table select {
  width: 23.4em;
}

div.newProfileFormDialog span.error,
div.newProfileFormDialog span.smallNote {
  margin-left: 0;
}

div.newProfileFormDialog table {
  width: 100%
}

div.newProfileFormDialog table th {
  vertical-align: top;
  text-align: left;
}

div.newProfileFormDialog .runnerFormTable th label {
  display: block;
  width: 10em;
  vertical-align: top;
  text-align: left;
}

table.cloudSettings tr.image_details td dl {
  margin: 0;
  padding: 0;
}

table.cloudSettings tr.image_details td dt {
  clear: both;
  float: left;
  min-width: 10em;
  margin: 0;
  padding: 0;
}

table.cloudSettings tr.image_details td dd {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/*-------- end*/