<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"
  %><%@ taglib prefix="bs" tagdir="/WEB-INF/tags"
  %><img src="${serverPath}<c:url value="/img/artifacts.gif"/>" width="16" height="16" class="icon" alt="View build artifacts"/>