<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"
%><%@ attribute name="treeId" type="java.lang.String" required="false"
%><%@ attribute name="callback" type="java.lang.String" required="false"
%><%@ attribute name="fieldId" type="java.lang.String" required="false"

%><jsp:include page="/vcsTreePopup.html?treeId=${treeId}&callback=${callback}&fieldId=${fieldId}"/>
