.ufd.default {
  height: 20px;
  background-color: #B5B8C8; /* http://blog.toolman.geek.nz/2009/12/annoying-ie6-bug-of-day.html */
  border: 1px solid #B5B8C8;
}

.ufd.default input {
  height: 18px;
  line-height: 18px !important;
  padding: 1px 3px;
  border: 0;
}

.ufd.default input.disabled {
  background-image: none;
  color: #777;
  background-color: #eee !important;
}

.ufd.default button {
  width: 16px;
  height: 21px;
  background: url(icon.png) no-repeat 0 -2px;
  margin-left: 1px;
}

.ufd.default button.hover {
  background-position: -17px -2px;
}

.ufd.default button.mouseDown {
  background-position: -34px -2px;
}

.ufd.default button.disabled {
  background-position: -51px -2px !important;
}

#ufd-container .default div.list-scroll {
  border: 1px solid #B5B8C8;
  background-color: #FFFFFF;
}

#ufd-container .default li {
  padding-left: 5px;
  background-color: white;
}

#ufd-container .default li em {
  font-weight: bold;
  font-style: normal;
}

#ufd-container .default li.active {
  background-color: #3773C9;
  color: white;
}

#ufd-container .default li.unfilterable.active {
  background: #FFF;
  color: #151515;
}

#ufd-container .default li.optgroup {
  font-weight: bold;
}

#ufd-container .default li.option {
  padding-left: 15px;
}

#ufd-container .default li.nogroup {
  padding-left: 5px;
}
