@import url("../settingsTable.css");

h2 {
  width: 100%;
  padding-top: 10px;
  padding-right: 0;
  border-bottom: 1px solid #ccc;
}

h2.noBorder {
  padding-top: 0;
  border: none;
}

p.sectionDescription {
  margin: 0 0 1em;
  padding: 0;

  font-style: italic;
}

#content {
  margin-top: 1em;
}

#container {
  padding: 10px 0 0 0;
}

td.copy, td.move {
  width: 5%;
  text-align: center;
  font-size: 70%;
  border-left: 1px solid #ccc;
}

p.createProject {
  float: right;
  margin-top: 0;
}

tr.buildConfigurationRow td.addBuildConfiguration {
  border-right: none;
}

table.settings td {
  padding-left: 1em;
  border-right: 1px solid #ccc;
}

table.settings th.name, table.settings th.runner {
  background-color: #f5f5f5;
  width: auto;
  padding-left: 1em;
  border-right: 1px solid #ccc;
  text-align: left;
  font-size: 90%;
}

table.settings th.usedIn {
  width: 25%;
}

table.settings th.vcsRootScope {
  width: 15%;
}

.configurationSection #configurations, .configurationSection #templates {
  margin-top: 1em;
}

.vcsRootsSection, .errorSection, .templatesSection {
  background-color: #f5f5f5;
  margin-top: 0.5em;
  padding: 3px;
}

.vcsRootsSection .attentionComment, .templatesSection .attentionComment {
  background-color: #ffffcc;
  border: none;
}

.vcsRootsSection ul, .templatesSection ul {
  margin: 0;
  padding: 0 0 0 0.5em;
  list-style: none;
}

#copyProjectFormDialog, #copyBuildTypeFormDialog {
  width: 37em;
}

span.templateUsage {
  float: right;
}

#templateUsagesPopup {
  width: 30em;
}

/* sidebar */

#admin-container {
  width: 100%;
  border-collapse: collapse;
}

.admin-sidebar, .admin-content {
  vertical-align: top;
}

.admin-sidebar {
  width: 15%;
  min-width: 14em;
  padding: 0 2em 1em 0;
}

.admin-sidebar .item, .admin-sidebar .category {
  padding: 0.2em 0;
}

.admin-sidebar .category:first-child {
  padding-top: 0;
}

.admin-sidebar .item {
  padding-left: 2em;
}

.admin-sidebar .item.active {
  background: #E9F3FD;
  font-weight: bold;
}

.admin-sidebar .item:hover {
  background: #E9F3FD;
}

.admin-sidebar .item a {
  display: block;
  text-decoration: none;
}

.admin-sidebar .item + .category {
  margin-top: 1em;
}
