/*----------- Filter pane styles */
#auditLogFilterForm {
  margin: 0;
}

.comboBox {
  max-width: 175px;
  margin-right: 10px;
}

.numberRows {
  float: right;
}

#auditPermalink {
  margin: 3px 10px 3px 0;
  text-align: right;
}

/*----------- Audit table styles */

table.auditLog {
  font-size: 90%;
}

table.auditLog th, table.auditLog td {
  padding: 3px 1em;
}

table.auditLog th {
  background-color: #F5F5F5;
  border-top: 1px solid #CCC;
  text-align: left;
}

table.auditLog td.date {
  width: 7%;
}

table.auditLog td.user {
  width: 15%;
}
