div.editBuildPageGeneral {
  background-color: white;
  float: left;
  width: 75%;
  margin: 0;
  padding: 0;
}

.gt1200 div.editBuildPageGeneral {
  width: 78%;
  margin-right: 1em;
}

/*----------- Ordered list of build configuration steps */

#sidebarAdmin h2 {
  padding-top: 0;
}

.configurationSection table {
  width: 100%;
  height: 3.8em;
  font-size: 110%;
  border-bottom: 4px solid #fff;
  border-collapse: collapse;
}

.configurationSection table td {
  padding: 0;
}

.configurationSection table.step {
  background-color: #E3E9EF;
}

.configurationSection table.highlightedStep {
  background-color: #ffffcc;
}

.configurationSection table.highlightedStep td.number {
  color: #DBDBDC;
}

.configurationSection td.number {
  width: 20%;
  padding: .3em;
  font-size: 230%;
  color: white;
  font-weight: bold;
}

.configurationSection table.selectedStep td.number {
  color: #DBDBDC;
}

.configurationSection td.text {
  padding-right: .3em;
  vertical-align: middle;
}

.configurationSection .stepLink {
  display: block;
  padding: 1em 0;
  outline: none;
}

.checkoutTypeWarning {
  margin-top: 0;
  margin-bottom: .8em;
}

/* Styles for build type VCS roots */
table.actionTable {
  width: 100%;
  margin-top: 0.5em;
  padding: 0;
  border-collapse: collapse;
}

table.actionTable th, table.actionTable td {
  margin: 0;
  padding: 2px 0;
  vertical-align: top;
}

table.actionTable td.option {
  width: 30%;
  white-space: nowrap;
  font-weight: bold;
}

table.actionTable td.selector {
  width: 69%;
}

/* edit checkout rules dialog */
#editCheckoutRulesFormDialog {
  width: 40em;
}

.templateNote {
  margin: 0 0 1em;
  padding: 4px;
  border: 1px solid #ccc;
}

.undefinedParam {
  color: #ED2C10;
}

.inheritedParam {
  color: #888;
  font-style: italic;
}

td.stepName div.stepDescription {
  display: none;
}

td.stepName div.stepName strong {
  font-weight: normal;
}

td.stepDescription div.stepName {
  display: none;
}

#inheritedParamName {
  margin-left: 5.5em;
}

#availableParamsPopup {
  background-color: #fff;
  position: absolute;
  display: none;
  z-index: 30;
  padding: 0;
  border: 1px solid;
  border-color: #ccc #666 #666 #ccc;
  text-align: left;
  overflow-y: auto;
}

#availableParamsPopup table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  font-size: 85%;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

#availableParamsPopup table td, #availableParamsPopup table th {
  padding: 3px 3px 3px 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: left;
}

#availableParamsPopup table th.paramName {
  width: 35%;
  white-space: nowrap;
}

#availableParamsPopup table th.paramDescription {
  width: 65%;
}

#availableParamsPopup div.separator {
  height: 3px;
}

.buildStepsMenu table {
  width: 100%;
}

.buildStepsMenu th {
  background-color: #eee;
  padding: 5px 5px 5px 10px;
  text-align: left;
}

.buildStepsMenu td {
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid #eee;
}

table.parametersTable {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

table.parametersTable th {
  background-color: #f5f5f5;
  text-align: left;
  font-weight: normal;
  color: black;
  border: 1px solid #ccc;
}

table.parametersTable th, table.parametersTable td {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: .3em 0 .3em 0.3em;
  vertical-align: top;
}

table.parametersTable td.edit {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#copyBuildStepFormDialog {
  width: 37em;
}

#autoCheckout, #customCheckout {
  margin: 0.5em 0 0;
}

.buildStepsPopup {
  z-index: 999 !important;
}