.runnerFormTable th {
  width: 26%;
}

tr.tableHead {
  background-color: #f5f5f5;
}

tr.tableHead th {
  border-top: 1px solid #ccc;
}

tr.defaultRule td {
  padding-bottom: .5em;
}

tr.defaultRule td.project {
  width: 45%;
}

div.editCleanupPoliciesPage {
  background-color: white;
  margin: 0;
  padding: 10px 0 0 0;
}

div.editPolicyDialog {
  width: 34em;
}

th.project {
  width: 15%;
}

th.buildType {
  width: 30%;
}

td.project, td.buildType, th.project, th.buildType, th.deaultRuleCaption {
  border-right: 1px solid #ccc;
  padding-left: 1em;
  vertical-align: top;
}

td.description, th.description {
  padding-left: 1em;
  border-right: 1px solid #ccc;
}

table.settings td.description {
  border-right: none;
}

table.settings td.edit {
  vertical-align: top;
}

th.dataToClean, td.dataToClean {
  width: 12%;
  padding-left: 1em;
  border-right: 1px solid #ccc;
}

th.project, th.buildType, th.dataToClean, th.description, th.deaultRuleCaption {
  text-align: left;
  font-size: 90%;
}

td.cannotBeEdited {
  width: 15%;
  text-align: center;
}

span.cannotBeEdited {
  font-size: 90%;
}

#cleanupTimeForm {
  margin-bottom: 1em;
}

#editPolicyDialog h2 {
  margin-top: 0;
  margin-bottom: 7px;
  padding-top: 0;
  font-size: 16px;
}

#editPolicyDialog .editPolicySection {
  margin-bottom: 1em;
}

#editPolicyDialog .rule {
  margin: 10px 0;
  line-height: 2;
}

div.radioDefault {
  margin: 5px 0;
}

td.status {
  text-align: right;
}

span.defaults {
  font-style: italic;
  color: silver;
}

div.levelDetails {
  margin-top: -.7em;
  padding: 0;
  font-size: 90%;
  color: #888;
}

/*---- enabled/disabled */
span.enabled {
  color: green;
}

span.disabled {
  color: #ED2C10;
}

span.cleanupRuleNote {
  float: left;
  font-weight: normal;
  font-size: 95%;
}