@import url("params.css");

h2.noBorder {
  margin-bottom: 5px;
}

div.editParameterDialog {
  width: 35em;
}

div.editParamFormDialog {
  width: 35em;
}

div.editParamFormDialog .runnerFormTable td {
  padding-right: 1.8em;
}

div.parameterSpecEditFormDialog {
  width: 45em;
}

.editParameter {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 2.5em;
}

label.editParameterLabel {
  width: 5em;
}

.predefinedBlock {
  margin: 5px 0 0 0;
  padding-top: 5px;
  font-size: 90%;
}

.predefinedBlock table {
  margin-top: 5px;
}

div.predefinedBlock table td {
  vertical-align: top;
}

.predefinedBlock table td.nowrap {
  white-space: nowrap;
}

#systemParams, #envParams {
  margin-top: 10px;
}

#expandControl {
  width: 31.5em;
  text-align: right;
}

#expandControl a {
  font-size: 85%;
}

#userParams {
  width: 70%;
}

.editBuildPageGeneral #userParams {
  width: 100%;
}