table.settings td.edit {
  width: 4%;
}

div.triggerOption label {
  width: 9em;
}

p.triggersP {
  margin-left: 2em;
}

p.triggersP span.error, p.triggersP span.smallNote {
  margin-left: 0;
}

p.triggersP textarea {
  width: 500px;
}

.editTriggerDialog {
  width: 27em;
}

#dayOfWeek {
  width: 9em;
}

#schedulingPolicy {
  width: 15em;
}

/*---------- Dependency triggering styles ---------------*/

ul#dependencyUL {
  margin-top: .5em;
  margin-left: 0;
  padding-left: 1.5em;
}

ul#dependencyUL li {
  list-style: none;
  padding: .1em 0;
  line-height: 2em;
  border-bottom: 1px solid #ccc;
  font-size: 90%;
}

ul#dependencyUL li a {
  float: right;
}

#buildDependencyTriggerFormDialog {
  width: 35em;
}

#mavenTriggerFormDialog {
  width: 40em;
}

#buildDependencyTriggerFormDialog select {
  width: 20em;
}

#mavenTriggerFormDialog label {
  width: 10em;
}

#buildDependencyTriggerFormDialog label {
  width: 7em;
}

#buildDependencyTriggerFormDialog .buildTypeChooser {
  margin-bottom: 0.5em;
}

#mavenTriggerFormDialog .runnerFormTable {
  width: 90%;
  padding: 1px;
}
