/* ----------- Settings for iprSettings.tag: -------------*/
td.unresolvedModules div {
  font-weight: bold;
}

td.pathVariableName, td.libraryName {
  font-weight: bold;
  vertical-align: top;
}

.runnerFormTable td.pathVariableValue label, .runnerFormTable td.libraryValue label {
  float: left;
  width: 9em;
}

.runnerFormTable td.libraryValue label.removeJdk {
  float: none;
  width: auto;
}

td.pathVariableValue input, input.libraryPath {
  width: 290px;
}

.cannotResolveMessage {
  margin-bottom: 5px;
}

#globalLibrariesSection {
  margin-top: .5em;
}