div#sidebarAdmin {
  float: right;
  width: 25%;
}

/*--------------- create project page styles*/
.disabledConfigurationSection {
  margin-top: 10px;
}

/*--------------- edit project page styles*/
div.editProjectPage {
  float: left;
  width: 70%;
  margin: 0;
  padding: 0;
}

div.editProjectPage .configurationSection {
  margin-top: 2em;
}

ul.vcsPluginsList {
  list-style: none;
  margin-left: 0;
  padding: 0.7em 0 0 0;
}

ul.vcsPluginsList li {
  background: url("../../img/add.gif") no-repeat center left;
  display: inline;
  margin: 0 0.9em 0 0;
  padding-left: 1em;
}

ul.vcsPluginsList li a {
  white-space: nowrap;
  padding: 0 0 0 5px;
  font-weight: bold;
}

div.unusedVcsRoots {
  padding-top: 0.5em;
}

.configurationSection .shift {
  margin-left: 1.5em;
}

.configurationSection .runner {
  vertical-align: top;
}
