#reportTabsList {
  margin-top: 1em;
}

table.reportTabsTable {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

table.reportTabsTable td, table.reportTabsTable th {
  padding: 3px 3px 3px 0.5em;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  text-align: left;
}

table.reportTabsTable tr.reportTabsHead {
  background-color: #f5f5f5;
}

table.reportTabsTable td.edit {
  text-align: center;
  font-size: 90%;
}

.editReportTabDialog {
  width: 49em;
}

table.editTabSettingsTable {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table.editTabSettingsTable td {
  margin: 0;
  padding: 8px;
  vertical-align: top;
}

table.editTabSettingsTable div.smallNote, span.error {
  margin: 0;
  padding: 0;
}

table.editTabSettingsTable th {
  width: 20%;
  padding-top: 12px;
  text-align: left;
  vertical-align: top;
}

table.editTabSettingsTable th label {
  white-space: nowrap;
}

table.editTabSettingsTable .buildNumberPattern {
  margin-top: 0.2em;
}