@import url("params.css");

p.note {
  padding-top: 0;
}

span#editLink {
  display: none;
}

div.editRequirementLink {
  background: url("../../img/add.gif") no-repeat;
  padding-left: 1em;
}

div.editRequirementDialog {
  width: 41em;
}

.editRequirement {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 2.5em;
}

label.editRequirementLabel {
  float: left;
  width: 10em;
}

table.requirementsActions {
  border-collapse: collapse;
}

table.frequentlyUsedReqsTable {
  width: 100%;
}

table.frequentlyUsedReqsTable td {
  padding-right: 4px;
  padding-left: 4px;
}

table.frequentlyUsedReqsTable td.progress {
  width: 2.5em;
}

table.frequentlyUsedReqsTable td input {
  width: 4em;
}

table.frequentlyUsedReqsTable td.requirement {
  width: 26em;
}

div#frequentlyUsedReqs {
  width: 29em;
}

ul.definedInList {
  list-style: none;
  margin: 0;
  padding: 0;
}

#inheritedParamName {
  margin-left: 10em;
  padding-left: 0;
}

.settings td.type {
  width: 5%;
  padding-left: 1em;
  text-align: right;
  border-right: none;
}

td.moreActions {
  padding-top: 0;
  padding-left: 2em;
}