.serverConfigPage {
  margin: 0;
  padding: 0;
}

.serverConfigPage p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.serverConfigPage h3 {
  margin-bottom: -0.5em;
}

div.unscalableDbWarning {
  background: #ffffff url("../../img/attentionComment.gif") no-repeat 0 3px;
  margin: 0;
  padding-left: 20px;
  font-size: 90%;
}

#internalProperties {
  width: 70%;
  margin-top: 6px;
}

#internalProperties td.values {
  padding: 15px 0 15px 4px;
}

#internalProperties .value {
  color: #008000;
}

#internalProperties .crossed {
  text-decoration: line-through;
}

/*------------------    Plugins TAB --------------*/
.pluginsTable th {
  background-color: #F5F5F5;
  padding: 2px 6px;
  border-top: 1px solid #CCC;
  text-align: left;
}

.pluginsTable td {
  padding: 2px 6px;
  vertical-align: top;
}

.pluginsTable td .smallNote {
  margin: 0;
  padding: 0.2em 0;
  line-height: 1.2;
}
