/* Create from template dialog. */

#createBuildTypeFromTemplateDialog, #useTemplateFormDialog {
  width: 38em;
}

#createFromTemplateParams, #templateParameters {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

#createBuildTypeFromTemplate .runnerFormTable td,
#useTemplateForm .runnerFormTable td,
#extractTemplateForm .runnerFormTable td {
  border-right: none;
  vertical-align: top;
}

#createBuildTypeFromTemplate .runnerFormTable td.name,
#useTemplateForm .runnerFormTable td.name {
  width: 30%;
}

#createBuildTypeFromTemplate .runnerFormTable td.value,
#useTemplateForm .runnerFormTable td.value {
  width: 50%;
  padding-right: 2em;
}
