#userList {
  margin: 0.2em;
}

#userList .pager-top {
  margin: 0 0 .7em;
}

#userList .messageWrapper {
  height: 1.5em;
  margin-bottom: 0.5em;
}

table.userListTopTable {
  width: 100%;
  margin: 0 0 0.3em 0;
  padding: 0;
  border-collapse: collapse;
  border: 0;
}

table.userListTopTable td {
  padding: 0;
  white-space: nowrap;
}

p.addNewImposs {
  padding: 0 0 0 1.5em;
  background: url("../../img/attentionComment.gif") no-repeat left center;
}

table.userList {
  width: 100%;
  margin: 0 0 1em;
  padding: 0;
  border-bottom: solid 2px #e3e9ef;
  border-collapse: collapse;
}

table.userList th.selectAll {
  width: 2em;
  padding-left: 8px;
}

table.userList td.selectUser {
  width: 2em;
  padding-left: 8px;
}

table.userList td.username {
  width: 14em;
}

table.userList td.fullname {
  width: 18em;
}

table.userList td.email {
  width: 18em;
}

table.userList td.groups, table.userList td.roles {
  width: 6em;
}

table.userList td.date {
  width: 9.5em;
  text-align: left;
}

.selectAllNoneLinks {
  margin: 0;
  padding: 0;
  font-size: 80%;
  font-weight: normal;
}

.selectAllNoneLinks .selectAll {
  float: none;
  color: white;
  text-decoration: underline;
}

.selectAllNoneLinks .unselectAll {
  float: none;
  padding-right: 0;
  color: white;
  text-decoration: underline;
}

a.selectAll:hover, a.unselectAll:hover {
  color: white;
}

p.note {
  margin: 0;
  padding: 0;
}

table.usersActions {
  width: 100%;
  margin-top: 1em;
  border-collapse: collapse;
}

table.usersActions td {
  padding: 0.4em 0;
}

table.usersActions .moreActions {
  padding-left: 2em;
}

table.usersActions .usersToShow {
  text-align: right;
}