table.userListFilter {
  width: 100%;
  margin-bottom: 0.3em;
  background-color: #f5f5f5;
  border-collapse: collapse;
  cursor: auto;
}

table.userListFilter td {
  padding: 10px 5px 5px;
}

table.userListFilter td.label {
  width: 3em;
  padding-left: 10px;
}

table.userListFilter td.roleProjectLabel {
  width: 7em;
}

table.userListFilter td.firstLabel {
  padding-left: 10px;
}

table.userListFilter td.keywordField {
  width: 17em;
}

table.userListFilter td.group {
  width: 30em;
}

table.userListFilter td.button {
  width: 4.5em;
  text-align: left;
}

table.userListFilter td.usersToShow {
  white-space: nowrap;
}

table.userListFilter label {
  white-space: nowrap;
}
