.systemProblemsBar {
  max-width: 40em;
  margin-left: 0.5em;
}

table.projectVcsRoots tr.vcsRoot {
  background-color: #f5f5f5;
}

table.projectVcsRoots td.buildConfiguration {
  text-indent: 2em;
}

table.projectVcsRoots td.addBuildConfiguration p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2em;
}

table.projectVcsRoots td.noPerms {
  width: 10%;
  font-size: 90%;
  white-space: nowrap;
}

td.noPerms {
  width: 5%;
  font-size: 85%;
  text-align: center;
}