.editVcsRootPage {
  float: left;
  width: 70%;
  margin: 0;
  padding: 10px 0 0 0;
}

.vcsSettings .runnerFormTable {
  margin-bottom: 2em;
}

table.saveVcsRootOptions {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5;
}

table.saveVcsRootOptions td {
  padding: 5px;
}

#vcsSettingsForm .vcsRootTestConnectionDialog {
  width: 32em;
}
